/* Background
----------------------------------------------------------------------------------------*/
.bg {

	/* 
	background-position:
		@param horizontal positioning
			takes effect when viewport width is smaller than background-size
			*center*: makes clipping occur evenly on left/right
			*left*
			*right*
		@param vertical positioning
			takes affect when the div height is less than the image height 
			(background-size * img height / img width)
			*center*
			*top*
			*bottom*
	*/
	
	color: #fff;
	
	h1, h2, h3, h4, h5, h6 {
		color: #eee;
	}
	background-color: #555;
	background-image: image-url("intel-processor.jpg");
	background-repeat: no-repeat;
	background-size: 768px;
	background-position: center center;
	
	padding-top: 50px;
	padding-bottom: 50px;	
	
	@media only screen and (min-width: 768px){
		background-size: 992px;
		padding-top: 100px;
		padding-bottom: 100px;
	}
	
	@media only screen and (min-width: 992px) {
		background-size: 100%;
		padding-top: 120px;
		padding-bottom: 120px;
	}
	
	/*
	@media only screen and (min-width: 62em){
		background-size: 100%;
		padding-top: 100px;
		padding-bottom: 100px;
		background-position: center center;
		font-size: 22px;
	}
	
	@media only screen and (min-width: 75em){
		padding-top: 150px;
		padding-bottom: 150px;
	}
	*/
}


.bg.bg-design {
	background-image: image-url("bg/design-traingle.jpg");
	background-position: center bottom;
}

.bg.bg-prague {
	background-image: image-url("bg/prague.jpg");
	background-position: center bottom;
}


.bg.bg-hiroshima {
	background-image: image-url("bg/bg-hiroshima-2.jpg");
	background-position: center top;
}