/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"RegulaOldFace";
	src: url("/fonts/RegulaOldFace.eot?") format("eot"), /* IE9 Compat Modes */
		 url("/fonts/RegulaOldFace.woff") format("woff"), /* Pretty Modern Browsers */
		 url("/fonts/RegulaOldFace.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("/fonts/RegulaOldFace.svg#RegulaOldFace") format("svg"); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'pt_serif';
    src: url('/fonts/PTF55F-webfont.eot');
    src: url('/fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PTF55F-webfont.woff') format('woff'),
         url('/fonts/PTF55F-webfont.ttf') format('truetype'),
         url('/fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

small {
	font-size: 0.7em;
}


