div.book {
	font-family: 'pt_serif', serif;
	font-family: 'Georgia', serif;
	/*
	font-size: 18px;
	
	@media only screen and (min-width: 768px){
		font-size: 20px;
	}
	
	@media only screen and (min-width: 992px) {
		font-size: 22px;
	}
	*/

}


div.proceedings {
	/*
	a {
		color: #333;
		border-bottom: 1px solid #ddd;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	a:hover {
		border-bottom: 1px solid #333;
		text-decoration: none;
	}
	*/
	
	color: #555;
	p {
		color: #ccc;
	}

	
}