
p.tight-bottom {
	-webkit-margin-after: 0;
}

p.presentation {
	a {
		color: #333;
		border-bottom: 1px solid #ddd;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	color: #ccc;
	
	a:hover {
		border-bottom: 1px solid #333;
		text-decoration: none;
	}
}
