<!--
<div class="bg bg-primary-gradient">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-10 col-md-offset-1">


				<h3 class="h3-subtle">ACADEMIC ACCESS PROGRAM</h3>

			</div>
		</div>
	</div>
</div>
-->

<div class="container container-post-nav">
	<div class="row row-feature row-feature-first">
		<div class="col-md-8 col-md-offset-2">

			<h1>ACADEMIC ACCESS PROGRAM (AAP)</h1>

			<p>The EUREKA AAP welcomes proposals from academic institutions and non-profit research organizations. We strive to support the development and testing of new ideas in lithographic imaging, and related technologies, and to foster student research.  Time is available on the MET, lithographic-printing / resist-testing tool, and on the SHARP EUV mask imaging microscope.</p>

			<p>To apply for access to EUREKA facilities, please fill in the <a href="">Research Proposal Form</a>, and email it to <a mailto="access@eureka.lbl.gov">access@eureka.lbl.gov</a></p>


			<p>New proposals will be evaluated quarterly. Proposals not granted beam time in a given period will be held for reconsideration in each subsequent quarter, for one year. Proposals will be evaluated on a combination of scientific merit, relevance, novelty, potential impact, the perceived likelihood of experiment success, and the availability of experimental time. Please address those issues in your abstract.</p>

			<p>For detailed information about tool capabilities and sample requirements, please contact LBNL project leaders.</p>





		</div>
	</div>


</div>
