
<div class="bg bg-primary-gradient">
	<div class="container container-post-nav">
		<div class="row text-center">
			<div class="col-md-10 col-md-offset-1">


				<!--<h3 class="h3-subtle">MISSION</h3>-->
				<h1 class="h1-thin h1-tight-top">EUREKA  supports industry precompetitive needs in advanced EUV research and development through the development, deployment, and operation of unique instrumentation.</h1>
			</div>
		</div>
	</div>
</div>


<ng-include src="'templates/member-logos-core-sq.html'"></ng-include>
<ng-include src="'templates/member-logos-associate-sq.html'"></ng-include>
<ng-include src="'templates/member-logos-partners-sq.html'"></ng-include>


<div class="container">
	<div class="row row-feature "> <!--row-feature-first -->
		<div class="col-md-12">
			<h2 class="text-center">FACILITIES</h2>
			<div class="row row-no-container row-feature">
				<div class="col-md-4">
					<div class="card card-material">
					  <h3>EUV LITHOGRAPHY</h3>
						<p>The MET has been an engine for 10-nm-node EUV materials learning for over a decade.  Testing 1500 new EUV material systems each year, the MET is used by researchers around the world for early learning in key areas such as EUV resists, processing, and masks.</p>

						<!-- 							ng-click="changeState('app.euv-lithography')" -->
						<a href="http://met.lbl.gov"
								target="blank"
								class="btn btn-primary btn-block btn-material">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-material">
					  <h3>EUV MASK INSPECTION</h3>

						<!--<h4>Need to measure EUV photomasks? We’re here to help.</h4>-->
						<p>SHARP is a highly-flexible mask-imaging microscope, staffed by experts in the field, boasting the world’s highest EUV resolution, and designed to investigate the most pressing issues in photomask development and commercialization, now and far into the future.</p>


						<a 	href="http://sharp.lbl.gov"
								target="blank"
								class="btn btn-primary btn-block btn-material">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-material">
					  <h3>REFLECTOMETRY</h3>
						<p>The CXRO Reflectometer serves as a worldwide reference standard. Its high accuracy and unrivaled precision enable it to characterize the fundamental optical properties of materials, the quality of optical elements, the efficiency of grating spectrometers, the scattering properties of ultra-smooth surfaces, and the sensitivity of detectors, at EUV and soft x-ray wavelengths.</p>

						<!-- ng-click="changeState('app.reflectometry')" -->
						<a href="http://cxro.lbl.gov/reflectometer"
								target="blank"
								class="btn btn-primary btn-block btn-material">Learn More</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
