

<div class="container">
	<div class="row row-feature row-feature text-center"> <!--row-feature-first -->
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<h2>PARTNERS</h2>
			<div class="row row-top row-no-container">
				<div class="col-md-4">
					<a href="http://energy.gov"
						 title="United States Department of Energy">
						<img src="img/logo/logo-square/usdoe.png"
									alt="US Department of Energy logo">
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://cxro.lbl.gov"
							title="The Center for X-Ray Optics">
						<img src="img/logo/logo-square/cxro.png"
									alt="Center For X-Ray Optics logo">
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://www.lbl.gov"
						 title="Berkeley Lab">
						<img src="img/logo/logo-square/lbl.png"
									alt="Berkeley Lab logo">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
