
<div class="container">
	<div class="row row-feature row-feature-first text-center"> <!--row-feature-first -->
		<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<h2>CORE MEMBERS</h2>
			<div class="row row-top row-no-container">
				<div class="col-md-4">
					<a href="http://www.intel.com"
							title="Intel Corporation">
						<img src="img/logo/logo-square/intel.png"
									alt="Intel logo">
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://www.tsmc.com"
							title="Taiwan Semiconductor Manufacturing Company">
						<img src="img/logo/logo-square/tsmc.png"
									alt="Taiwan Semiconductor Manufacturing Company (TSMC) logo">
					</a>
				</div>
				<div class="col-md-4">
					<a href="http://www.samsung.com"
						title="Samsung Electronics">
						<img src="img/logo/logo-square/samsung.png"
									alt="Samsung logo">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
