
<h2>
    October 07-09, 2004<br>
    San Diego, USA
</h2>
	  <TABLE>

        <TR valign="top">

          <TD><H3>Tuesday, November 2, 2004</H3></TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

        <TR valign="top">

          <TD>Next generation Extreme Ultraviolet Sources for Lithography Applications</TD>

          <TD noWrap>V.Y. Banine</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So01-Banine.pdf">So01-Banine.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV Source Development at XTREME technologies &ndash; An Update</TD>

          <TD noWrap>U. Stamm</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So02_U_Stamm.pdf">So02_U_Stamm.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV Source System Development Update: A Path to HVM</TD>

          <TD noWrap>Dave Myers</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So03_Myers.pdf">So03_Myers.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Update on Philips&rsquo; EUV Light Source</TD>

          <TD noWrap>Joseph Pankert</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So04_Pankert.pdf">So04_Pankert.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>High-power capillary Z-pinch EUV source development</TD>

          <TD noWrap>Yusuke Teramoto</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So05_Teramoto.pdf">So05_Teramoto.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Development Status of High Power Tin Gas Discharge Produced Plasma Sources for Next Generation EUV Lithography</TD>

          <TD noWrap>Jens Ringling</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So06_Ringling.pdf">So06_Ringling.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Performance of Laser Produced Xe Plasma Light Source for EUV Lithography</TD>

          <TD noWrap>Akira Endo</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So07_Endo.pdf">So07_Endo.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>High Power Cost Effective Laser Modules for Laser Produced Plasmas (LPP) EUV Source</TD>

          <TD noWrap>Samir Ellwi</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So08_Ellwi.pdf">So08_Ellwi.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>The tin-doped droplet laser-plasma EUV source</TD>

          <TD noWrap>M. Richardson</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/So09_Richardson.pdf">So09_Richardson.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>U.S. Update</TD>

          <TD noWrap>Stefan Wurm </TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/US_Update_Wurm.pdf">US_Update_Wurm.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>IEUVI Update </TD>

          <TD noWrap>Kevin Kemp</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/IE01_Kemp.pdf">IE01_Kemp.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Progress Toward Projection Optics Contamination and  Condenser Erosion Test Protocols</TD>

          <TD noWrap>Ginger Edwards</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co01_Edwards.pdf">Co01_Edward.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Erosion of the condenser optics of the Engineering Test Stand</TD>

          <TD noWrap>Charles Tarrio</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co02_Charles_Tarrio.pdf">Co02_Charles_Tarrio.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Estimations on Generation of High Energy Particles from LPP EUV Light Sources</TD>

          <TD noWrap>Hiroyuki Furukawa</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co03_Furukawa.pdf">Co03_Furukawa.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Gaseous Tin EUV Light Source Debris Mitigation and Characterization</TD>

          <TD noWrap>David N. Ruzic</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co04_Ruzic.pdf">Co04_Ruzic.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Magnetic Field Ion Mitigation for Collector Mirrors</TD>

          <TD noWrap>Hiroshi Komori</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co05_Komori.pdf">Co05_Komori.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Surface phenomena related to degradation of EUV Mirrors</TD>

          <TD noWrap>Theodore E. Madey</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co06_madey.pdf">Co06_madey.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Screening of oxidation resistant capping layers for EUV multilayers</TD>

          <TD noWrap>Sa&scaron;a Bajt</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co07_Sasa_Bajt.pdf">Co07_Sasa_Bajt.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV and E-beam Exposures of Ruthenium-Capped Multilayer Mirrors </TD>

          <TD noWrap>Shannon Hill</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co08_Hill.pdf">Co08_Hill.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Contamination Removal for EUV Multilayer Optics Utilizing Atomic Hydrogen Generated by Heated Catalyzer</TD>

          <TD noWrap>Hiroaki Oizumi,</TD>

          <TD noWrap><a href="pdf/2004/presentations/day1/Co09_Oizumi.pdf">Co09_Oizumi.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD><H3>&nbsp;</H3></TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

        <TR valign="top">

          <TD><H3>Wednesday, November 3, 2004</H3></TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

<TR valign="top">

          <TD>High resolution EUV microexposures at the ALS</TD>

          <TD noWrap>Patrick P. Naulleau</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Re01_Naulleau.pdf">Re01_Naulleau.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Lithographic Performance of High-Numerical-Aperture (NA=0.3) Small-Field Exposure Tool (HINA) for EUV Lithography</TD>

          <TD noWrap>Hiroaki. Oizumi</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Re02-Oizumi.pdf">Re02-Oizumi.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Resist Evaluation Using EUV Interference Lithography</TD>

          <TD nowrap?>Roel Gronheid</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Re03_Gronheid.pdf">Re03_Gronheid.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Shot Noise, LER and Quantum Efficiency of EUV Photoresists</TD>

          <TD noWrap>Robert L. Brainard</TD>

          <TD noWrap><p><a href="pdf/2004/presentations/day2/Re04_Brainard.pdf">Re04_Brainard.pdf</a></p>          </TD>

        </TR>

        <TR valign="top">

          <TD>Modelling of Chemically Amplified EUV Resist Processes</TD>

          <TD noWrap>Seiichi Tagawa</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Re05_Tagawa.pdf">Re05_Tagawa.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Layout Compensation for EUV Flare using Contemporary EDA Software</TD>

          <TD noWrap>Franklin M. Schellenberg</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Re06_Schellenberg.pdf">Re06_Schellenberg.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Actinic EUV Mask Blank Inspection with Dark-field Imaging Using LPP EUV Source and Two-dimensional CCD Camera</TD>

          <TD noWrap>Tsuneo Terasawa</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Me01_Terasawa.pdf">Me01_Terasawa.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV Mask Inspecton and At-wavelength Imaging Using 13.5nm Light</TD>

          <TD noWrap>Anton Barty</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Me02_barty.pdf">Me02_barty.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Metrology and Removal of Nanoparticles from EUV Substrates</TD>

          <TD noWrap>A. Busnaina</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Me03_guldiken.pdf">Me03_guldiken.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Accuracy evaluation of wavefront metrology for high N.A.</TD>

          <TD noWrap>K. Otaki</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Me04_Otaki.pdf">Me04_Otaki.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>At-wavelength Alignment and Testing of the 0.3 NA MET Optic</TD>

          <TD noWrap>Kenneth A. Goldberg</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Me05_Goldberg.pdf">Me05_Goldberg.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>European Update </TD>

          <TD noWrap>Rob Hartman </TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Europe_overview_Hartman.pdf">Europe_overview_Hartman.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Defect inspection on extreme ultraviolet lithography mask blanks at the Mask Blank Development Center</TD>

          <TD noWrap>Patrick Kearney</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Mu01_Kearney.pdf">Mu01_Kearney.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Investigating the Composition and Potential Sources of Particles in a Low-Defect Mo/Si Deposition Process For Mask Blanks at ISMTN</TD>

          <TD noWrap>Rajul Randive</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Mu02_Randive.pdf">Mu02_Randive.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Commercial EUV Mask Blank Readiness for 45nm Half Pitch (HP) 2009 Manufacturing (Current performance versus requirement needs and timing)</TD>

          <TD noWrap>Phil Seidel</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma01_Phil_Seidel.pdf">Ma01_Phil_Seidel.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Overview of International SEMATECH&rsquo;s Actinic Blank Inspection Program</TD>

          <TD noWrap>Obert Wood</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma02_Obert_Wood.pdf">Ma02_Obert_Wood.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Development of zero expansion silica glass for EUVL substrate</TD>

          <TD noWrap>Kouji Otsuka</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma03_Otsuka.pdf">Ma03_Otsuka.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Advancing the ion beam thin film planarization process to mitigate EUVL mask substrate pit defects</TD>

          <TD noWrap>Paul B. Mirkarimi</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma04_Mirkarimi.pdf">Ma04_Mirkarimi.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV Mask Pilot Line at Intel Corporation</TD>

          <TD noWrap>Alan R. Stivers</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma05_Stivers.pdf">Ma05_Stivers.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Challenges for the Integrated Manufacturing of EUV Masks</TD>

          <TD noWrap>Christian Holfeld</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ma06_Holfeld.pdf">Ma06_Holfeld.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Design and Preliminary Results of a Vacuum Chamber to Evaluate Nanoparticle Protection Schemes for EUVL Vacuum System</TD>

          <TD noWrap>Jung Hyeun Kim</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ha01_Kim.pdf">Ha01_Kim.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV reticles: particle-free handling and storage in the pellicle-less era</TD>

          <TD noWrap>Bas Mertens</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ha02_Mertens Final.pdf">Ha02_Mertens Final.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>An Integrated Demonstration of EUVL Reticle Particle Defect Control</TD>

          <TD noWrap>Arun Ramamoorthy</TD>

          <TD noWrap><a href="pdf/2004/presentations/day2/Ha03_Ramamurthy.pdf">Ha03_Ramamurthy.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD><P></P>

          <H3>EUVL 2004 - Thursday, November 4, 2004</H3></TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

		<TR valign="top">

          <TD>Power Scaling of DPP sources for EUV lithography: Xe or Sn?</TD>

          <TD noWrap>Borisov Vladimir Mikhailovich</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/So10_Borisov.pdf">So10_Borisov.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV Source Evaluation at the Intermediate Focus</TD>

          <TD noWrap>Hajime Kanazawa</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/So11_Kanazawa.pdf">So11_Kanazawa.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Experimental Database of LPP EUV Sources at ILE and ILT</TD>

          <TD noWrap>N. Miyanaga</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/So12 Miyanaga.pdf">So12 Miyanaga.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Recent results on EUV emission from laser produced plasmas with slab targets containing tin</TD>

          <TD noWrap>Gerry O&rsquo;Sullivan</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/So13_OSullivan.pdf">So13_OSullivan.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Modeling of LPP EUV Light Source at Japan MEXT Leading Project</TD>

          <TD>K. Nishihara</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/So14_Nishihara.pdf">So14_Nishihara.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Critical Issues and Challenges in Discharge Produced Plasma for EUV Lithography Devices</TD>

          <TD noWrap>Ahmed Hassanein</TD>

          <TD noWrap>So15.pdf not available </TD>

        </TR>

        <TR valign="top">

          <TD>Modeling of the Non-equilibrium Plasmas of EUV Sources</TD>

          <TD noWrap>Sergey V. Zakharov</TD>

          <TD noWrap><!--So16_zakharov.pdf-->            <a href="pdf/2004/presentations/day3/So16_zakharov.pdf">So16_zakharov.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Status of the Micro Exposure Tool for EUV Microsteppers</TD>

          <TD noWrap>Erik Sohmen</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/To01_Sohmen.pdf">To01_Sohmen.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Progress on ASML&rsquo;s EUV Alpha Demo Tool</TD>

          <TD noWrap>Noreen Harned</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/To02_Harned_Final_Handout.pdf">To02_Harned_Final_Handout.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>The EUV alpha demo tool program at Carl Zeiss SMT AG</TD>

          <TD noWrap>Peter K&uuml;rz</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/To03_Kurz.pdf">To03_Kurz.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUVL development activity at Canon</TD>

          <TD noWrap>Yoshio Gomei </TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/To04_Gomei.pdf">To04_Gomei.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>EUV exposure system development plan in Nikon</TD>

          <TD noWrap>Takeshi Asami</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/To05_Asami.pdf">To05_Asami.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>Japan Update </TD>

          <TD noWrap>Yasuhiro Horiike</TD>

          <TD noWrap><a href="pdf/2004/presentations/day3/Japan_Update_Horiike.pdf">Japan_Update_Horike.pdf</a></TD>

        </TR>

        <TR valign="top">

          <TD>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

        <TR valign="top">

          <TD>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

          <TD noWrap>&nbsp;</TD>

        </TR>

      </TABLE>




