<h2>
    October 07-09, 2005<br>
    San Diego, USA
</h2>
<h2>
    Presentations
</h2>

<h3>
    Monday, November 7
</h3>

<p>
    <a href="/pdf/2005/pres/01%201-Opening-Remarks%20Kemp.pdf" target="_self">2005 EUV Symposium Opening Address</a><br>
    Kevin Kemp, SEMATECH/Freescale
</p>
<p>
    <a href="/pdf/2005/pres/02%201-Keynote-00%20Gargini.pdf" target="_self">Keynote</a><br>
    Paolo Gargini, Intel
</p>

<h3>
    TOOL
</h3>

<p>
    <a href="/pdf/2005/pres/03%201-ET-11%20Harned.pdf" target="_self">Progress on the Realization of EUV Lithography</a><br>
    Hans Meiling
</p>
<p>
    <a href="/pdf/2005/pres/04%201-ET-12%20Uzawa.pdf" target="_self">Canon's Development Status of EUVL Technologies</a><br>
    Shigeyuki Uzawa
</p>
<p>
    <a href="/pdf/2005/pres/05%201-ET-13%20Miura.pdf" target="_self">Progress on the development of EUV exposure tool in Nikon</a><br>
    Takaharu Miura
</p>
<p>
    <a href="/pdf/2005/pres/06%201-ET-14%20Zandbergen.pdf" target="_self">EXCITE, the MEDEA+ Extreme UV Consortium for Imaging Technology</a><br>
    Peter Zandbergen
</p>
<p>
    <a href="/pdf/2005/pres/07%201-ET-15%20Ryan.pdf" target="_self">EUVL capabilities at Albany NanoTech</a><br>
    James Ryan
</p>

<h3>
    SOURCE 1
</h3>

<p>
    <a href="/pdf/2005/pres/08%201-SO-11%20Banine.pdf" target="_self">Next Generation Extreme Ultraviolet Sources for Lithography Applications</a><br>
    Vadim Banine
</p>
<p>
    <a href="/pdf/2005/pres/09%201-SO-12%20Stamm.pdf" target="_self">Development Status of EUV Sources for Use in Beta-Tools and High Volume Chip Manufacturing Tools</a><br>
    Uwe Stamm
</p>
<p>
    <a href="/pdf/2005/pres/10%201-SO-13%20Teramoto.pdf" target="_self">Xe- and Sn-fueled Z-pinch EUV source development aiming at HVM</a><br>
    Yusuke Teramoto
</p>
<p>
    <a href="/pdf/2005/pres/11%201-SO-14%20Tomie.pdf" target="_self">EUV Generation Using a Droplet of Tin Particle Suspension</a><br>
    Toshihisa Tomie
</p>
<p>
    <a href="/pdf/2005/pres/12%20Asia-Pacific%20Update-Horiike.pdf" target="_self">
    <h3>
        Asia/Pacific Regional Update
    </h3></a><br>
    Yasuhiro Horiike, National Institute of Material Science (NIMS), Japan
</p>
<p>
    <a href="/pdf/2005/pres/13%201-IN-11%20Mizoguchi.pdf" target="_self">Development of CO 2 Laser Produced Xe Plasma EUVL Source for Microlithography</a><br>
    Hakaru Mizoguchi, Invited Speaker (Asia/Pacific)
</p>

<h3>
    SOURCE 2
</h3>

<p>
    <a href="/pdf/2005/pres/14%201-SO-21%20Hansson.pdf" target="_self">LPP EUV Source Development for HVM</a><br>
    Bjorn Hansson
</p>
<p>
    <a href="/pdf/2005/pres/15%201-SO-22%20Jonkers.pdf" target="_self">The Philips' Extreme UV Source: Recent Progress in Power, Lifetime and Collector Lifetime</a><br>
    Joseph Pankert
</p>
<p>
    <a href="/pdf/2005/pres/16%201-SO-23%20Zocchi.pdf" target="_self">Optimisation of Optical Design in Grazing Incidence Collector for EUVL DPP Sources</a><br>
    Fabio Zocchi
</p>
<p>
    <a href="/pdf/2005/pres/17%201-SO-24%20Ruzic.pdf" target="_self">Progress Towards Sn DPP and LPP Solution: a source-collector perspective</a><br>
    David N. Ruzic
</p>

<h3>
    SOURCE 3
</h3>

<p>
    <a href="/pdf/2005/pres/18%201-SO-31%20Richardson.pdf" target="_self">The Tin-Doped Droplet Laser Plasma Source &ndash; Satisfying EUVL Requirements</a><br>
    Martin Richardson
</p>
<p>
    <a href="/pdf/2005/pres/19%201-SO-32%20Hassaein.pdf" target="_self">Comprehensive Integrated Simulation and Optimization of Laser Produced Plasma for EUV Lithography Devices</a><br>
    Ahmed Hassanein
</p>
<p>
    <a href="/pdf/2005/pres/20%201-SO-33%20Sunahara.pdf" target="_self">Radiation Hydrodynamic Simulation of EUV Emission from Laser-Produced Plasmas</a><br>
    Atsushi Sunahara
</p>

<h3>
    MASK 1
</h3>

<p>
    <a href="/pdf/2005/pres/21%201-MA-11%20Terasawa.pdf" target="_self">EUV lithography related inspection and metrology research activities at MIRAI</a><br>
    Tsuneo Terasawa
</p>
<p>
    <a href="/pdf/2005/pres/22%201-MA-12%20Barty.pdf" target="_self">Actinic Inspection of Multilayer Coated EUV Masks at the ALS</a><br>
    Anton Barty
</p>
<p>
    <a href="/pdf/2005/pres/23%201-MA-13%20Denbeaux.pdf" target="_self">Extreme Ultraviolet Phase Contract Imaging of Mask Defects</a><br>
    Gregory Denbeaux
</p>

<h3>
    Tuesday, November 8
</h3>

<p>
    <a href="/pdf/2005/pres/24%20Europe%20Update-Hartman.pdf" target="_self">
    <h3>
        EU Regional Update
    </h3></a><br>
    Rob Hartman, ASML
</p>

<h3>
    RESIST 1
</h3>

<p>
    <a href="/pdf/2005/pres/25%202-RE-11%20Oizumi.pdf" target="_self">Patterning Performance of Molecular Resists from the ASET-HINA</a><br>
    Hiroaki Oizumi
</p>
<p>
    <a href="/pdf/2005/pres/26%202-RE-12%20Goethals.pdf" target="_self">Microstepper vs. Interference EUV lithography: effects on resist profiles</a><br>
    Mieke Goethals
</p>
<p>
    <a href="/pdf/2005/pres/27%202-RE-13%20Leeson.pdf" target="_self">EUV Resist Sensitivity Targets</a><br>
    Michael J. Leeson
</p>
<p>
    <a href="/pdf/2005/pres/28%202-IN-11%20Dersch.pdf" target="_self">The Integrated EUV Mask Process at the Advanced Mask Technology Center (AMTC) in Dresden</a><br>
    Uwe Dersch, Invited Speaker (Europe)
</p>

<h3>
    MASK 2
</h3>

<p>
    <a href="/pdf/2005/pres/29%202-MA-21%20Mirkarimi.pdf" target="_self">Smoothing EUVL mask substrate defects much faster and application of the smoothing process to real-world defects</a><br>
    Paul B. Mirkarimi
</p>
<p>
    <a href="/pdf/2005/pres/30%202-MA-22%20Seitz.pdf" target="_self">Critical Challenges of EUV Mask Blank Volume Production</a><br>
    Holger Seitz,
</p>
<p>
    <a href="/pdf/2005/pres/31%202-MA-23%20Iwahashi.pdf" target="_self">Development of Zero Expansion Glass for EUVL Substrate</a><br>
    Yasutomi Iwahashi
</p>

<h3>
    MASK 3
</h3>

<p>
    <a href="/pdf/2005/pres/32%202-MA-31%20Ma.pdf" target="_self">Recent Advances in the Development a Low-Defect Mo/Si Deposition Tool and Process for EUVL Mask Blanks</a><br>
    Rajul Vandeev
</p>
<p>
    <a href="/pdf/2005/pres/33%202-MA-32%20Kamm.pdf" target="_self">Impact of Layout Dependent Flare on Printing in EUVL</a><br>
    Frank-Michael Kamm
</p>
<p>
    <a href="/pdf/2005/pres/34%202-MA-33%20La%20Fontaine.pdf" target="_self">Printing EUV Phase-shift Masks using the 0.3NA Berkeley Micro-exposure Tool</a><br>
    Bruno La Fontaine
</p>

<h3>
    Wednesday, November 9
</h3>


<h3>
    RESIST 2
</h3>

<p>
    <a href="/pdf/2005/pres/35%203-RE-21%20Thackeray.pdf" target="_self">Resolution of EUV Photoresists Designed with Reduced Activation Energy</a><br>
    Jim Thackeray
</p>
<p>
    <a href="/pdf/2005/pres/36%203-RE-22%20Vogt.pdf" target="_self">Fundamentals of the Reaction-Diffusion Process in Model EUV Photoresists</a><br>
    Bryan D. Vogt
</p>
<p>
    <a href="/pdf/2005/pres/37%203-RE-23%20Gonsalves.pdf" target="_self">Lithographic performance of EUV resists based on polymers having a photoacid generator in the backbone</a><br>
    Ken Gonsalves
</p>

<h3>
    OPTICS 1
</h3>

<p>
    <a href="/pdf/2005/pres/38%203-OP-11%20Naulleau.pdf" target="_self">Lithographic Characterization of Low-Order Aberrations in the Berkeley MET Tool</a><br>
    Patrick P. Naulleau
</p>
<p>
    <a href="/pdf/2005/pres/39%203-OP-12%20Kuerz.pdf" target="_self">Optics for EUV Lithography</a><br>
    Peter Kuerz
</p>
<p>
    <a href="/pdf/2005/pres/40%203-OP-13%20Chandhok.pdf" target="_self">Scaling EUV lithography beyond 0.25 NA with applications to patterning contacts</a><br>
    Manish Chandhok
</p>

<h3>
    CONTAMINATION &amp; CLEANLINESS 1
</h3>

<p>
    <a href="/pdf/2005/pres/41%203-CC-11%20Nishiyama.pdf" target="_self">Model of Ru Surface Oxidation for the Lifetime Scaling of EUVL Projection Optics Mirror</a><br>
    Iwao Nishiyama
</p>
<p>
    <a href="/pdf/2005/pres/42%203-CC-12%20Madey.pdf" target="_self">Interaction of Water Vapor with Clean and Contaminated Ru Surfaces</a><br>
    T.E. Madey
</p>
<p>
    <a href="/pdf/2005/pres/43%203-CC-13%20Hill.pdf" target="_self">EUV Endurance Testing of Ruthenium-Capped Multilayer Mirrors</a><br>
    Shannon Hill
</p>
<p>
    <a href="/pdf/2005/pres/44%203-CC-14%20Grant.pdf" target="_self">Contamination Sensing and Control for EUV Multilayer Optics</a><br>
    Anthony Keen
</p>
<p>
    <a href="/pdf/2005/pres/45%203-CC-15%20Kakutani.pdf" target="_self">Lifetime Improvement of Projection Mirror with Ru Capping Layer for EUVL by Irradiation Atmosphere</a><br>
    Yukinobu Kakutani
</p>
<p>
    <a href="/pdf/2005/pres/46%20NA%20Region%20Update-Wurm.pdf" target="_self">
    <h3>
        U.S. Regional Update
    </h3></a><br>
    Stefan Wurm, SEMATECH
</p>
<p>
    <a href="/pdf/2005/pres/47%203-IN-11%20Naulleau.pdf" target="_self">Investigation of the Current Resolution Limits of Advanced EUV Resists</a><br>
    Patrick P. Naulleau, Invited Speaker (North America)
</p>

<h3>
    CONTAMINATION &amp; CLEANLINESS 2
</h3>

<p>
    <a href="/pdf/2005/pres/48%203-CC-21%20Bajt.pdf" target="_self">Protective Capping Layer for EUVL Optics Using TiO 2</a><br>
    Sasa Bajt
</p>
<p>
    <a href="/pdf/2005/pres/49%203-CC-22%20Matsunari.pdf" target="_self">Lifetime estimation and improvement of capping layer on multi-layer mirror for EUV Lithography in EUVA</a><br>
    Shuichi Atsunari
</p>

<h3>
    METROLOGY
</h3>

<p>
    <a href="/pdf/2005/pres/50%203-ME-11%20Takeichi.pdf" target="_self">High-precision (&lt;1ppb/&deg;C) Optical Heterodyne Interferometric Dilatometer for Low Thermal Expansion Materials</a><br>
    Yoshimasa Takeichi
</p>
<p>
    <a href="/pdf/2005/pres/51%203-ME-12%20Wu.pdf" target="_self">Cross Section and Line Edge Roughness Metrology for EUV Lithography using Critical Dimension Small Angle X-ray Scattering (CD-SAXS)</a><br>
    Ron Jones
</p>
<p>
    <a href="/pdf/2005/pres/52%203-ME-13%20Scholze.pdf" target="_self">CD characterization of EUV masks by EUV scatterometry</a><br>
    Frank Scholze
</p>

<h3>
    MASK 4
</h3>

<p>
    <a href="/pdf/2005/pres/53%203-MA-41%20Shoki.pdf" target="_self">Recent Progress in EUV Blanks Development at HOYA</a><br>
    Tsutomu Shoki
</p>
<p>
    <a href="/pdf/2005/pres/54%203-MA-42%20Rastegar.pdf" target="_self">Recent advances in the cleaning of EUV substrates</a><br>
    Abbas Rastegar
</p>
<p>
    <a href="/pdf/2005/pres/55%203-MA-43%20Kumar.pdf" target="_self">Scaling of the Adhesion between Particles and Surfaces from Micron-Scale to the Nanometer Scale for Photomask Cleaning Applications</a><br>
    Steve Beaudoin
</p>
<p>
    <a href="/pdf/2005/pres/56%203-MA-44%20Orvek.pdf" target="_self">Concept Demonstration of Integrated Particle Defect Control of EUVL Masks</a><br>
    Kevin Orvek
</p>
<p>
    <a href="/pdf/2005/pres/57%203-MA-45%20Geller.pdf" target="_self">Improved Reticle Carrier Design Through Numerical Simulation</a><br>
    Anthony Geller
</p>
<p>
    <a href="/pdf/2005/pres/58%20Closing%20remarks-Kemp.pdf" target="_self">Closing Remarks</a><br>
    Kevin Kemp
</p>
<h2>
    Posters
</h2>
<h3>
    Session 1
</h3>


<h3>
    CONTAMINATION &amp; CLEANING
</h3>

<p>
    <a href="/pdf/2005/poster/1-CC-01%20Edwards_SEMATECH%20Poster.pdf" target="_self">Feasibility Assessment of In Situ Metrology for Monitoring and Control of EUV Optics Contamination</a><br>
    N.V. Edwards (SEMATECH)
</p>
<p>
    <a href="/pdf/2005/poster/1-CC-02%20Niibe_EUVA%20Poster.pdf" target="_self">A New Contamination Evaluation System for EUVL Projection Mirrors in New SUBARU</a><br>
    M. Niibe (University of Hyogo)
</p>
<p>
    <a href="/pdf/2005/poster/1-CC-03%20Wolschrijn_TNO%20Poster.pdf" target="_self">Progress in the optics lifetime programme for ASML EUV Lithographic Tools</a><br>
    B. Wolschrijn (TNO Science and Industry)
</p>

<h3>
    COST OF OWNERSHIP
</h3>

<p>
    <a href="/pdf/2005/poster/1-CO-01%20Goodwin_IFX%20Poster.pdf" target="_self">Trends in the Cost of Photolithography Development and an Outlook for the Future</a><br>
    F. Goodwin (Infineon Technologies North America)
</p>

<h3>
    DEFECT INSPECTION
</h3>

<p>
    <a href="/pdf/2005/poster/1-DI-01%20Tezuka_MIRAI%20Poster.pdf" target="_self">Characterization of Actinic Mask Blank Inspection for Improving Sensitivity</a><br>
    Y. Tezuka (ASET)
</p>
<p>
    <a href="/pdf/2005/poster/1-DI-02%20Park_Samsung%20Poster.pdf" target="_self">Study on Inspection Property of EUV Mask Defects by Simulation and Experimental Approach</a><br>
    J. Park (Samsung Electronics)
</p>
<p>
    <a href="/pdf/2005/poster/1-DI-03%20Kim_Sumsung%20Poster.pdf" target="_self">Defect&nbsp;Inspection&nbsp;of&nbsp;EUV&nbsp;Mask&nbsp;Blank&nbsp;Using Confocal Microscopy</a><br>
    S.-S.&nbsp;Kim,&nbsp;et&nbsp;al. (Samsung Electronics)
</p>

<h3>
    EXPOSURE TOOL
</h3>

<p>
    <a href="/pdf/2005/poster/1-ET-02%20Tanaka_ASET%20Poster.pdf" target="_self">Printabiliby of Contact-Hold Patterns in EUVL Using 0.3-NA HiNA Optics</a><br>
    Y. Tanaka (ASET)
</p>

<h3>
    MASK
</h3>

<p>
    <a href="/pdf/2005/poster/1-MA-01%20Sugawara_ASET%20Poster.pdf" target="_self">Simulation analysis of impact of off-axis incidence on printability and new algorithm for mask pattern correction</a><br>
    M. Sugawara et&nbsp;al. (ASET)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-02%20Choi_Hanyang%20Poster.pdf" target="_self">Mask Modification for the shadow effect reduction by rigorous coupled-wave analysis in extreme ultraviolet lithography</a><br>
    Min-Ki Choi (Hanyang University)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-03%20Abe_DNP%20Poster.pdf" target="_self">Defect repair of TaGeN absorber layer</a><br>
    T. Abe (Dai Nippon Printing Co.)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-04%20Constancias_CEA%20Poster.pdf" target="_self">Reduction of nodular type defect on Extreme Ultraviolet mask blanks: Application to a new mask manufacturing process named &ldquo;reverse technology&rdquo;</a><br>
    C.Constancias (CEA-Leti)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-05%20Cetinkaya_Clarkson%20Poster.pdf" target="_self">Mechanisms for Nanoparticle Detachment with Laser-induced Plasma (LIP) Shockwaves</a><br>
    C. Cetinkaya (Clarkson Univ.)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-06%20Ramaswamy_UWisconsin%20Poster.pdf" target="_self">Influence of Particle Contamination on EUVL Reticle Distortion during Exposure Chucking</a><br>
    V. Ramaswamy (University of Wisconsin)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-08%20Neumann_IUM%20no%20file%20poster.pdf" target="_self">EUV-Mask Blanks by Ion Beam Sputter Deposition: A Novel Tool Concept and Tool Results</a><br>
    J. Dienelt (Leibniz-Institut f&uuml;r Oberfl&auml;chenmodifizierung e.V.)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-09%20Lee_Hanyang%20Poster.pdf" target="_self">Optimization of Absorber Stack of EUVL Mask in Optical and Etch Properties</a><br>
    Seung Yoon Lee (Hanyang University)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-10%20Denbeaux_UAlbany%20Poster.pdf" target="_self">Programmed Phase Defect Fabrication with a Focused Ion Beam</a><br>
    G. Denbeaux (University at Albany NY)
</p>
<p>
    <a href="/pdf/2005/poster/1-MA-11%20Gower_Exitech%20Poster.pdf" target="_self">RIM-13: A high-resolution imaging tool for aerial image monitoring of patterned and blank EUV reticles</a><br>
    M. Gower (Exitech, Paragon Optics)
</p>

<h3>
    METROLOGY
</h3>

<p>
    <a href="/pdf/2005/poster/1-ME-01%20Gullikson_LBNL%20Poster.pdf" target="_self">Status of the High Accuracy EUV Reflectometry Beamline at the ALS</a><br>
    E.M. Gullikson (Lawrence Berkeley National Laboratory)
</p>
<p>
    <a href="/pdf/2005/poster/1-ME-02%20Okada_Hyogo%20Poster.pdf" target="_self">Systematic error evaluation of EUV wavefront metrology system</a><br>
    M Okada (EUVA)
</p>
<p>
    <a href="/pdf/2005/poster/1-ME-03%20Vaschenko_Col%20St%20Univ%20Poster.pdf" target="_self">Sub-40nm Spatial Resolution Imaging with 13.2 nm wavelength Illumination from a Table-top Laser</a><br>
    G. Vaschenko (Colorado State University)
</p>
<p>
    <a href="/pdf/2005/poster/1-ME-04%20Barkusky_Goettingen%20Poster.pdf" target="_self">EUV Source and Optics System for Metrology</a><br>
    F. Barkusky (Laser-Laboratorium G&ouml;ttingen e.V.)
</p>
<p>
    <a href="/pdf/2005/poster/1-ME-05%20Hasegawa_EUVA%20Poster.pdf" target="_self">EUV Wavefront Metrology System in EUVA</a><br>
    T. Hasegawa (EUVA)
</p>

<h3>
    OPTICS
</h3>

<p>
    <a href="/pdf/2005/poster/1-OP-01%20Marinescu_Delft%20Poster.pdf" target="_self">Generating lithographic objectives via saddle points</a><br>
    O. Marinescu (Delft University of Technology)
</p>
<p>
    <a href="/pdf/2005/poster/1-OP-02%20Takeuchi_Canon%20Poster.pdf" target="_self">Point Diffraction Interferometer for Testing EUVL Projection Optics</a><br>
    S. Takeuchi (Canon, Inc.)
</p>
<p>
    <a href="/pdf/2005/poster/1-OP-03%20Garg_UAlbany%20Poster.pdf" target="_self">Novel Method for Fabrication of High Efficiency Diffractive Optics for Extreme Ultraviolet</a><br>
    R. Garg (University at Albany NY)
</p>

<h3>
    RESIST
</h3>

<p>
    <a href="/pdf/2005/poster/1-RE-01%20Nealey_UWisconsin%20Poster.pdf" target="_self">Integration of self-assembling resist materials into the lithographic process</a><br>
    P.F. Nealey (University of Wisconsin)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-02%20Postnikov_Freescale%20Poster.pdf" target="_self">EUVL Process Modeling</a><br>
    S. Postnikov (Freescale Semiconductor)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-03%20Ryu_Seoul%20Univ%20no%20file%20poster.pdf" target="_self">New Types of Photoresists for Extreme-UV Lithography</a><br>
    Hyun-Soo Ryu (Seoul National University)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-04%20Hirayama_TOK%20Poster.pdf" target="_self">Molecular Resist Based on Low Molecular Weight Polyphenol with High Activation Energy Protecting Group for EUVL</a><br>
    T. Hirayama (Tokyo Ohka Kogyo Co. 2-Hitachi, Ltd.)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-05%20Watanabe_Hyogo%20Poster.pdf" target="_self">Beneficial Photoacid Generator for Chemically Amplified Resist in EUVL</a><br>
    T. Watanabe (University of Hyogo)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-06.pdf" target="_self">Molecular Resists Based on Cholate Derivatives for EUVL</a><br>
    D. Shiono (Tokyo Ohka Kogyo Co.)
</p>
<p>
    <a href="/pdf/2005/poster/1-RE-07%20Keen_BOC%20Poster.pdf" target="_self">EUV Stimulated Photo-Resist Outgassing</a><br>
    A. Keen et&nbsp;al. (BOC Edwards)
</p>

<h3>
    RETICLE PROTECTION
</h3>

<p>
    <a href="/pdf/2005/poster/1-RP-01%20Ham_TNO%20Poster.pdf" target="_self">Progress in particle-free handling of reticles in the ASML EUV program</a><br>
    E. Ham (TNO Science and Industry)
</p>
<p>
    <a href="/pdf/2005/poster/1-RP-02%20Pui_UMinnesota%20Poster.pdf" target="_self">Modeling of protection schemes for EUVL masks under low pressure conditions.</a><br>
    David Y.H. Pui et.al. (Department of Mechanical Engineering, University of Minnesota)
</p>

<h3>
    SOURCE
</h3>

<p>
    <a href="/pdf/2005/poster/1-SO-01%20Ellwi_Powerlase%20Poster.pdf" target="_self">Performance of Kilowatt-Class Laser Modules in Scaling Up Laser Produced Plasmas (LPP) EUV Source</a><br>
    S. Ellwi (Powerlase Limited)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-02%20Blackborrow_Energetiq%20Poster.pdf" target="_self">A Novel. High-Brightness Electrodeless Z-Pinch EUV Source</a><br>
    P.A. Blackborow (Energetiq Technology)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-03%20Andreev_Inst%20for%20Laser%20Phy%20Poster.pdf" target="_self">Optimal conditions for the maximal emission of EUV radiation from laser plasma created by CO2 and Nd-glass lasers</a><br>
    A.A. Andreev (Institute for Laser Physics)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-04%20Nishimura_Osaka%20Poster.pdf" target="_self">High Conversion to 13.5 EUV and Debris Mitigation with Mass-limited Plasmas Generated with Laser</a><br>
    H Nishimura (Osaka University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-05%20Takashi_%20Kyushi%20Poster.pdf" target="_self">Characteristics of Ion Emission from CO2/Nd:YAG LPP with tin target</a><br>
    A. Takahashi (Kyushu University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-06%20van%20Herpen_Philips%20Poster.pdf" target="_self">Sn cleaning with hygrogen radicals</a><br>
    M. van Herpen (Philips Research)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-07%20Yamaura_Osaka%20Poster.pdf" target="_self">Characteristics of EUV emission using mass-limited targets supplied with a novem method</a><br>
    M. Yamaura (Osaka University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-08%20Oshima_Nagaoka%20Poster.pdf" target="_self">Time-Resolved Study of Dense Plasma Focus for EUV Generation</a><br>
    N. Oshima (Nagaoka University of Technology)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-09%20Miyamoto_Hyogo%20Poster.pdf" target="_self">EUV Source Developments on Laser-Produced Plasmas using Lithium New Scheme Target</a><br>
    S. Miyamoto (University of Hyogo)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-10%20Inoue_Hyogo%20Poster.pdf" target="_self">Studies on laser-produced plasma EUV generation by using fast-supplying cryogenic Xe targets</a><br>
    T. Inoue (University of Hyogo)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-11%20Izawa_Osaka%20Poster.pdf" target="_self">Progress in LPP EUV Source Development by Japan MEXT Project</a><br>
    Y. Izawa (Osaka University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-12%20Sougmagne_EUVA%20Poster.pdf" target="_self">KrF Laser Driven Xenon Plasma Light Source of a Small Field Exposure Tool</a><br>
    G. Sougmagne (EUVA)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-13%20Sizyuk-ANL%20Poster.pdf" target="_self">Modeling and Simulation of Various Debris Mitigation Systems for Laser and Discharge Produced Plasma in EUV Lithography Devices</a><br>
    V. Sizyuk (Argonne National Laboratory)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-14%20Sasaki_JAEA%20Poster.pdf" target="_self">Radiative properties of Xe and Sn plasmas</a><br>
    A. Sasaki (Japan Atomic Energy Research Institute)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-15%20Hiroki_Kyushi%20Poster.pdf" target="_self">Dynamics of Neutral Debris from Laser-Produced Tin Plasma Studied by Laser-Spectroscopic Imaging</a><br>
    T. Hiroki (Kyushu University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-16%20Ueno_EUVA%20Poster.pdf" target="_self">Development of a CO2 Laser Produced Xenon Plasma for EUVL</a><br>
    Y. Ueno (EUVA)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-17%20Nishihara_Inst%20of%20Laser%20Eng%20Poster.pdf" target="_self">Theoretical Modeling and Optimization of LPP EUV Light Source</a><br>
    K. Nishihara (Institute of Laser Engineering)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-18%20Tomi_AIST%20Poster.pdf" target="_self">Optimized Parameters for Generating a Laser-Produced Tin Plasma as a Source for High Volume Production</a><br>
    T. Tomie (ASRC-AIST)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-19%20Kang_Osaka%20Poster.pdf" target="_self">Optimization Study of Magnetic Mirror for Debris Mitigation in LPP EUV Source+F21</a><br>
    Y.-G. Kang (Osaka University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-20%20Nishikawa_Okayama%20Poster.pdf" target="_self">Physics of Laser-produced Li Plasma EUV Light Source</a><br>
    T. Nishikawa (Okayama University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-21%20Nagai_Osaka%20Poster.pdf" target="_self">Target Fabrication of Low-density and Nanostructured Tin, Lithium, and Xenon as Laser Targets to Generate EUV</a><br>
    K. Nagai (Osaka University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-22%20Flora_ENEA%20Poster.pdf" target="_self">Mitigation of Debris Emitted by Plasma Sources: Theoretical End Experimental Results at ENEA</a><br>
    F. Flora (ENEA)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-23%20McGeoch_PLEX%20Poster.pdf" target="_self">Lithium Discharge EUV Source</a><br>
    M. McGeoch (PLEX LLC)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-24%20Tanuma_Tokyo%20Met%20Univ%20Poster.pdf" target="_self">Charge Exchange Spectroscopy of Ions Composed EUV Light Source plasmas</a><br>
    H. Tanuma (Tokyo Metropolitan University)
</p>
<p>
    <a href="/pdf/2005/poster/1-SO-25%20Rigato_Philips%20Poster.pdf" target="_self">Collector Development Integrated in EUV Source Test Stand</a><br>
    V. Rigato (Media Lario Technologies)
</p>

<h3>
    Session 2
</h3>


<h3>
    CONTAMINATION &amp; CLEANLINESS
</h3>

<p>
    <a href="/pdf/2005/poster/2-CC-04%20Fiedorwicz_Military%20Univ%20Tech%20Poster.pdf" target="_self">Degradation of Mo-Si Multilayers Irradiated with a Laser Plasma EUV Source</a><br>
    H. Fiedorowicz (Military University of Technology)
</p>
<p>
    <a href="/pdf/2005/poster/2-CC-05%20Grantham_NIST%20no%20file%20poster.pdf" target="_self">NIST Metrology Programs to Support EUV Lithography</a><br>
    S. Grantham (NIST)
</p>
<p>
    <a href="/pdf/2005/poster/2-CC-06%20Over_Intel%20Poster.pdf" target="_self">Amorphous RuO 2 Capping Layers for EUV Mirrors</a><br>
    H. Over, et.al. (Intel)
</p>

<h3>
    MASK
</h3>

<p>
    <a href="/pdf/2005/poster/2-MA-12%20Nataraju_UWisconsin%20Poster.pdf" target="_self">Predicting the Flatness of an EUV Mask after Electrostatic Chucking</a><br>
    M. Nataraju (University of Wisconsin)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-13%20Cullins_ASET%20Poster.pdf" target="_self">Impact of Multi-Layer Deposition Method on Defects for EUVL Photomask Blanks</a><br>
    J. Cullins. (ASET)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-14%20Kanayama_Toppan%20Poster.pdf" target="_self">Ta-Based Absorber Added by Si for EUV Mask</a><br>
    K. Kanayama (Toppan Printing Co.)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-15%20Nakajima_OHARA%20Poster.pdf" target="_self">Low Thermal Expansion Material &ldquo;CLEARCERAM&reg;-Z&rdquo; for EUVL Components Application</a><br>
    K. Nakajima (OHARA Inc.)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-16%20Yoshitake_Nuflare%20Poster.pdf" target="_self">Investigations on Pattern Placement Accuracy of EUV Mask</a><br>
    S. Yoshitake (NuFlare Technology, Inc.)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-17%20Kinoshita_Hyogo%20Poster.pdf" target="_self">Observation of Phase Defects Using an EUV Microscope</a><br>
    H. Kinoshita (University of Hyogo)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-18%20Rosch_Corning%20Poster.pdf" target="_self">Characterization of Striae in ULE&reg;</a><br>
    W. Rosch (Corning Inc.)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-19%20Kim_Samsung%20Poster.pdf" target="_self">EUV Mask Fabrication at Samsung</a><br>
    D. Kim (Samsung Electronics)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-20%20Constancias_CEA%20Leti%20Poster.pdf" target="_self">Phase Shift Mask for Extreme Ultraviolet Lithography</a><br>
    C.Constancias (CEA-Leti)
</p>
<p>
    <a href="/pdf/2005/poster/2-MA-21%20Eichenlaub_UAlbany%20Poster.pdf" target="_self">Particle Removal in EUV Mask Cleaning</a><br>
    S. Eichenlaub (University at Albany NY)
</p>

<h3>
    METROLOGY
</h3>

<p>
    <a href="/pdf/2005/poster/2-ME-06%20Egbert_phoenix%20Poster.pdf" target="_self">Table-top EUV reflectometer for advanced mirror characterization</a><br>
    Ulf Hinze, et.al, Phoenix EUV Systems
</p>
<p>
    <a href="/pdf/2005/poster/2-ME-07%20Underwood_EUV%20Tech%20Poster.pdf" target="_self">An Automated Reflectometer for Measurement of Reflectivity of EUV Lithography Masks: Results from our recently delivered tools</a><br>
    J. Underwood et&nbsp;al. (EUV Technology)
</p>
<p>
    <a href="/pdf/2005/poster/2-ME-08-Otsuka_%20AGC%20Poster.pdf" target="_self">Development of a Fizeau Interferometer for Measuring Free Form Flatness</a><br>
    K. Otsuka (Asahi Glass Company)
</p>
<p>
    <a href="/pdf/2005/poster/2-ME-09%20Woodward_NIST%20Poster.pdf" target="_self">Applications of Chemical Force Microscopy in EUV Lithography</a><br>
    J.T. Woodward (NIST)
</p>
<p>
    <a href="/pdf/2005/poster/2-ME-10%20Tarrio_NIST%20no%20file%20poster.pdf" target="_self">Major Upgrades to the NIST/DARPA EUV Reflectometry Facility</a><br>
    C. Tarrio (NIST)
</p>
<p>
    <a href="/pdf/2005/poster/2-ME-11%20Shevelko_Setpoint%20Poster.pdf" target="_self">An EUVL Application Specific Wide Range Spectrometer Design</a><br>
    A. Shevelko (Setpoint Spectrometers)
</p>

<h3>
    MULTI-LAYER COATINGS
</h3>

<p>
    <a href="/pdf/2005/poster/2-ML-01%20Feigl_Fraunhofer%20Poster.pdf" target="_self">High-temperature Multilayer Coating of Source Collector Mirror</a><br>
    T. Feigl (Fraunhofer Institute)
</p>
<p>
    <a href="/pdf/2005/poster/2-ML-02%20Rigatto_INFN%20Poster.pdf" target="_self">Thermal Stability of Mo/Si Multilayers with Ru Inter-Layers</a><br>
    V. Rigato (INFN-Laboratori Nazionali de Legnaro)
</p>
<p>
    <a href="/pdf/2005/poster/2-ML-03%20Harada_TohokuU%20Poster.pdf" target="_self">Narrow band Mo/Si EUV Multilayers with Thick Si Structures</a><br>
    T. Harada (Tohoku University)
</p>
<p>
    <a href="/pdf/2005/poster/2-ML-04%20Louis_FOM%20Poster.pdf" target="_self">Multi-layer Optics with Spectral Purity Layers for the EUV Wavelength Range</a><br>
    E. Louis (FOM Rijnhuizen)
</p>

<h3>
    OPTICS
</h3>

<p>
    <a href="/pdf/2005/poster/2-OP-04%20Kriese_Osmic%20Poster.pdf" target="_self">MoSi Coating Performance on EUVL Optics for an Imaging System</a><br>
    M.D. Kriese (Osmic, Inc.)
</p>
<p>
    <a href="/pdf/2005/poster/2-OP-05%20Glatzel_Tinsley%20Poster.pdf" target="_self">Performance Characterization of the First EUV Optical Imaging Module of the Reticle Imaging Microscope (RIM)</a><br>
    H. Glatzel (Tinsley Labs)
</p>
<p>
    <a href="/pdf/2005/poster/2-OP-06%20Cain_UCBerkeley%20Poster.pdf" target="_self">Lithographic Measurement of EUV Flare in the Berkeley MET Optic</a><br>
    J.P. Cain (UC Berkeley)
</p>
<p>
    <a href="/pdf/2005/poster/2-OP-07%20Louis_FOM%20Poster.pdf" target="_self">Multilayer Coatings for the First EUVL Process Development Tool</a><br>
    E. Louis (FOM Rijnhuizen)
</p>

<h3>
    RESIST
</h3>

<p>
    <a href="/pdf/2005/poster/2-RE-08%20Dean_SEMATECH%20Poster.pdf" target="_self">EUV Resist Outgassing</a><br>
    K.R. Dean (SEMATECH)
</p>
<p>
    <a href="/pdf/2005/poster/2-RE-09%20Bratton_Cornell%20Poster.pdf" target="_self">Development of EUV Resist Materials based on Molecular Glass Resist and Non-PFOS Photoacid Generators</a><br>
    D. Bratton (Cornell University)
</p>
<p>
    <a href="/pdf/2005/poster/2-RE-10%20Kikuchi_ASET%20Poster.pdf" target="_self">Characterization of Resist LER in the Patterns Replicated by HiNA-3</a><br>
    Y. Kikuchi (ASET)
</p>
<p>
    <a href="/pdf/2005/poster/2-RE-11%20Argitis_Demokritos%20Poster.pdf" target="_self">Polycarbocycle-based Molecular Resists for EUV Lithography</a><br>
    P. Argitis (NSCR &quot;Demokritos&quot;)
</p>
<p>
    <a href="/pdf/2005/poster/2-RE-12%20Jouve_CEA-Leti%20Poster.pdf" target="_self">High Resolution by EUV Interferometer Lithography</a><br>
    A. Jouve (CEA-Leti)
</p>
<p>
    <a href="/pdf/2005/poster/2-RE-13%20Michallon_CEA-Leti%20Poster.pdf" target="_self">Outgassing Tool at CEA-Leti</a><br>
    Ph. Michallon (CEA-Leti)
</p>

<h3>
    RETICLE PROTECTION
</h3>

<p>
    <a href="/pdf/2005/poster/2-RP-03%20Pui_UMinnesota%20Poster.pdf" target="_self">Investigation of Thermophoretic Protection with Speed-Controlled Particles at 100 mTorr, 50 mTorr, and 25 mTorr</a><br>
    David Y.H. Pui, et. al.(Department of Mechanical Engineering, University of Minnesota)
</p>
<p>
    <a href="/pdf/2005/poster/2-RP-04%20Pui_UMinnesota%20Poster.pdf" target="_self">Investigation on Particle Generation during Vibration of mask Carriers and Developments of Protection Schemes for EUVL Mask Carrier Systems</a><br>
    David Y. H. Pui, et. al. (Department of Mechanical Engineering, University of Minnesota)
</p>

<h3>
    SENSORS &amp; DIAGNOSTICS
</h3>

<p>
    <a href="/pdf/2005/poster/2-SD-01%20Korde_Intl%20Radiation%20Det%20Poster.pdf" target="_self">EUV Photodiodes with Directly Deposited Uranium Filter</a><br>
    R. Korde (Int'l. Radiation Detectors, Inc.)
</p>

<h3>
    SOURCE
</h3>

<p>
    <a href="/pdf/2005/poster/2-SO-26%20Al-Rabban-QatarU%20Poster.pdf" target="_self">Efficient EUV Generation from Lithium</a><br>
    M. Al-Rabban (Qatar University)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-27%20Horioka_TITech%20Poster.pdf" target="_self">Current Control for Efficient Z-pinch EUV Light Source</a><br>
    K. Horioka (Tokyo Institute of Technology)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-28%20Hotta%20_TITech%20Poster.pdf" target="_self">Development of a Gas Jet Type Z-pinch EUV Light Source</a><br>
    E. Hotta (Tokyo Institute of Technology)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-29%20Fomenkov_Cymer%20Poster.pdf" target="_self">EUV Source System</a><br>
    I. Fomenkov (Cymer)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-30%20Hughes_BOC%20Edwards%20Poster.pdf" target="_self">High Efficiency Xenon Recycling for EUV Sources</a><br>
    C. Hughes (BOC Edwards)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-31%20Sublemontier_CEA%20Saclay%20Poster.pdf" target="_self">EUV Light Generation with the EXULITE LPP Prototype</a><br>
    O. Sublemontier (CEA Saclay)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-32%20Kondo_Kumamoto%20Poster.pdf" target="_self">Modification of Z-pinch Plasmas with External Axial Magnetic Fields</a><br>
    Y Kondo Kumamoto University)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-33%20Horita_Kumamoto%20Poster.pdf" target="_self">Z-pinch Plasma EUV Sources Driven by Extremely Fast Currents</a><br>
    H. Horita Kumamoto University)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-34%20Fukumoto_Kumamoto%20Poster.pdf" target="_self">20 kHz Pulsed Power Generator for GDPP EUV Sources</a><br>
    H. Fukumoto (Kumamoto University)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-35%20Neumann_UIUC%20Poster.pdf" target="_self">Cleaning of Condensable Fuels from EUV Optics</a><br>
    M.J. Neumann (University of Illinois at Urbana-Champaign)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-36%20Qiu_UIUC%20Poster.pdf" target="_self">Debris Characterization and Collector Material Lifetime for a Commercial Tin-based Z-pinch Extreme Ultraviolet Light Source</a><br>
    H. Qiu (University of Illinois at Urbana-Champaign)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-37.pdf" target="_self">Dynamics of Laser Produced Sn Plasmas for Extreme Ultraviolet Lithography Source</a><br>
    Y. Tao (Univ. California-San Diego)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-38%20Mordovanakis_UMichigan%20Poster.pdf" target="_self">Development of Efficient Fiber-laser-produced Plasma Source of EUV Radiation</a><br>
    A. Mordovanakis (University of Michigan)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-39.pdf" target="_self">EUV Spectroscopy of Sn Doped Foam Targets</a><br>
    S.S. Harilal (University of California San Diego)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-40%20Denbeaux_UAlbany%20Poster.pdf" target="_self">First Use of the Energetiq 10W Electrodeless EUV Plasma source</a><br>
    G. Denbeaux (University at Albany NY)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-41%20Niimi_EUVA%20Poster.pdf" target="_self">Development of High Repetition Rate and High Power DPP EUV</a><br>
    G. Niimi, T. Shirai (EUVA)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-42%20Koike-Kitasato%20Poster.pdf" target="_self">Characteristics of Emission Lines from Xe, Sn, and Other Species at EUV Region</a><br>
    F. Koike (Kitasato University)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-43%20Zakharov_Keldiysh%20Inst-App%20Math%20Poster.pdf" target="_self">Impact Ionization and Excitation of Multicharged Ions in DPP &amp; LLPP</a><br>
    V.S. Zakharov (Keldysh Institute of Applies Mathematics RAS)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-44%20Zakharov_EPPRA%20Poster.pdf" target="_self">A Black Box Modeling Engine for Optimization Modeling of EUV Plasma Sources</a><br>
    S.V. Zakharov (EPPRA sas)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-45%20Choi_EPPRA%20Poster.pdf" target="_self">The Strongly Multiplexed Micro Plasma Pulse EUV Source Concept</a><br>
    P. Choi (EPPRA sas)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-46%20MacFarlane_Prism%20Poster.pdf" target="_self">Optimization of EUVL Plasma Radiation Source Characteristics Using HELIOS-CR</a><br>
    J.J. MacFarlane (Prism Computational Sciences)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-47%20Dojyo_Miyazaki%20Poster.pdf" target="_self">EUV Emission from a Laser-produced Tin Plasma by Use of a Liquid Microtarget</a><br>
    N. Dojyo (University of Miyazaki)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-48%20Kawasaki_UMiyazaki%20Poster.pdf" target="_self">Properties of EUV Emission from a Laser-produced Lithium Plasma</a><br>
    K. Kawasaki (University of Miyazaki)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-49%20Allain_ANL%20Poster.pdf" target="_self">The Effect of Fast Sn Ion Bombardment on EUV Lithography Grazing Incidence Collector Mirror Reflectivity</a><br>
    J.P. Allain (Argonne National Lab)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-50.pdf" target="_self">Tin Based Laser-produced Plasma Source Development for EUVL</a><br>
    A. Cummings (University College Dublin,)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-51.pdf" target="_self">Technology Advances that Enable a Cost-Effective LPP EUV Source</a><br>
    P. Banks (General Atomics)
</p>
<p>
    <a href="/pdf/2005/poster/2-SO-52%20Richardson_UCF%20Poster.pdf" target="_self">The Tin-doped Droplet Laser Plasma Source &ndash; Meeting Roadmap Requirements</a><br>
    M. Richardson (Univ. of Central Fl., et&nbsp;al)
</p>