<h2>
    October 16-18, 2006<br>
    Barcelona, Spain
</h2>

<h3>Opening</h3>
<a href="pdf/2006/pres/D1Opening  Hartman.pdf">D1Opening  Hartman.pdf</a><br>

<h3>Invited</h3>
<a href="pdf/2006/pres/D1 Invited Speaker_Izawa.pdf">D1 Invited Speaker_Izawa.pdf</a><br>

<h3>Contamination & Cleanliness</h3>
<a href="pdf/2006/pres/1CC01 Nishiyama.pdf">1CC01 Nishiyama.pdf</a><br>
<a href="pdf/2006/pres/1CC02 Hill.pdf">1CC02 Hill.pdf</a><br>
<a href="pdf/2006/pres/1CC03 Madey.pdf">1CC03 Madey.pdf</a><br>
<a href="pdf/2006/pres/1CC04 Aoki.pdf">1CC04 Aoki.pdf</a><br>
<a href="pdf/2006/pres/1CC05 Yulin.pdf">1CC05 Yulin.pdf</a><br>

<h3>Defect Inspection</h3>
<a href="pdf/2006/pres/1DI01 Goldberg.pdf">1DI01 Goldberg.pdf</a><br>
<a href="pdf/2006/pres/1DI02 Kearney.pdf">1DI02 Kearney.pdf</a><br>

<h3>Exposure Tools</h3>
<a href="pdf/2006/pres/1ET01 Uzawa.pdf">1ET01 Uzawa.pdf</a><br>
<a href="pdf/2006/pres/1ET02 Miura.pdf">1ET02 Miura.pdf</a><br>
<a href="pdf/2006/pres/1ET03 Meiling.pdf">1ET03 Meiling.pdf</a><br>
<a href="pdf/2006/pres/1ET04 Groeneveld.pdf">1ET04 Groeneveld.pdf</a><br>
<a href="pdf/2006/pres/1ET05 Goodwin.pdf">1ET05 Goodwin.pdf</a><br>

<h3>Mask I</h3>
<a href="pdf/2006/pres/1MA01 Mirkarimi.pdf">1MA01 Mirkarimi.pdf</a><br>
<a href="pdf/2006/pres/1MA02 Rastegar.pdf">1MA02 Rastegar.pdf</a><br>
<a href="pdf/2006/pres/1MA03 Yu.pdf">1MA03 Yu.pdf</a><br>
<a href="pdf/2006/pres/1MA04 Sung.pdf">1MA04 Sung.pdf</a><br>
<a href="pdf/2006/pres/1MA05 Trogisch.pdf">1MA05 Trogisch.pdf</a><br>

<h3>Metrology</h3>
<a href="pdf/2006/pres/1ME01 Takeichi.pdf">1ME01 Takeichi.pdf</a><br>
<a href="pdf/2006/pres/1ME02 Jones.pdf">1ME02 Jones.pdf</a><br>
<a href="pdf/2006/pres/1ME03 Murakami.pdf">1ME03 Murakami.pdf</a><br>

<h3>Resist I</h3>
<a href="pdf/2006/pres/1RE01 Naulleau.pdf">1RE01 Naulleau.pdf</a><br>
<a href="pdf/2006/pres/1RE02 Oizumi.pdf">1RE02 Oizumi.pdf</a><br>
<a href="pdf/2006/pres/1RE03 Henderson.pdf">1RE03 Henderson.pdf</a><br>
<a href="pdf/2006/pres/1RE04 Denbeaux.pdf">1RE04 Denbeaux.pdf</a><br>
<a href="pdf/2006/pres/1RE05 Yukawa.pdf">1RE05 Yukawa.pdf</a><br>

<h3>RP</h3>
<a href="pdf/2006/pres/1RP01 Shroff.pdf">1RP01 Shroff.pdf</a><br>
<a href="pdf/2006/pres/1RP02 Halbmeier.pdf">1RP02 Halbmeier.pdf</a><br>
<a href="pdf/2006/pres/1RP03 He.pdf">1RP03 He.pdf</a><br>

<h3>Source I</h3>
<a href="pdf/2006/pres/1SO01 Banine.pdf">1SO01 Banine.pdf</a><br>
<a href="pdf/2006/pres/1SO02 Borisov.pdf">1SO02 Borisov.pdf</a><br>
<a href="pdf/2006/pres/1SO03 Bianucci.pdf">1SO03 Bianucci.pdf</a><br>


<h3>Invited</h3>
<a href="pdf/2006/pres/D2 Invites Speaker_Kuerz.pdf">D2 Invites Speaker_Kuerz.pdf</a><br>
<a href="pdf/2006/pres/D2 Keynote_van den Brink.pdf">D2 Keynote_van den Brink.pdf</a><br>

<h3>Mask II</h3>
<a href="pdf/2006/pres/2MA01 Yamada.pdf">2MA01 Yamada.pdf</a><br>
<a href="pdf/2006/pres/2MA02 Sugiyama.pdf">2MA02 Sugiyama.pdf</a><br>
<a href="pdf/2006/pres/2MA03 Randive.pdf">2MA03 Randive.pdf</a><br>
<a href="pdf/2006/pres/2MA04 Yoshitake.pdf">2MA04 Yoshitake.pdf</a><br>

<h3>Resist II</h3>
<a href="pdf/2006/pres/2RE01 Leeson.pdf">2RE01 Leeson.pdf</a><br>
<a href="pdf/2006/pres/2RE02 Masuda.pdf">2RE02 Masuda.pdf</a><br>
<a href="pdf/2006/pres/2RE03 Watanabe.pdf">2RE03 Watanabe.pdf</a><br>
<a href="pdf/2006/pres/2RE04 Wallow.pdf">2RE04 Wallow.pdf</a><br>
<a href="pdf/2006/pres/2RE05 Gronheid.pdf">2RE05 Gronheid.pdf</a><br>


<h3>Source II</h3>
<a href="pdf/2006/pres/2SO01 Ruzic.pdf">2SO01 Ruzic.pdf</a><br>
<a href="pdf/2006/pres/2SO02 Rocca.pdf">2SO02 Rocca.pdf</a><br>


<h3>Invited</h3>
<a href="pdf/2006/pres/D3 Invited Speaker_Shell.pdf">D3 Invited Speaker_Shell.pdf</a><br>
<a href="pdf/2006/pres/D3 Plenary_Gargini.pdf">D3 Plenary_Gargini.pdf</a><br>

<h3>Source III</h3>
<a href="pdf/2006/pres/3SO01 Stamm.pdf">3SO01 Stamm.pdf</a><br>
<a href="pdf/2006/pres/3SO02 Corthout.pdf">3SO02 Corthout.pdf</a><br>
<a href="pdf/2006/pres/3SO03 Teramoto.pdf">3SO03 Teramoto.pdf</a><br>
<a href="pdf/2006/pres/3SO04 Brandt.pdf">3SO04 Brandt.pdf</a><br>
<a href="pdf/2006/pres/3SO05 Endo.pdf">3SO05 Endo.pdf</a><br>

<h3>Regional Updates</h3>
<a href="pdf/2006/pres/D1 Asia Pacific Regional_Mori.pdf">D1 Asia Pacific Regional_Mori.pdf</a><br>
<a href="pdf/2006/pres/D2 European Regional_Hartman.pdf">D2 European Regional_Hartman.pdf</a><br>
<a href="pdf/2006/pres/D3 US Regional_Wurm.pdf">D3 US Regional_Wurm.pdf</a><br>

<h3>Closing Remarks</h3>
<a href="pdf/2006/pres/D3 Closing_Hartman.pdf">D3 Closing_Hartman.pdf</a><br>
