<h2>
    October 16-18, 2006<br>
    Barcelona, Spain
</h2>

<p>
    <a href="/pdf/2006/pres/D1Opening%20Hartman.pdf" target="_self">2006 EUV Symposium Opening Address</a><br>
    Rob Hartman, ASML
</p>
<h3>
    Tool 1
</h3>
<p>
    <a href="/pdf/2006/pres/1ET02%20Miura.pdf" target="_self">Nikon EUVL development progress update</a><br>
    Takaharu Miura, Nikon
</p>
<p>
    <a href="/pdf/2006/pres/1ET01%20Uzawa.pdf" target="_self">Canon's Development Status of EUVL Technologies</a><br>
    Shigeyuki Uzawa, Canon
</p>
<p>
    <a href="/pdf/2006/pres/1ET03%20Meiling.pdf" target="_self">Progress on the Realization of EUV Lithography</a><br>
    Hans Meiling, ASML
</p>
<p>
    <a href="/pdf/2006/pres/1ET04%20Groeneveld.pdf" target="_self">Full-field imaging by the ASML EUV Alpha Demo Tool</a><br>
    Rogier Groeneveld, ASML
</p>
<p>
    <a href="/pdf/2006/pres/1ET05%20Goodwin.pdf" target="_self">Baselining the performance of a EUVL full field scanner through rigorous modeling</a><br>
    Frank Goodwin
</p>
<h3>
    Source-1
</h3>
<p>
    <a href="/pdf/2006/pres/1SO01%20Banine.pdf" target="_self">Requirements and prospects of next generation Extreme Ultraviolet Sources for Lithography Applications</a><br>
    V.Y. Banine, ASML
</p>
<p>
    <a href="/pdf/2006/pres/1SO02%20Borisov.pdf" target="_self">Development of EUV sources with tin fuel and rotating disk electrodes</a><br>
    Vladimir M. Borisov, Trinity University
</p>
<p>
    <a href="/pdf/2006/pres/1SO03%20Bianucci.pdf" target="_self">Collector optics integration into medium power EUV source systems</a><br>
    Giovanni Bianucci, Media Lario Technologies
</p>
<h3>
    Asian Pacific Region
</h3>
<p>
    <a href="/pdf/2006/pres/D1%20Asia%20Pacific%20Regional_Mori.pdf" target="_self">Regional Update</a><br>
    Ichiro Mori, Selete
</p>
<p>
    <a href="/pdf/2006/pres/D1%20Invited%20Speaker_Izawa.pdf" target="_self">Invited Speaker: Summary of Japanese academic support program for EUVL source</a><br>
    Yasukazu Izawa, Osaka University
</p>
<h3>
    Source-2
</h3>
<p>
    <a href="/pdf/2006/pres/2SO01%20Ruzic.pdf" target="_self">Extending the lifetime of collector optics: advanced debris mitigation schemes and cleaning methods</a><br>
    David Ruzic, Universisty of Illinois Urbana Champaign
</p>
<p>
    <a href="/pdf/2006/pres/2SO02%20Rocca.pdf" target="_self">Table-Top EUV Lasers for Metrology</a><br>
    Jorge J. Rocca, Colorado State University
</p>
<h3>
    Resist-1
</h3>
<p>
    <a href="/pdf/2006/pres/1RE01%20Naulleau.pdf" target="_self">Investigation of lithographic metrics for the characterization of intrinsic resolution limits in EUV resists</a><br>
    Patrick Naulleau, Lawrence Berkeley National Laboratory
</p>
<p>
    <a href="/pdf/2006/pres/1RE02%20Oizumi.pdf" target="_self">Performance of new molecular resist in EUV lithography</a><br>
    H. Oizumi, ASET EUV
</p>
<p>
    <a href="/pdf/2006/pres/1RE03%20Henderson.pdf" target="_self">Single Component Molecular Glass Resists for EUVL</a><br>
    Clifford L. Henderson, Georgia Institute of Technology
</p>
<p>
    <a href="/pdf/2006/pres/1RE04%20Denbeaux.pdf" target="_self">Quantitative Measurement of EUV Resist Outgassing</a><br>
    Gregory Denbeaux, University Albany
</p>
<p>
    <a href="/pdf/2006/pres/1RE05%20Yukawa.pdf" target="_self">The design of chemically amplified resist for EUV lithography</a><br>
    Hiroto Yukawa
</p>
<h3>
    Mask-1
</h3>
<p>
    <a href="/pdf/2006/pres/1MA01%20Mirkarimi.pdf" target="_self">Smoothing EUVL mask substrate defects with an emphasis on real-world pits</a><br>
    Paul B. Mirkarimi, Lawrence Livermore Nat'l. Lab
</p>
<p>
    <a href="/pdf/2006/pres/1MA02%20Rastegar.pdf" target="_self">Challenges of removing sub 40 particles in EUV mask blank cleaning</a><br>
    Abbas Rastegar, SEMATECH
</p>
<p>
    <a href="/pdf/2006/pres/1MA03%20Yu.pdf" target="_self">Removal of Nano Particles on EUV Mask Buffer and Absorber Layers by Laser Shockwave Cleaning</a><br>
    Young-Sam Yu
</p>
<p>
    <a href="/pdf/2006/pres/1MA04%20Sung.pdf" target="_self">The Repair Performance Comparison for EUV Mask</a><br>
    Moon Gyu Sung, Samsung
</p>
<p>
    <a href="/pdf/2006/pres/1MA05%20Trogisch.pdf" target="_self">Impact of 3-D Mask Effects on CD and Overlay over Image Field in Extreme Ultraviolet Lithography</a><br>
    Sven Trogisch, Qimonda
</p>
<p>
    <a href="/pdf/2006/pres/D2%20Keynote_van%20den%20Brink.pdf" target="_self">Symposium Keynote</a><br>
    Martin Vandenbrink, ASML
</p>
<h3>
    Source-3
</h3>
<p>
    <a href="/pdf/2006/pres/3SO01%20Stamm.pdf" target="_self">High power EUV source development for beta-level and high-volume manufacturing lithography</a><br>
    Uwe Stamm, Xtreme Technologies
</p>
<p>
    <a href="/pdf/2006/pres/3SO02%20Corthout.pdf" target="_self">The Philips Extreme UV Source: recent progress in power, lifetime and collector lifetime</a><br>
    Marc Corthout, Philips Extreme
</p>
<p>
    <a href="/pdf/2006/pres/3SO03%20Teramoto.pdf" target="_self">Development of high-power Sn-fuled DPP EUV source for enableing HVM</a><br>
    Yusuke Teramoto, EUVA
</p>
<p>
    <a href="/pdf/2006/pres/3SO04%20Brandt.pdf" target="_self">LPP Source Development for HVM EUV Lithography</a><br>
    David Brandt
</p>
<p>
    <a href="/pdf/2006/pres/3SO05%20Endo.pdf" target="_self">Development Status of HVM Laser Produced Plasma EUV Light Source</a><br>
    Akira Endo, EUVA
</p>
<h3>
    European Union Region
</h3>
<p>
    <a href="/pdf/2006/pres/D2%20European%20Regional_Hartman.pdf" target="_self">Regional Update</a><br>
    Rob Hartman, ASML
</p>
<p>
    <a href="/pdf/2006/pres/D2%20Invites%20Speaker_Kuerz.pdf" target="_self">Invited Speaker: Optics for EUV Lithography</a><br>
    Peter Kuerz, Carl Zeiss SMT AG
</p>
<h3>
    Mask 2
</h3>
<p>
    <a href="/pdf/2006/pres/2MA01%20Yamada.pdf" target="_self">Development of beta EUV mask blanks a Hoya</a><br>
    Takeyuki Yamada, Hoya Corporation
</p>
<p>
    <a href="/pdf/2006/pres/2MA02%20Sugiyama.pdf" target="_self">Current Status of EULV mask blank coating development in AGC</a><br>
    Takashi SUGIYAMA, Asahi Glass
</p>
<p>
    <a href="/pdf/2006/pres/2MA03%20Randive.pdf" target="_self">Defect Mitigation and Reduction in EUVL Mask Blanks</a><br>
    Rajul Randive, Veeco Instruments
</p>
<p>
    <a href="/pdf/2006/pres/2MA04%20Yoshitake.pdf" target="_self">The study for image placement accuracy of EUV mask on the flat chuck</a><br>
    Shusuke Yoshitake, Nuflare
</p>
<p>
    <a href="/pdf/2006/pres/D3%20Plenary_Gargini.pdf" target="_self">Plenary Talk: International EUV Initiative</a><br>
    Paolo Gargini, Intel
</p>
<h3>
    Resist-2
</h3>
<p>
    <a href="/pdf/2006/pres/2RE01%20Leeson.pdf" target="_self">EUV Resist Materials Properties and Performance</a><br>
    Michael Leeson, Intel
</p>
<p>
    <a href="/pdf/2006/pres/2RE02%20Masuda.pdf" target="_self">EUV Resist material study for the outgassing reduction and LWR improvement</a><br>
    Seiya Masuda, Fujiphoto Film Co., Ltd.
</p>
<p>
    <a href="/pdf/2006/pres/2RE03%20Watanabe.pdf" target="_self">Novel CA resist system for EUVL</a><br>
    Takeo Watanabe, University of Hyogo
</p>
<p>
    <a href="/pdf/2006/pres/2RE04%20Wallow.pdf" target="_self">Improved EUV Photoresist Performance through Processing Refinements</a><br>
    Thomas Wallow, AMD
</p>
<p>
    <a href="/pdf/2006/pres/2RE05%20Gronheid.pdf" target="_self">EUV Resist Performance under High Stray Light Levels: an Interference Lithography Study</a><br>
    Roel Gronheid, IMEC
</p>
<h3>
    Metrology
</h3>
<p>
    <a href="/pdf/2006/pres/1ME01%20Takeichi.pdf" target="_self">Accuracy of the ASET Dilatometer for Low Thermal Expansion Materials</a><br>
    Yoshimasa Takeichi, ASET
</p>
<p>
    <a href="/pdf/2006/pres/1ME02%20Jones.pdf" target="_self">Line edge roughness and cross sectional characterization of sub-50 nm structures using CD-SAXS</a><br>
    Ronald L. Jones, NIST
</p>
<p>
    <a href="/pdf/2006/pres/1ME03%20Murakami.pdf" target="_self">Development of EUV wavefront metrology system (EWMS)</a><br>
    Katsuhiko Murakami, EUVA, University Hyogo
</p>
<h3>
    US Region
</h3>
<p>
    <a href="/pdf/2006/pres/D3%20US%20Regional_Wurm.pdf" target="_self">Regional Update</a><br>
    Stefan Wurm, SEMATECH
</p>
<p>
    <a href="/pdf/2006/pres/D3%20Invited%20Speaker_Shell.pdf" target="_self">Invited Speaker: Towards an Affordable Cost of Ownership</a><br>
    Melissa Shell, Intel
</p>
<h3>
    Contamination &amp; Cleanliness
</h3>
<p>
    <a href="/pdf/2006/pres/1CC01%20Nishiyama.pdf" target="_self">Contamination Cleaning of Ru-capped EUV Multilayer-Mirror with Atomic Hydrogen</a><br>
    Iwao Nishiyama, ASET
</p>
<p>
    <a href="/pdf/2006/pres/1CC02%20Hill.pdf" target="_self">Essential procedures for endurance testing of multi-layer mirrors</a><br>
    Shannon Hill, NIST
</p>
<p>
    <a href="/pdf/2006/pres/1CC03%20Madey.pdf" target="_self">Radiation-induced processes on Ru surfaces: relevance to EUVL</a><br>
    Theodore E. Madey, Rutgers
</p>
<p>
    <a href="/pdf/2006/pres/1CC04%20Aoki.pdf" target="_self">Carbon deposition on multi-layer mirrors by extreme ultra violet ray irradiation</a><br>
    Takashi Aoki, Nikon
</p>
<p>
    <a href="/pdf/2006/pres/1CC05%20Yulin.pdf" target="_self">Mo/Si multilayers capped by TiO2</a><br>
    Sergiy Yulin, Fraunhofer
</p>
<h3>
    Defect Inspection
</h3>
<p>
    <a href="/pdf/2006/pres/1DI01%20Goldberg.pdf" target="_self">Comparison of actinic and non-actinic inspection of programmed-defect masks</a><br>
    Kenneth A. Goldberg, Lawrence Berkeley National Lab
</p>
<p>
    <a href="/pdf/2006/pres/1DI02%20Kearney.pdf" target="_self">State of the art EUV mask blank inspection with a Lasertec M7360 at the SEMATECH MBDC</a><br>
    Patrick A. Kearney, SEMATECH
</p>
<h3>
    Reticle Handling
</h3>
<p>
    <a href="/pdf/2006/pres/1RP01%20Shroff.pdf" target="_self">Development of EUV pellicle for reticle defect&nbsp; mitigation</a><br>
    Yashesh A. Shroff, Intel Corporation
</p>
<p>
    <a href="/pdf/2006/pres/1RP02%20Halbmeier.pdf" target="_self">EUVL Mask Carrier Development</a><br>
    David Halbmaier, Entegris
</p>
<p>
    <a href="/pdf/2006/pres/1RP03%20He.pdf" target="_self">Status and Path to Particle-Free EUVL Reticle Protection Solution</a><br>
    Long He, SEMATECH
</p>
<p>
    <a href="/pdf/2006/pres/D3%20Closing_Hartman.pdf" target="_self">2006 EUV Symposium Closing Address</a><br>
    Rob Hartman, ASML
</p>
<h2>
    Posters
</h2>
<h3>
    Exposure Tools
</h3>
<p>
    <a href="/pdf/2006/posters/Exposure%20Tools_ET/01-ET-26%20Goldstein_Intel_P.pdf" target="_self">Comparison of Extreme Ultra-Violet Interference Lithography Optical Designs for Photoresist Research</a><br>
    Michael Goldstein, Intel
</p>
<p>
    <a href="/pdf/2006/posters/Exposure%20Tools_ET/02-ET-67%20Flora_ENEA.pdf" target="_self">First EUV Contact Lithography Experiments for the Coloration of Lithium Fluoride</a><br>
    Francesco Flora, ENEA
</p>
<p>
    <a href="/pdf/2006/posters/Exposure%20Tools_ET/03-ET-87%20Reale_ENEA.pdf" target="_self">The Italian National FIRB Project on EUV Lithography</a><br>
    A. Reale-d, ENEA-CR Frascati
</p>
<p>
    <a href="/pdf/2006/posters/Exposure%20Tools_ET/04-ET-167%20Sekiguchi_Litho%20TechJapanCorp.pdf" target="_self">Study on Photo-Chemical Analysis System for EUV Lithography</a><br>
    A.Sekiguchi, Lith Tech Japan Corp.
</p>
<p>
    <a href="/pdf/2006/posters/Exposure%20Tools_ET/05-ET-173%20naulleau_IL.pdf" target="_self">Design for a Stand-Alone Extreme Ultraviolet Interference Lithography Tool</a><br>
    Patrick Naulleau, LBNL
</p>
<h3>
    Source
</h3>
<p>
    <a href="/pdf/2006/posters/Source_SO/01-SO-05_kubodera%20UMiyazaki.pdf" target="_self">Low-Debris, EUV Source Using a Colloidal Microjet Target Containing Tin Dioxide Nanoparticles</a><br>
    Shoichi Kubodera, University of Miyazaki
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/02-SO-09%20JJMcFarlane_Prism.pdf" target="_self">Optimization of 13.5 nm Conversion Efficiencies for LPP and DPP EUVL Radiation Sources</a><br>
    Joseph J. MacFarlane, Prism Computational Sciences, Inc.
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/03-SO-24%20Hotta_Tokyo%20Inst%20Tech.pdf" target="_self">Development of a Gas Jet-Type Z Pinch EUV Light Source for Lithography</a><br>
    Naoya Iizuka, Tokyo Institute of Technology
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/04-SO-25%20Nishimura_OsakaU.pdf" target="_self">Laser and Target Optimization for the Highest Conversion to 13.5 nm EUV Light with Laser Produced, Minimum-Mass Tin Plasma&nbsp;&nbsp;</a><br>
    Hiroaki Nishimura, Osaka University<br>
    Institute for Laser Technology
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/05-SO-30%20Sasaki_IAEA.pdf" target="_self">Modeling of the Atomic Processes in EUVL Source Plasmas</a><br>
    Akira. Sasaki, Japan Atomic Energy
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/06-SO-34%20Ivanov_ISAN.pdf" target="_self">RZLine MHD Model of Z-Pinch Discharge Based EUV Source</a><br>
    V. Ivanov, ISAN
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/07-SO-38%20Thompson_UIUC.pdf" target="_self">Characterization of Debris Mitigation Techniques for a Sn and Ze-fueled DPP EUV Light Source</a><br>
    Keith Thompson, University Ill Urbana-Champaign
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/08-SO-40%20Aota_Osaka.pdf" target="_self">Temperature and Density Measurement of Laser-Produced EUV Plasmas</a><br>
    Tatsuya Aota, Osaka University<br>
    Institute for Laser Technology
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/09-SO-43%20Takahashi_KyushuU.pdf" target="_self">Emission Characteristics of Neutral Atoms and Ions of Laser-Produced Tin Plasma</a><br>
    Akihiko Takahashi, Kyushu University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/10-SO-44_Tanuma_TokyoMetU.pdf" target="_self">EUV Emission Spectra of Charge-Selected Sn Ions in Charge Exchange Spectroscopy</a><br>
    Hajime Tanuma, Japan Atomic Energy<br>
    Tokyo Metropolitan U.&nbsp;
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/11-SO-45%20Tsubakimoto_OsakaU.pdf" target="_self">Development of High-peak, High-Average LD Pumped Solid-State Laser System for EUV Generation</a><br>
    Koji Tsubakimoto, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/12-SO-52%20Amano_Hyogo_P.pdf" target="_self">LPP-EUV Sources Using Cryogenic Xe and Lithium New Scheme Targets</a><br>
    Sho Amano, Hyogo University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/13-SO-59%20Naga_OsakaU_P.pdf" target="_self">Development of Low-Density Target for High Efficient EUV Generation</a><br>
    Keiji Nagai, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/14-SO-65%20Nishihara_OsakaU_P.pdf" target="_self">Theoretical Guidelines of LPP-EUV Sources for HVM</a><br>
    Katsunobu Nishihara, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/15-SO-66%20Mezi_ENEA_P.pdf" target="_self">Analysis of the Effects of a Small Area Magnetic Field for the Mitigation of the Debris Emitted by a Laser Plasma Source</a><br>
    Daniel Amodio, ENEA
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/16-SO-68%20Powerlase_P.pdf" target="_self">Industrial Kilowatt-Class Laser Modules in Scaling Up Laser Produced Plasmas (LPP) EUV Source</a><br>
    Samir Ellwi, Powerlase
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/17-SO-80%20Lebert_AIXUV_P.pdf" target="_self">Latest Development of EUV-Sources for Flexible Laboratory Use</a><br>
    Rainer Lebert, AIXUV GmbH
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/18-SO-88%20Bollanti_ENEA%20.pdf" target="_self">Characterization of Ionic Debris Interaction with a Buffer Gas in the Frame of Debris Mitigation Issues.</a><br>
    Sarah Bollanti, ENEA
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/19-SO-89%20Koike_KitasatoU_P.pdf" target="_self">Systematics of Atomic 4d-4f Transitions of Atomic Ions in EUVL Source Plasmas and Neighboring Atomic Numbers</a><br>
    Fumihiro Koike, Kitasato University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/20-SO-90%20Allain_ANL_P.pdf" target="_self">In-situ EUV reflectivity of Ru, Pd and Rh single-layer mirrors exposed to energetic and thermal Sn</a><br>
    J.P. Allain, Argonne National Laboratory
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/21-SO-98%20Fomenkov_Cymer_P.pdf" target="_self">LPP Source System Development Results</a><br>
    Igor V. Fomenkov, Cymer
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/22-SO-113%20Horioka_TokyoInsTech_P.pdf" target="_self">Potentiality of Magnetically Confined Plasma as an Efficient Extreme Ultraviolet Source</a><br>
    Kazuhiko Horioka, Tokyo Institute of Technology
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/23-SO-114%20Sunahara_OsakaU_P.pdf" target="_self">Radiation Hydrodynamic Simulation for LPP EUV Sources</a><br>
    Atsushi Sunahara, Institute for Laser Technology
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/24-SO-129%20Richardson_UCF_P2.pdf" target="_self">Tin Material Consumption and the Mirror Lifetime for Droplet Laser Plasma Sources</a><br>
    Kazutoshi Takenoshita, UCF
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/25-SO-130%20Richardson_UCF.pdf" target="_self">Toward HVM Conditions with the Tin-Doped Droplet Laser Plasma Source</a><br>
    M. Richardson, UCF
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/26-SO-131%20Richardson_UCF_P1.pdf" target="_self">Mitigation Schemes for the Tin-Doped Droplet Target</a><br>
    Tobias Schmid, UCF
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/27-SO-132%20Richardson_UCF_P.pdf" target="_self">Out-of-Band Spectroscopy of the Tin Droplet Target</a><br>
    Simi A. George, UCF
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/28-SO-139%20Jurczyk_Starfire.pdf" target="_self">Microdischarge Array for Advanced EUVL Illumination&nbsp;</a><br>
    Brian E. Jurczyk, Starfire Industries
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/29-SO-140%20Yamada_RitsumeikanU.pdf" target="_self">One Watt EUV Production by 80cm Outer Diameter Tabletop Synchrotron MIORCLE-20SX</a><br>
    Hironari Yamada, Ritsumeikan University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/30-SO-142%20Oshima_NagaokaU.pdf" target="_self">EUV Source Development Using High-Current Pulsed Power Generator</a><br>
    Nobuaki Oshima, Nagaoka University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/31-SO-147%20Morris_UCD.pdf" target="_self">Angle-Resolved Absolute Out-of-Band Radiation Studies of Tin-Based LPP Sources</a><br>
    O. Morris, Universiy College Dublin
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/32-SO149-Katsuki_KumamotoU_P.pdf" target="_self">Axial Dynamics of Z-pinch Plasmas Driven by 100 ns-Long Current Pulses</a><br>
    Sunao Katsuki, Kumamoto University
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/33-SO-160%20poster2_new_v3.pdf" target="_self">Sn Cleaning of Multi-Layer Mirrors with Hydrogen Radicals</a><br>
    Maarten van Herpen, Philips Research, ASML
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/34-SO-163%20Endo_EUVA_P1.pdf" target="_self">Present Status of Laser-Produced Plasma EUV Light Source</a><br>
    Akira Endo, EUVA
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/35-SO-164%20Sumitani_EUVA_P2.pdf" target="_self">Small Field Exposure Tool (SFET) Light Source Status</a><br>
    Tamotsu Abe, EUVA
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/36-SO-166%20Novikov_Keldysh.pdf" target="_self">Calculation of Sn and Xe Emission Spectra in Discharge Devices: the Influence of Reabsorption in Spectral Lines</a><br>
    Vladimir G. Novikov, Keldysh Institue of Applied Mathematics<br>
    ISAN
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/37-SO-171_%20Rhodes_UIC.pdf" target="_self">Dynamical Orbital Collapse Drives Super Xe(M) X-Ray Emission at Lambda ~12-14 &Aring; for Lithographic Applications</a><br>
    Charles Kirkham Rhodes, University of Illinois at Chicago
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/38-SO-177_Dortan_cea.pdf" target="_self">Influence of configuration interaction on satellite lines and on emission of EUV plasmas</a><br>
    Francois de Gaufridy de Dortan, CEA-LETI
</p>
<p>
    <a href="/pdf/2006/posters/Source_SO/39-SO-178%20Zakharov_EPPRA.pdf" target="_self">Strongly Multiplexed Micro Plasma Pulse EUV Source with Non-Destructive EUV Radiation Collimating-Focusing Structure</a><br>
    Sergey Zakharov, EPPRA
</p>
<h3>
    Resist
</h3>
<p>
    <a href="/pdf/2006/posters/Resist_RE/01-RE-27%20Echigo_Mitsubishi.pdf" target="_self">The Development of EUV Resists Based on Non-polymeric Macromolecules with Polyphenol Derivatives</a><br>
    Masatoshi Echigo&nbsp;, Mitsubishi Gas Chemical
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/02-RE-41%20Woodward_NIST.pdf" target="_self">Chemical Force Microscopy for Imaging Chemical Distributions in Undeveloped Resists&nbsp;</a><br>
    John T. Woodward, NIST
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/03-RE-46%20Goo_ASET.pdf" target="_self">UV Resist Tuning for EUV Application</a><br>
    Doohoon Goo, ASET
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/04-RE-53%20Sasaki_Asahi_P.pdf" target="_self">Development of Novel Resist Polymers for EUV Lithography</a><br>
    Takashi Sasaki, Asahi Glass
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/06-RE-61%20Shiono_TOK.pdf" target="_self">Distribution Control of Protecting Groups and its Effect on LER for EUV Molecular Resist</a><br>
    Daiju Shiono, TOK
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/07-RE-79%20Lebert_AIXUV.pdf" target="_self">Tools for EUV-Resist Characterization</a><br>
    Rainer Lebert, AIXUV GmbH
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/08-RE-81%20Kojima_Hitachi_P.pdf" target="_self">Chemically-Amplified Negative-Tone Molecular Resist using Polarity Change Reaction for EUVL</a><br>
    Kyoko Kojima, Hitachi Ltd
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/09-RE-91%20Blackborrow_Energetiq.pdf" target="_self">Resist Outgassing and Exposure Using the Energetiq EQ-10 Electrodeless Z-Pinch EUV Light Source</a><br>
    Paul A. Blackborow, Energetiq Technology
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/10-Re-100%20Lin_NIST.pdf" target="_self">Effect of Photoacid Generator Concentration on the Performance of a Model EUV Photoresist</a><br>
    Eric K. Lin, Intel
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/11-RE-117%20Dijan_CEA_P.pdf" target="_self">Evaluation of Molecular Glass Performance for 32nm Resolution and Beyond</a><br>
    Damien Djian, CEA-LETI
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/12-RE-118_Simon_CEA_P.pdf" target="_self">Comparison of EUV Resists Out-Gassing Under Continuous vs Pulsed Illumination</a><br>
    Julia Simon, CEA-LETI
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/13-Re-126%20Kim_HangyangU_P.pdf" target="_self">Study of Extreme Ultra-Violet Photoresist Quality for 32nm Pattern Formation</a><br>
    Eun-Jin Kim, Hanyang University
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/14-RE-141%20Wang_UNCC_P.pdf" target="_self">Anionic PAG Bound Photoresists for EUV</a><br>
    Mingxing Wang, University of North Carolina, Charlotte
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/15-RE-143%20Tagawa_OsakaU.pdf" target="_self">Critical Issues of EUV Resists and New Research Approach</a><br>
    S.Tagawa, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/16-RE-144%20Kozawa_Osaka_P.pdf" target="_self">Acid Generation in Chemically Amplified EUV Resists</a><br>
    T. Kozawa, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/17-RE-145%20Saeki_Osaka_P.pdf" target="_self">Exposure Dose Dependence on LER of Latent Image in EB/EUV Lithographies Studied by Monte Carlo Technique</a><br>
    Akinori Saeki, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/18-RE-146%20Yamamoto_Osaka_P.pdf" target="_self">Polymer Structure Dependence of Acid Generation in Chemically Amplified EUV Resists</a><br>
    Hiroki Yamamoto, Osaka University
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/19-RE-148%20Brainard_UAlbany.pdf" target="_self">Thermodynamic Analysis of Acid Amplifiers for EUV Lithography</a><br>
    Robert Brainard, University Albany
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/20-RE-151%20Domke_Qimonda_P_rev.pdf" target="_self">EUV Resists Limits - New Screening Results</a><br>
    Wolf-Dieter Domke, Qimonda
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/21-RE-156%20Dean_SEMATECH_P.pdf" target="_self">EUV Resist Outgassing Round Robin Results</a><br>
    Kim R. Dean, SEMATECH
</p>
<p>
    <a href="/pdf/2006/posters/Resist_RE/22-RE-176%20wolschrijn_TNO.pdf" target="_self">Novel Method to Quantify Resist Outgassing Induced Contamination Rates</a><br>
    Annemieke van de Runstraat, TNO Science and Industry, Delft, The Netherlands
</p>
<h3>
    Mask
</h3>
<p>
    <a href="/pdf/2006/posters/Mask_MA/01-MA-03%20Scholze_PTB.pdf" target="_self">Evaluation of EUV Scatterometry for CD Characterization of EUV Masks Using Rigorous FEM-Simulation</a><br>
    Frank Scholze, Physikalisch-Technische Bundesanstalt
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/02-MA-10%20Moon-Soo%20Park_SungkyunkwanUniv.pdf" target="_self">Etching Characteristics of Multi-Stack EUVL Mask Structure Using Inductively Coupled Plasma</a><br>
    Moon-Soo Park, Sungkyunkwan University
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/03-MA-19%20Tanaka_ASET.pdf" target="_self">Fidelity of Rectangular Patterns Printed with 0.3-NA MET Optics.</a><br>
    Yuusuke Tanaka, ASET
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/04-MA-55%20Richard_CEA%20LETI.pdf" target="_self">At Wavelength Measurements and Study of EUV Low Topology Phase Shift Masks</a><br>
    Marieke Richard, CEA-LETI
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/05-MA-63%20Iwahashi_Asahi_P.pdf" target="_self">Development of Low Thermal Expansion Materials and CTE Measurement Tool for EUVL</a><br>
    Yasutomi Iwahashi, Asahi Glass
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/06-MA-93%20Rosch_Corning.pdf" target="_self">Improvements made to Corning ULE @ Glass to Meeting P-37 Specifications</a><br>
    William Rosch, Corning Inc.
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/07-MA-99%20Yokoyama_Asahi.pdf" target="_self">Development of Low Defect Glass Substrate for EUVL</a><br>
    Mika Yokoyama, Asahi Glass
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/08-MA-115%20HKim_Samsung.pdf" target="_self">Effects of EUV Dry Etch Process on Image Placement (IP) Errors</a><br>
    Hoon Kim, Samsung
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/09-MA-116%20Cho_Samsung.pdf" target="_self">EUV Reflectometer for EUV Lithography</a><br>
    Sung Yong Cho, Samsung
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/10-MA-122%20Nesladek_AMTC.pdf" target="_self">EUV Absorber / Buffer Etch Variability Investigation</a><br>
    Pavel Nesladek, AMTC
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/11-MA-124%20TamuraTBD_Toppan_P.pdf" target="_self">Evaluation of TaSix Absorber Stack with a Novel Buffer for EUVL Mask</a><br>
    Shinpei Tamura, Toppan Printing
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/12-MA-134%20Abe_DNP_P.pdf" target="_self">Defect Repair of EUV Absorber Layer Using Low Acceleration Voltage FIB-GAE</a><br>
    Tsukasa Abe, Dai Nippon Printing
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/13-MA-155_SeungYoonLee_HYU.pdf" target="_self">Characteristics of Ru Capping and Optimization of EUV Mask Absorber Stack</a><br>
    Seung Yoon Lee, Hanyang University
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/14-MA-159%20Shimojima_Hoya_P.pdf" target="_self">Development and Evaluation of EUV Mask Substrates</a><br>
    Shouji Shimojima, Hoya Corporation
</p>
<p>
    <a href="/pdf/2006/posters/Mask_MA/15-MA-172%20Nataraju_UWisc.pdf" target="_self">Flatness Response of an EUV Mask during Exposure Chucking</a><br>
    Madhura Nataraju, University of Wisconsin
</p>
<h3>
    Metrology
</h3>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/01-ME-01%20Egbert_EUVL2006.pdf" target="_self">At-Wavelength Reflectometry with the EUV Tube</a><br>
    Andrew Egbert, phoenix-euv Systems + Services GmbH
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/02-ME-02%20Perera_EUVT%20A.pdf" target="_self">Results from our Recently Delivered Automated Reflectometer for Measurement of Reflectivity of EUV Lithography Masks</a><br>
    Rupert C. Perera, EUV Technology
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/03-ME-04%20Peth_LLG.pdf" target="_self">Compact EUV Source and Optics System for Metrology and Material Interaction Studies</a><br>
    Christian Peth, Laser-Laboratorium Goettingen
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/04-ME-56%20Masaki_Canon_P.pdf" target="_self">At-Wavelength Evaluation of Multilayer Mirrors for EUV Lithography</a><br>
    Fumitaro Masaki, Canon, Inc.
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/05-ME-73%20Hinze_Laser%20Zentrum.pdf" target="_self">Precise and Compact EUV Reflectometer</a><br>
    Ulf Hinze, Laser Zentrum Hannover e.V.
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/06-ME-76%20Bijkerk_FOM.pdf" target="_self">Design of Multilayer Mirrors for Metrology of EUV Sources</a><br>
    F. Bijkerk, Institute for Crystallography
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/07-ME-78%20Wies_AIXUV.pdf" target="_self">AIXUV's Tools for EUV-Reflectometry</a><br>
    Christian Wies, AIXUV GmbH
</p>
<p>
    <a href="/pdf/2006/posters/Metrology_ME/08-ME-84%20Bergmann_Fraunhofer_P.pdf" target="_self">Test Stand for Optical Characterization of Grazing Incidence Collectors</a><br>
    Klaus Bergmann, Fraunhofer
</p>
<h3>
    Contamination &amp; Cleanliness
</h3>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/01-CC-11%20Kakutani_Rev.2.pdf" target="_self">High Acceleration Test for Contamination of Ru Capping Layers for EUVL Projection Optics Mirrors</a><br>
    Yukinobu Kakutani, University of Hyogo
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/02-CC-13%20Niibe_Hyogo%20EUVA.pdf" target="_self">In situ XANES Analysis for EUVL Projection Optics Contamination&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br>
    Masahito Niibe, University of Hyogo
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/03-CC-22%20Yakshinskiy_Rutgers%20P.pdf" target="_self">Thermal- and Electron-Induced Reactions on the Ru(10-10) Surface: Relevance to Extreme Ultraviolet Lithography</a><br>
    Boris V. Yakshinskiy, Rutgers University
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/04-CC-35%20Neumann_UIUC.pdf" target="_self">Effect of Deposition, Sputtering, and Evaporation of Lithium Debris Buildup on EUV Optics</a><br>
    Martin Neumann, University Ill Urbana- Champaign
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/05-CC-36%20Qiu_UIUC.pdf" target="_self">Gibbsian Segregating Alloys Driven by Thermal and Ion Flux Gradients</a><br>
    Huatan Qiu, University Ill Urbana-Champaign (UIUC)
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/06-CC-37%20Shin_UIUC.pdf" target="_self">Selective Etching of Sn from Ru EUV Mirrors with Ar/C12 Plasma</a><br>
    Hyungjoo Shin, University Ill Urbana-Champaign (UIUC)
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/07-CC-54%20Dmitry_Moscow%20State%20U_P.pdf" target="_self">Plasma Cleaning of Multilayer Coatings from Carbon and Tin Contaminations</a><br>
    Lopaev D.V., ISAN
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/08-CC-85%20Lytle_UIUC.pdf" target="_self">Plasma-Assisted Electrostatic Cleaning of EUV Masks</a><br>
    Wayne M. Lytle, University of Ill at Urbana-Champaign
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/10-CC-105%20Garg_UAlbany.pdf" target="_self">Study of Contamination of Mo/Si Multilayer Mirrors in Water and Hydrocarbon Environment under Controlled Vacuum Conditions</a><br>
    Rashi Garg, U Albany
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/11-CC-112%20Choi_Samsung.pdf" target="_self">Effect of Current Processes on PRE, Damage, and Reflectance of EUV Mask</a><br>
    Jaehyuck Choi, Samsung
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/12-CC-120%20Shirai_EUVA_P.pdf" target="_self">Debris Mitigation and Cleaning for Sn-Fueled EUV Source</a><br>
    Takahiro Shirai, Ushio
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/13-CC-169%20Hughes_BOC_P.pdf" target="_self">Managing the Vacuum Environment of a Source-Collector Module</a><br>
    Carolyn Hughes, BOC Edwards
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/14-CC-170%20Keen_BOD_P.pdf" target="_self">Contamination Control in the Projection Optics Environment</a><br>
    Anthony Keen, BOC Edwards
</p>
<p>
    <a href="/pdf/2006/posters/Contamination_CC/15-CC-175%20wolschrijn_TNO.pdf" target="_self">Progress in the Optics Lifetime Programme for ASML EUV Lithographic Tools</a><br>
    Bas Wolschrijn, TNO Science and Industry, Delft, The Netherlands
</p>
<h3>
    Defect Inspection
</h3>
<p>
    <a href="/pdf/2006/posters/Defect%20Insp_DI/01-DI-08%20Tezuka_ASET.pdf" target="_self">Impact of Imaging Optics Quality on Actinic Mask Blank Inspection&nbsp;</a><br>
    Yoshihiro Tezuka, MIRAI-ASET
</p>
<p>
    <a href="/pdf/2006/posters/Defect%20Insp_DI/02-DI-49%20Terasawa_MIRAI%20ASET.pdf" target="_self">Imaging Characteristics of Dark-Field Actinic Mask Blank Inspection</a><br>
    Tsuneo Terasawa, MIRAI-ASET
</p>
<p>
    <a href="/pdf/2006/posters/Defect%20Insp_DI/03-DI-82%20Juschkin_RWTH%20AachenU_P.pdf" target="_self">EUV Microspopy for Defect Inspection</a><br>
    Larissa Juschkin, RWTH Aachen Univ.
</p>
<p>
    <a href="/pdf/2006/posters/Defect%20Insp_DI/04-DI-109%20Kim_Samsung.pdf" target="_self">The Capability of Recent DUV Inspection and Printability for Pattern Defects on EUV Mask in 45nm Node and Below</a><br>
    Do Young Kim, Samsung
</p>
<h3>
    Multilayer Coatings
</h3>
<p>
    <a href="/pdf/2006/posters/Multilayer_MC/01-MC-17%20Hiruma_ASET.pdf" target="_self">Advanced Process for Mo-Si Multilayer Formation using an Assisted Ion Beam for EUVL Mask Blanks</a><br>
    Kenji Hiruma, ASET
</p>
<p>
    <a href="/pdf/2006/posters/Multilayer_MC/02-MC-47%20Braum_Fraunhofer.pdf" target="_self">Evaluation of Magnetron Sputter Deposition as Multilayer Coating Technology for EUVL Projection Optics</a><br>
    Stefan Braun, Fraunhofer Institut
</p>
<p>
    <a href="/pdf/2006/posters/Multilayer_MC/03-MC-48%20Gawlitza_Fraunhofer%20P.pdf" target="_self">Dual Ion Beam Sputter Deposition for EUVL Optics: Large Area and High Reflectance</a><br>
    Stefan Braun, Fraunhofer Institut
</p>
<p>
    <a href="/pdf/2006/posters/Multilayer_MC/04-MC-77%20Louis_FOM_P.pdf" target="_self">Wideband Multilayer Mirrors for EUV Optical Systems</a><br>
    E. Louis, Institute for Crystallography
</p>
<p>
    <a href="/pdf/2006/posters/Multilayer_MC/05-MC-104%20Kriese_Rigaku_P.pdf" target="_self">Multilayer Coatings Development for Non-Radial Gradients on Aspherical Optics</a><br>
    Michael D. Kriese &amp; Yuriy Y. Platonov, Rigaku Innovative Technologies
</p>
<h3>
    Optics
</h3>
<p>
    <a href="/pdf/2006/posters/Optics_OP/01-OP-51%20Ando_Canon_P.pdf" target="_self">IBF Technology Development for EUVL Mirrors</a><br>
    Manabu Ando, Canon, Inc.
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/02-OP-69%20Kikuchi_ASET_P.pdf" target="_self">Analysis of Relation between Resist LER and Optical Condition of Exposure Tool in EUV Lithography</a><br>
    Yukiko Kikuchi, ASET
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/03-OP-72%20Yakshin_FOM.pdf" target="_self">Interface Engineering of Mo/Si Multilayers for Enhanced Reflectance in EUVL Applications</a><br>
    A.E. Yakshin, FOM
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/04-OP-83%20Bergmann_Fraunhofer_P.pdf" target="_self">Characterization of Grazing Incidence Collectors Under Near Production Conditions</a><br>
    Klaus Bergmann, Fraunhofer
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/05-OP-103%20Owari_Ohara_P.pdf" target="_self">Ultra Low Thermal Expansion Material &quot;CLEARCERAM&reg;-Z&quot; for EUVL Application</a><br>
    Yoshiyuki Owari, Ohara, Inc.
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/06-OP-107%20Naulleau.pdf" target="_self">Demonstration of an EUV Phase-Only Computer-Generated Hologram</a><br>
    Patrick Naulleau, LBNL
</p>
<p>
    <a href="/pdf/2006/posters/Optics_OP/07-OP-165%20Park_Samsung_P.pdf" target="_self">The Effect of Mask Background Density on Imaging Performance in EUV Lithography</a><br>
    Jinhong Park, Samsung
</p>
<h3>
    Reticle Protection
</h3>
<p>
    <a href="/pdf/2006/posters/Reticle%20Prot_RP/01-RP-16%20Asbach_IUTA.pdf" target="_self">Effect of Differential Pressure on Particle Contamination on EUVL Photomasks</a><br>
    Christof Asbach, IUTA
</p>
<p>
    <a href="/pdf/2006/posters/Reticle%20Prot_RP/02-RP-127%20Ota_Selete.pdf" target="_self">Selete Mask Handling Program</a><br>
    Kazuya Ota, Selete
</p>
<p>
    <a href="/pdf/2006/posters/Reticle%20Prot_RP/03-RP-58%20Yonekawa_Canon_P_rev.pdf" target="_self">A Short-Pulsed Laser Cleaning System for EUVL Tool</a><br>
    Masami Yonekawa, Canon, Inc.
</p>
<h3>
    Sensors and Diagnostics
</h3>
<p>
    <a href="/pdf/2006/posters/Sensors%20&%20Diag_SD/01-SD-07%20MHL_EindhovenUT.pdf" target="_self">Monitoring Optics Contamination</a><br>
    M.H.L. van der Velden, Eindhoven Univ of Technology
</p>