<h2>
    October 29-31, 2007<br>
    Sapporo, Japan
</h2>

<h2>
    Presentations
</h2>
<p>
    <a href="/pdf/2007/1_Opening_address_Horiike.pdf" target="_self">2007 EUV Symposium Opening Address</a><br>
    Y. Horiike, EUVA
</p>
<p>
    <a href="/pdf/2007/2_opening_Program%20Logistics%20overview_Nishiyama.pdf" target="_self">Program Logistics Overview</a><br>
    I. Nishiyama, Selete
</p>
<p>
    <a href="/pdf/2007/Keynote-1-Saito.pdf" target="_self">Keynote: Toshiba’s Strategy in Semiconductor Business and Production Technology</a><br>
    S. Saito, Toshiba
</p>
<p>
    <a href="/pdf/2007/Keynote-2-Okazaki.pdf" target="_self">Keynote: EUV Lithography: Issues and Future Prospects</a><br>
    S. Okazaki, HITACHI
</p>
<p>
    <a href="/pdf/2007/region_EuropeanUpdate.pdf" target="_self">European Union Regional Update</a><br>
    R. Hartman, ASML
</p>
<p>
    <a href="/pdf/2007/region_USUpdate.pdf" target="_self">US Regional Update</a><br>
    S. Wurm, SEMATECH
</p>
<p>
    <a href="/pdf/2007/region_AsianPacificUpdate.pdf" target="_self">Asian Pacific Regional Update</a><br>
    Y. Horiike, EUVA
</p>

<h3>
    Exposure Tool
</h3>

<p>
    <a href="/pdf/2007/ET-01-Goethals.pdf" target="_self">Progress in full field EUV lithography program at IMEC</a><br>
    A. Goethals, IMEC
</p>
<p>
    <a href="/pdf/2007/ET-02-Hartley.pdf" target="_self">INVENT EUV lithography program update</a><br>
    J. Hartley, CNSE - SUNY, Albany
</p>
<p>
    <a href="/pdf/2007/ET-03-Tanaka.pdf" target="_self">Current Status of EUV exposure tools in Selete</a><br>
    H. Tanaka, Selete
</p>
<p>
    <a href="/pdf/2007/ET-04-Naulleau.pdf" target="_self">Advances at SEMATECH’s Berkeley MET</a><br>
    P. Naulleau, LBNL
</p>
<p>
    <a href="/pdf/2007/ET-05-Meiling.pdf" target="_self">Results from Alpha Demo and an update on the realization of EUV lithography</a><br>
    N. Harned, ASML
</p>
<p>
    <a href="/pdf/2007/ET-06-Miura.pdf" target="_self">Progress of Nikon EUV exposure tools</a><br>
    T. Miura, Nikon
</p>
<p>
    <a href="/pdf/2007/ET-07-Uzawa.pdf" target="_self">EUVL Development Status of Canon</a><br>
    S. Uzawa, Canon.Inc
</p>
<p>
    <a href="/pdf/2007/ET-08-Harned.pdf" target="_self">EUV Mask flatness compensation in writing and exposure tools relating to total overlay</a><br>
    U. Mickan, ASML
</p>

<h3>
    Cost of Ownership
</h3>

<p>
    <a href="/pdf/2007/CO-01-Seidel.pdf" target="_self">Extreme Ultraviolet Lithography Cost of Ownership Considerations</a><br>
    P. Seidel, SEMATECH
</p>

<h3>
    Mask
</h3>

<p>
    <a href="/pdf/2007/MA-01-Kearney.pdf" target="_self">Multilayer Deposition for Defect Free EUVL Mask Blanks</a><br>
    P. Kearney, SEMATECH MBDC
</p>
<p>
    <a href="/pdf/2007/MA-02-Jeon.pdf" target="_self">Beta-level EUV Mask Blanks for the 32nm Half-Pitch</a><br>
    C. Jeon, SEMATECH
</p>
<p>
    <a href="/pdf/2007/MA-03-Liang.pdf" target="_self">Growth and Printability of Multilayer Phase Defects</a><br>
    T. Liang, Intel Corporation
</p>
<p>
    <a href="/pdf/2007/MA-04-Goldberg.pdf" target="_self">Benchmarking Mask Imaging with the Actinic Imaging Tool</a><br>
    K. Goldberg, LBNL
</p>
<p>
    <a href="/pdf/2007/MA-05-Suga.pdf" target="_self">Current Status of a Development Program for EUVL Mask Technologies in Selete</a><br>
    O. Suga, Selete
</p>
<p>
    <a href="/pdf/2007/MA-06-Okamura.pdf" target="_self">Development status of EUVL mask blank</a><br>
    K. Okamura, Asahi Glass Co Ltd.
</p>
<p>
    <a href="/pdf/2007/MA-07-Nozawa.pdf" target="_self">Recent progress in EUV mask blanks development at HOYA</a><br>
    O. Nozawa, HOYA Corporation
</p>

<h3>
    Source
</h3>

<p>
    <a href="/pdf/2007/SO-01-Banine.pdf" target="_self">Prospects of next generation Extreme Ultraviolet Sources for Lithography Applications</a><br>
    V. Banine, ASML
</p>
<p>
    <a href="/pdf/2007/SO-02-Nishihara.pdf" target="_self">Further Improvement of CE up to 5-6% and B-field Mitigation of Fast Ions</a><br>
    K. Nishihara, Osaka University
</p>
<p>
    <a href="/pdf/2007/SO-03-Ruzic.pdf" target="_self">Are standard debris mitigation techniques good enough?</a><br>
    D. Ruzic, University of Illinois
</p>
<p>
    <a href="/pdf/2007/SO-04-Fujioka.pdf" target="_self">Experimental investigation on out-of-band radiation and neutral debris emanated from laser-produced tin plasmas</a><br>
    S. Fujioka, ILE, Osaka Univerisity
</p>
<p>
    <a href="/pdf/2007/SO-05-Hinze.pdf" target="_self">EUV Source Collectors: Characterization of Performance and Lifetime using a Full Size EUV Collector Reflectometer</a><br>
    U. Hinze, Laser Zentrum Hannover e.V.
</p>
<p>
    <a href="/pdf/2007/SO-06-Brandt.pdf" target="_self">LPP Source Development for HVM EUV Lithography</a><br>
    D. Brandt, Cymer
</p>
<p>
    <a href="/pdf/2007/SO-07-Endo.pdf" target="_self">Laser produced plasma light source for HVM-EUVL</a><br>
    A. Endo, EUVA
</p>
<p>
    <a href="/pdf/2007/SO-08-Yoshioka.pdf" target="_self">Progress on the EUV source development for HVM applications</a><br>
    M. Yoshioka, XTREME
</p>
<p>
    <a href="/pdf/2007/SO-09-Corthout.pdf" target="_self">Lessons learned on Sn DPP sources in Alpha tool and the road to HVM</a><br>
    M. Corthout, Philips EUV
</p>
<p>
    <a href="/pdf/2007/SO-10-Teramoto.pdf" target="_self">High-power DPP EUV source development toward HVM</a><br>
    Y. Teramoto, EUVA
</p>

<h3>
    Resists
</h3>

<p>
    <a href="/pdf/2007/RE-01-Brainard.pdf" target="_self">Photons, Electrons and Acid Yields in EUV Photoresists</a><br>
    R. Brainard, CNSE, U at Albany
</p>
<p>
    <a href="/pdf/2007/RE-02-Tagawa.pdf" target="_self">Effect of Fluorine Atom on Acid Generation in Chemically Amplified EUV Resist</a><br>
    S. Tagawa, ISIR, Osaka University
</p>
<p>
    <a href="/pdf/2007/RE-03-Fedynyshyn.pdf" target="_self">Polymer Matrix Effects on Acid Generation</a><br>
    T. Fedynyshyn, MIT Lincoln Laboratory
</p>
<p>
    <a href="/pdf/2007/RE-04-Wu.pdf" target="_self">Compositional Heterogeneity at the Deprotection Front - in situ Measurement Using Off-specular Neutron Reflectivity</a><br>
    K. Lavery, NIST
</p>
<p>
    <a href="/pdf/2007/RE-05-Kawamura.pdf" target="_self">Current status of EUV resist development in Selete</a><br>
    D. Kawamura, Selete
</p>
<p>
    <a href="/pdf/2007/RE-06-Ma.pdf" target="_self">SEMATECH EUV Resist Benchmarking Results</a><br>
    A. Ma, SEMATECH-North
</p>
<p>
    <a href="/pdf/2007/RE-07-Steenwinckel.pdf" target="_self">Performance Assessment of Novel Resist Approaches for EUV Lithography using a single Figure of Merit</a><br>
    D. Van Steenwinckel, NXP Semiconductors
</p>
<p>
    <a href="/pdf/2007/RE-08-Gallatin.pdf" target="_self">Resolution, LER and Sensitivity Limitations of Photoresist</a><br>
    G. Gallatin, Applied Math Solutions
</p>
<p>
    <a href="/pdf/2007/RE-09-Denbeaux.pdf" target="_self">EUV resist outgassing testing based on contamination of Mo/Si witness plates</a><br>
    G. Denbeaux, CNSE
</p>
<p>
    <a href="/pdf/2007/RE-10-Fukushima.pdf" target="_self">High Sensitive and Low LER in PAG Bonded Resist fot EUVL</a><br>
    Y. Fukushima, U. Hyogo
</p>
<p>
    <a href="/pdf/2007/RE-11-Yueh.pdf" target="_self">Single Molecule Chemically Amplified Resists for EUV Lithography: A Progress Report</a><br>
    C. Henderson, Georgia Tech
</p>
<p>
    <a href="/pdf/2007/RE-12-Shimizu.pdf" target="_self">Progress in EUV Resist Development</a><br>
    D. Shimizu, JSR Corporation
</p>

<h3>
    Contamination and Cleanliness
</h3>

<p>
    <a href="/pdf/2007/CC-01-Yulin.pdf" target="_self">Reflectivity improvments and cleaning possibilites of TiO2- and RuO2 - capped multilayer mirrors</a><br>
    S. Yulin, IOF
</p>
<p>
    <a href="/pdf/2007/CC-02-Nishiyama.pdf" target="_self">Atomic Hydrogen Cleaning for EUV Optics Contamination</a><br>
    I. Nishiyama, Selete
</p>

<h3>
    Optics
</h3>

<p>
    <a href="/pdf/2007/OP-01-Lowish.pdf" target="_self">Optics for EUV Lithography</a><br>
    P. Kuerz, Carl Zeiss SMT AG
</p>
<p>
    <a href="/pdf/2007/OP-02-Goldstein.pdf" target="_self">Optical Design for Affordable EUV Lithography</a><br>
    M. Goldstein, SEMATECH
</p>
<p>
    <a href="/pdf/2007/OP-03-Myers.pdf" target="_self">Flare Mitigation Strategies for EUVL</a><br>
    A. Myers, Intel assignee at IMEC
</p>

<h3>
    Metrology
</h3>

<p>
    <a href="/pdf/2007/ME-01-Murakami.pdf" target="_self">Development status of EUV wavefront metrology system (EWMS)</a><br>
    K. Murakami, EUVA
</p>
<p>
    <a href="/pdf/2007/ME-02-Denbeaux.pdf" target="_self">Actinic microscope for EUV masks using a stand-along source for imaging and contamination studies of EUV masks</a><br>
    G. Denbeaux, CNSE
</p>

<h3>
    Defect Inspection
</h3>

<p>
    <a href="/pdf/2007/DI-01-Jonckheere.pdf" target="_self">Mask defect printability in full field EUV lithography</a><br>
    R. Jonckheere, IMEC
</p>
<p>
    <a href="/pdf/2007/DI-02-Liang.pdf" target="_self">Status and Gaps of EUV Mask Pattern Inspection Using DUV Light</a><br>
    T. Liang, Intel Corporation
</p>
<p>
    <a href="/pdf/2007/DI-03-Yoon.pdf" target="_self">Evaluation of EUV Mask Repair Methods in Si-capping & Ru-capping Blanks</a><br>
    G. Yoon, Samsung Electronics Co., Ltd.
</p>

<h3>
    Reticle Protection
</h3>

<p>
    <a href="/pdf/2007/RP-01-He.pdf" target="_self">Progress and Challenges in Achieving Contamination-free EUV Reticle Handling</a><br>
    L. He, SEMATECH
</p>
<h2>
    Posters
</h2>

<h3>
    Exposure Tool
</h3>

<p>
	<a href="/pdf/2007/ET-P01-Naulleau.pdf" target="_self">Programmable coherence and field size illuminator for microfield exposures</a><br>
	P. Naulleau, LBNL
</p>
<p>
	<a href="/pdf/2007/ET-P02-Tawarayama.pdf" target="_self">Recent evaluation of Selete's SFET</a><br>
	K. Tawarayama, Selete
</p>
<p>
	<a href="/pdf/2007/ET-P04-Wuest.pdf" target="_self">Critical Grating Design for EUV Interference Lithography</a><br>
	A. Wüest, SEMATECH
</p>
<p>
	<a href="/pdf/2007/ET-P05-Shiotani.pdf" target="_self">Dual grating interferometric lithography for hp 22-nm node</a><br>
	H. Shiotani, U. Hyogo
</p>
<p>
	<a href="/pdf/2007/ET-P06-Michallon.pdf" target="_self">Requirements for a stand alone EUV interferometer</a><br>
	P. Michallon, CEA-Leti-Minatec
</p>

<h3>
	Source
</h3>

<p>
	<a href="/pdf/2007/SO-P01-Watanabe.pdf" target="_self">Development of Xe and Sn Discharge Produced Plasma Light Source for EUV Lithography</a><br>
	M. Watanabe, Tokyo Inst. Tech.
</p>
<p>
	<a href="/pdf/2007/SO-P03-Katsuki.pdf" target="_self">Active Control of Z-pinch Plasmas for EUV Emission</a><br>
	S. Katsuk, Kumamoto University
</p>
<p>
	<a href="/pdf/2007/SO-P04-Gielissen.pdf" target="_self">Characterization of debris emitted from a Sn-based DPP EUV-source</a><br>
	K. Gielissen, TU/e
</p>
<p>
	<a href="/pdf/2007/SO-P05-Borisov.pdf" target="_self">Development of EUV Sources with Rotating Disk Electrodes at TRINITI</a><br>
	V. Borisov, TRINITI
</p>
<p>
	<a href="/pdf/2007/SO-P06-Zakharov.pdf" target="_self">EUV Emission, Fast Particles and Debris Generation in Transient Plasmas of DPP and LPP Sources</a><br>
	S. Zakharov, EPPRA sas, RRC Kurchatov Institute
</p>
<p>
	<a href="/pdf/2007/SO-P07-Castano.pdf" target="_self">Standard Ionic Debris Measurements</a><br>
	C. Castano, University of Illinois
</p>
<p>
	<a href="/pdf/2007/SO-P08-Thompson.pdf" target="_self">Neutral debris characterization from a Sn DPP EUV source</a><br>
	K. Thompson, University of Illinois
</p>
<p>
	<a href="/pdf/2007/SO-P10-Masnavi.PDF" target="_self">Does lithium plasma in discharge-based extreme ultraviolet sources produce the necessary power for lithography?</a><br>
	M. Masnavi, Tokyo Institute of Technology
</p>
<p>
	<a href="/pdf/2007/SO-P11-Nishikawa.pdf" target="_self">Source Designs other than metallic tin in view of atomic process</a><br>
	T. Nishikawa, Okayama Univ.
</p>
<p>
	<a href="/pdf/2007/SO-P12-Tanuma.pdf" target="_self">In-band and out-of-band emissions from charge-selected Xe and Sn ions</a><br>
	H. Tanuma, TMU
</p>
<p>
	<a href="/pdf/2007/SO-P13-Sasaki.pdf" target="_self">Detailed modeling of the atomic process for the EUV source</a><br>
	A. Sasaki, JAEA
</p>
<p>
	<a href="/pdf/2007/SO-P14-Sunahara.pdf" target="_self">Two Dimensional Radiation Hydrodynamic Simulation on EUV Emission from Laser-produced Tin Plasmas</a><br>
	A. Sunahara, Institute for Laser Technology
</p>
<p>
	<a href="/pdf/2007/SO-P16-Murakami.pdf" target="_self">Simple analytical model for efficient conversion of Laser-Produced-Plasma-EUV and ion spectrum of debris</a><br>
	M. Murakami, ILE
</p>
<p>
	<a href="/pdf/2007/SO-P17-Kubodera.pdf" target="_self">EUV and debris characteristics of a tin-oxide nano-particle colloidal jet target</a><br>
	S. Kubodera, Univ. of Miyazaki
</p>
<p>
	<a href="/pdf/2007/SO-P18-Nishimura.pdf" target="_self">Experimental study of the out-of-band emission from laser produced Sn plasma</a><br>
	H. Nishimura, ILE, Osaka U.
</p>
<p>
	<a href="/pdf/2007/SO-P19-AOTA.pdf" target="_self">Study of tin-droplet target EUV source</a><br>
	T. Aota, ILE, OSAKA Univ.
</p>
<p>
	<a href="/pdf/2007/SO-P20-Nagai.pdf" target="_self">Low-density and nanostructured tin as high CE LPP targets and their high repletion supply</a><br>
	K. Nagai, ILE, Osaka University
</p>
<p>
	<a href="/pdf/2007/SO-P21-Shimada.pdf" target="_self">Fundamental study of punch-out target system for extreme ultra violet (EUV) light source</a><br>
	Y. Shimada, ILT
</p>
<p>
	<a href="/pdf/2007/SO-P22-Miyamoto.pdf" target="_self">Performance of Forced Recombination Lithium Target driven by Nd:YAG Laser</a><br>
	S. Miyamoto, LASTI/UH
</p>
<p>
	<a href="/pdf/2007/SO-P23-Amano.pdf" target="_self">Debris characteristics from EUV plasma sources produced continuously by a pulsed Nd:YAG Laser</a><br>
	S. Amano, LASTI/HIT
</p>
<p>
	<a href="/pdf/2007/SO-P24-Nakamura.pdf" target="_self">Generation of a Mass-Limited Tin Micro-Droplet using Pulsed Laser for EUV Light Sources</a><br>
	D. Nakamura, Kyushu Univ.
</p>
<p>
	<a href="/pdf/2007/SO-P25-Takahashi.pdf" target="_self">Emission characteristics of debris from Nd:YAG LPP and CO2 LPP</a><br>
	A. Takahashi, Kyushu University
</p>
<p>
	<a href="/pdf/2007/SO-P26-Dunne.PDF" target="_self">Angle-resolved spectroscopic studies of tin laser-produced plasmas from 10 - 18 nm.</a><br>
	P. Dunne, UCD Physics
</p>
<p>
	<a href="/pdf/2007/SO-P29-Abe.pdf" target="_self">Multi 10 kW short pulse CO2 laser development for HVM-EUVL</a><br>
	T. Abe, EUVA
</p>
<p>
	<a href="/pdf/2007/SO-P30-H.Yoshida.pdf" target="_self">High-peak power laser system used in Yb doped LMA fiber</a><br>
	H. Yoshida, ILE Osaka Univ.
</p>
<p>
	<a href="/pdf/2007/SO-P31-Ueno.pdf" target="_self">Characterization of laser produced Sn plasma and debris mitigation</a><br>
	Y. Ueno, EUVA
</p>
<p>
	<a href="/pdf/2007/SO-P32-Tsubakimoto.pdf" target="_self">High Peak and Average Power LD Pumped Nd:YAG Rod Laser System for EUV Generation</a><br>
	K. Tsubakimoto, ILE, Osaka Univ.
</p>
<p>
	<a href="/pdf/2007/SO-P33-Fomenkov.pdf" target="_self">CO2 Sn LPP Source Development EUV Lithography</a><br>
	I. Fomenkov, Cymer
</p>
<p>
	<a href="/pdf/2007/SO-P34-Hou.pdf" target="_self">High power pulsed-fiber laser based driver for efficient 13.5-nm EUV generation using tin-doped droplet targets</a><br>
	K. Hou, University of Michigan
</p>
<p>
	<a href="/pdf/2007/SO-P35-George.pdf" target="_self">High Power 13.5 nm EUV Generation Using a Fiber Laser</a><br>
	S. George, UCF
</p>
<p>
	<a href="/pdf/2007/SO-P36-George.pdf" target="_self">Calibrated Spectroscopy of Emissions from Tin-Doped Droplet Laser Plasma EUV Source</a><br>
	S. George, UCF
</p>
<p>
	<a href="/pdf/2007/SO-P37-Ellwi.pdf" target="_self">Stabilized continuous high power EUV laser plasma source based on multiplexed commercial solid state lasers</a><br>
	S. Ellwi, Powerlase Limited
</p>
<p>
	<a href="/pdf/2007/SO-P38-Blackborow.pdf" target="_self">EUV Source Development at Energetiq</a><br>
	P. Blackborow, Energetiq Technology, Inc.
</p>
<p>
	<a href="/pdf/2007/SO-P39-Partlow.pdf" target="_self">Beamline design for the Energetiq EQ-10 EUV source</a><br>
	M. Partlow, Energetiq Technology, Inc.
</p>
<p>
	<a href="/pdf/2007/SO-P40-Lebert.pdf" target="_self">Commercial Medium-Power Source Concepts for Metrological Tasks</a><br>
	R. Lebert, AIXUV
</p>
<p>
	<a href="/pdf/2007/SO-P41-Minkov.pdf" target="_self">Improved emission from EUVL source MIRRORCLE-20SX</a><br>
	H. Yamada, Rits SLLS
</p>
<p>
	<a href="/pdf/2007/SO-P43-Soer.pdf" target="_self">Debris-resistant liquid EUV mirrors</a><br>
	W. Soer, Philips Research
</p>

<h3>
	Mask
</h3>

<p>
	<a href="/pdf/2007/MA-P01-Seidel.pdf" target="_self">Commercial EUV mask blank readiness for 32nm HP requirements</a><br>
	P. Seidel, SEMATECH
</p>
<p>
	<a href="/pdf/2007/MA-P02-Shiota.pdf" target="_self">Development of EUV mask substrates with low thermal expansion</a><br>
	Y. Shiota, HOYA corp.
</p>
<p>
	<a href="/pdf/2007/MA-P03-Liang.pdf" target="_self">Status and Challenges in EUV Mask Cleaning</a><br>
	T. Liang, Intel Corporation
</p>
<p>
	<a href="/pdf/2007/MA-P04-%20Engelstad.pdf" target="_self">Comparison of Coulombic and Johnsen-Rahbek Electrostatic Chucking for EUV Lithography</a><br>
	R. Engelstad, Univ. of Wisconsin
</p>
<p>
	<a href="/pdf/2007/MA-P05-%20Engelstad.pdf" target="_self">Compensating for Image Placement Errors during the Fabrication of EUVL Masks</a><br>
	R. Engelstad, Univ. of Wisconsin
</p>
<p>
	<a href="/pdf/2007/MA-P06-Choi.pdf" target="_self">Image Placement Error due to non-Flatness of EUV Photomask: realistic approach and correction technique</a><br>
	J. Cho, Samsung Electronics Co., Ltd.
</p>
<p>
	<a href="/pdf/2007/MA-P07-Yoshitake.pdf" target="_self">Grid correction methodology for EUV mask</a><br>
	S. Yoshitake, NuFlare Technology, Inc.
</p>
<p>
	<a href="/pdf/2007/MA-P08-Lorusso.pdf" target="_self">Shadowing effect compensation</a><br>
	G. Lorusso, IMEC
</p>
<p>
	<a href="/pdf/2007/MA-P09-Kamo.pdf" target="_self">Impact of mask absorber properties on printability in EUV lithography</a><br>
	T. Kamo, Selete
</p>
<p>
	<a href="/pdf/2007/MA-P10-Iriki.pdf" target="_self">Study on hole pattern printability of thin absorber mask in EUVL</a><br>
	N. Iriki, Selete
</p>
<p>
	<a href="/pdf/2007/MA-P11-Abe.pdf" target="_self">Evaluation of EUV mask pattern inspection using DUV reticle inspection tool</a><br>
	T. Abe, Dai Nippon Printing
</p>
<p>
	<a href="/pdf/2007/MA-P12-Scholze.pdf" target="_self">Evaluation of EUV scatterometry for CD characterization of EUV masks using rigorous FEM-Simulation</a><br>
	F. Scholze, PTB
</p>
<p>
	<a href="/pdf/2007/MA-P13-Besacier.pdf" target="_self">EUV Mask shadowing effect modeling using Rigorous Method</a><br>
	M. Besacier, LTM - CNRS
</p>
<p>
	<a href="/pdf/2007/MA-P14-Sugawara.pdf" target="_self">Assessment of CD and pattern position error caused by non-flat surface of mask and chuck</a><br>
	M. Sugawara, Sony Electronics
</p>
<p>
	<a href="/pdf/2007/MA-P15-Clifford.pdf" target="_self">Status of Fast, Accurate Simulator for EUV Masks with Buried Defects and Absorber Features</a><br>
	C. Clifford, UC-Berkeley
</p>
<p>
	<a href="/pdf/2007/MA-P16-Shroff.pdf" target="_self">Progress in high transmission pellicles for EUVL</a><br>
	Y. Shroff, Intel Corporation
</p>
<p>
	<a href="/pdf/2007/MA-P17-Kim.pdf" target="_self">Optical and Physical Characteristics of EUV Phase Shift Masks</a><br>
	T. Kim, Hanyang University
</p>
<p>
	<a href="/pdf/2007/MA-P18-Hee%20Young%20Kang.pdf" target="_self">Design of Attenuated Phase-shift Mask with ITO Absorber for Extreme Ultraviolet Lithography</a><br>
	H. Kang, Inha university
</p>
<p>
	<a href="/pdf/2007/MA-P19-Constancias.pdf" target="_self">A novel EUV Phase Shift Mask structure</a><br>
	C. Constancias, CEA-Leti
</p>

<h3>
	Defect Inspection
</h3>

<p>
	<a href="/pdf/2007/DI-P01-Terasawa2.pdf" target="_self">Optics design and performance analysis of actinic EUV mask blank inspection with dark-field imaging</a><br>
	T. Terasawa, Selete
</p>
<p>
	<a href="/pdf/2007/DI-P02-Yoshizumi.pdf" target="_self">Study on critical dimension of printable phase defects using an EUV Microscope</a><br>
	T. Yoshizumi, U.Hyogo
</p>
<p>
	<a href="/pdf/2007/DI-P04-Amano.pdf" target="_self">Evaluation of EUVL mask pattern defect inspection using 199nm inspection optics</a><br>
	T. Amano, Mirai-Selete
</p>
<p>
	<a href="/pdf/2007/DI-P05-TanakaToshihiko.pdf" target="_self">A Simulation Study of Phase Defect Printability for EUVL</a><br>
	T. Tanaka, MIRAI-Selete
</p>

<h3>
	Reticle Protection
</h3>

<p>
	<a href="/pdf/2007/RP-P01_Asbach%20et%20al.pdf" target="_self">Analytical Model to Estimate Diffusional Nanoparticle Contamination on EUVL Photomasks</a><br>
	C. Asbach, IUTA
</p>
<p>
	<a href="/pdf/2007/RP-P02-Amemiya.pdf" target="_self">Development of Particle-free Mask Handling Techniques using MPE Tool</a><br>
	M. Amemiya, Selete
</p>
<p>
	<a href="/pdf/2007/RP-P03-Ota.pdf" target="_self">Study of Impact of Particles between EUV Reticle and Electrostatic Chuck</a><br>
	K. Ota, MIRAI-Selete
</p>

<h3>
	Metrology
</h3>

<p>
	<a href="/pdf/2007/ME-P01-Bucourt.pdf" target="_self">Adaptive Optics for EUV wavelength</a><br>
	S. Bucourt, Imagine Optic
</p>
<p>
	<a href="/pdf/2007/ME-P02-Bucourt.pdf" target="_self">Last improvment in subnanometric wavefront sensing</a><br>
	S. Bucourt, Imagine Optic
</p>
<p>
	<a href="/pdf/2007/ME-P03-Bijkerk.pdf" target="_self">EUV metrology tools for broadband spectroscopy and position sensitive detection</a><br>
	F. Bijkerk, FOM
</p>
<p>
	<a href="/pdf/2007/ME-P04-Perera.pdf" target="_self">Recent Results from Our Automated Reflectometer for Measurement of Reflectivity of EUV Lithography Masks: Introduction to our new EUV Inspection tools</a><br>
	R. Perera, EUV Technology
</p>
<p>
	<a href="/pdf/2007/ME-P05-Wies.pdf" target="_self">EUV Mask Reflectometry: Aspects of Accuracy, Precision and Stability</a><br>
	C. Wies, AIXUV
</p>
<p>
	<a href="/pdf/2007/ME-P06-Bang.pdf" target="_self">EUV Mask Flatness in Mask Process Steps</a><br>
	K. Bang, Samsung Electronics Co., Ltd.
</p>
<p>
	<a href="/pdf/2007/ME-P07-D.G.Lee.pdf" target="_self">Development of Coherent EUV Scattering Microscopy for the Inspection of EUV Mask Patterns</a><br>
	D. Lee, SEC Photomask Team
</p>

<h3>
	Multilayer Coating
</h3>

<p>
	<a href="/pdf/2007/MC-P01-Louis.pdf" target="_self">Smoothing properties of single- and multilayer coatings, a method to smoothen substrates.</a><br>
	E. Louis, FOM Rijnhuizen
</p>
<p>
	<a href="/pdf/2007/MC-P02-Hiruma.pdf" target="_self">Effect of interface treatment with ion beam on Mo-Si multilayer formation for EUVL mask blanks</a><br>
	K.i Hiruma, Hokkaido Univ.
</p>
<p>
	<a href="/pdf/2007/MC-P03_Jonckheere.pdf" target="_self">Study of capping layer impact on reflectivity loss by carbon deposition</a><br>
	R. Jonckheere, IMEC
</p>
<p>
	<a href="/pdf/2007/MC-P04-Tanaka.pdf" target="_self">Improvement of high resolving EUV microscope using an EUV beam splitter</a><br>
	K. Tanaka, University of Hyogo
</p>

<h3>
	Contamination and Cleanliness
</h3>

<p>
	<a href="/pdf/2007/CC-P01-Shin.pdf" target="_self">Sn contamination removal from mirror samples exposed to a Sn EUV source</a><br>
	H. Shin, University of Illinois
</p>
<p>
	<a href="/pdf/2007/CC-P02-Shirai.pdf" target="_self">Debris mitigation and mirror cleaning for Sn-fueled EUV source</a><br>
	T. Sirai, EUVA
</p>
<p>
	<a href="/pdf/2007/CC-P03-Nunami.pdf" target="_self">3D PIC simulation for B-field Shield of ion debris in LPP-EUV light source</a><br>
	M. Nunami, ILE
</p>
<p>
	<a href="/pdf/2007/CC-P05-Hill.pdf" target="_self">EUV-induced reflectivity loss of Ru-capped multilayer mirrors in various vacuum environments</a><br>
	S. Hill, NIST
</p>
<p>
	<a href="/pdf/2007/CC-P06-Madey.pdf" target="_self">Resonances in secondary electron yields from capped multilayer mirrors</a><br>
	T. Madey, Rutgers University
</p>
<p>
	<a href="/pdf/2007/CC-P07-Yakshinskiy.pdf" target="_self">Radiation-induced defect formation and reactivity of model TiO2 capping layers with MMA</a><br>
	B. Yakshinskiy, Rutgers University
</p>
<p>
	<a href="/pdf/2007/CC-P08-Keen.pdf" target="_self">Contamination Control in the Projection Optics Box – Part II</a><br>
	A. Keen, Edwards
</p>
<p>
	<a href="/pdf/2007/CC-P09-Koida.pdf" target="_self">Reduction of surface oxide layer of projection optics mirrors by EUV irradiation in presence of ethanol</a><br>
	K. Koida, LASTI, Univ. of Hyogo
</p>
<p>
	<a href="/pdf/2007/CC-P10-Takase.pdf" target="_self">Characteristics of additional carbon on the surface of carbon capping layer</a><br>
	H. Takase, EUVA
</p>
<p>
	<a href="/pdf/2007/CC-P11-Denbeaux.pdf" target="_self">Resist outgassing and in-situ measurement of EUV optics lifetime due to contamination</a><br>
	G. Denbeaux, CNSE
</p>
<p>
	<a href="/pdf/2007/CC-P12-Grantham.pdf" target="_self">New EUVL resist testing capabilities at NIST</a><br>
	S. Grantham, NIST
</p>
<p>
	<a href="/pdf/2007/CC-P13-Lytle.pdf" target="_self">Plasma Cleaning of Nanoparticles from EUV Mask Materials</a><br>
	W. Lytle, UIUC
</p>
<p>
	<a href="/pdf/2007/CC-P14-Kim.pdf" target="_self">Surface Properties of EUVL Mask Layers after High Energy Laser Shock Cleaning</a><br>
	T. Kim, Hanyang Univ.
</p>
<p>
	<a href="/pdf/2007/CC-P15-Sakai.pdf" target="_self">A study of cleaning characteristics for EUV mask blank</a><br>
	K. Sakai, Toppan Printing, Co.,Ltd.
</p>

<h3>
	Optics
</h3>

<p>
	<a href="/pdf/2007/OP-P01-Zink.pdf" target="_self">Thermal and Optical Characterization of an Integrated Alpha Level Source, Debris Mitigation and Collector System</a><br>
	P. Zink, Philips EUV
</p>
<p>
	<a href="/pdf/2007/OP-P02-Neumann.pdf" target="_self">In-situ Li Debris Cleaning of EUVL Optics</a><br>
	M.Neumann, University of Illinoist at Urbana-Champaign
</p>
<p>
	<a href="/pdf/2007/OP-P03-Geyl.pdf" target="_self">Near Normal Incidence EUV Collector Development at SAGEM</a><br>
	R. Geyl, SAGEM
</p>
<p>
	<a href="/pdf/2007/OP-P05-Diebold.pdf" target="_self">Radiation Damage of an EUV Mirror Cap Layer Modeled by Electron Irradiation of TiO2(011)-2x1</a><br>
	U. Diebold, Tulane University
</p>
<p>
	<a href="/pdf/2007/OP-P06-Naulleau.pdf" target="_self">Spin-on-glass smoothing of diamond-turned cylindrical fly eye illumination mirrors</a><br>
	P. Naulleau, LBNL
</p>
<p>
	<a href="/pdf/2007/OP-P07-Miyachi.pdf" target="_self">Ion beam figuring of ULE? substrate for EUVL mirror - Evaluation of surface roughness</a><br>
	S. Miyachi, TUS
</p>
<p>
	<a href="/pdf/2007/OP-P08-Mouri.pdf" target="_self">Evaluation of surface roughness of Si deposited on ULE? substrate machined with Ar+ ion beam energy of 1-3 keV</a><br>
	Y. Mouri, TUS
</p>
<p>
	<a href="/pdf/2007/OP-P09-Trogisch.pdf" target="_self">Impact of 3-D Mask Effects on Process Windows in Extreme Ultraviolet Lithography</a><br>
	S. Trogisch, Qimonda Dresden
</p>
<p>
	<a href="/pdf/2007/OP-P10-Aoyama.pdf" target="_self">Process window evaluation with flare effect</a><br>
	H. Aoyama, Selete
</p>
<p>
	<a href="/pdf/2007/OP-P12-Y.Tanaka.pdf" target="_self">Effects of aberration and flare on the lithographic performance of SFET</a><br>
	Y. Tanaka, Selete
</p>
<p>
	<a href="/pdf/2007/OP-P13_Nakajima.pdf" target="_self">Aberration budget based on Zernike sensitivity for EUV lithography</a><br>
	Y. Nakajima, Toshiba Corporation
</p>
<p>
	<a href="/pdf/2007/OP-P14-Chang.pdf" target="_self">Factors of Optical Proximity Correction in EUV Lithography</a><br>
	W. Chang, Hanyang UNIV.
</p>

<h3>
	Resists
</h3>

<p>
	<a href="/pdf/2007/RE-P01-Brainard.pdf" target="_self">Imaging Capability of EUV Photoresists: Contact Holes, Lines and Spaces</a><br>
	R. Brainard, CNSE, U at Albany
</p>
<p>
	<a href="/pdf/2007/RE-P02-Brainard.pdf" target="_self">Quantum Yield, Contrast Curves and Optical Density of EUV and 193i Photoresists</a><br>
	R. Brainard, CNSE, U at Albany
</p>
<p>
	<a href="/pdf/2007/RE-P03-Kozawa.pdf" target="_self">Effects of activation energy for deprotection reaction on latent image contrast</a><br>
	T. Kozawa, Osaka Univ.
</p>
<p>
	<a href="/pdf/2007/RE-P04-Naulleau.pdf" target="_self">Comparisons of lithographic metrics for the determination of intrinsic resist blur</a><br>
	P. Naulleau, LBNL
</p>
<p>
	<a href="/pdf/2007/RE-P05-Kim.pdf" target="_self">Limitation of the Acid Diffusion Length in Extreme Ultraviolet Lithography</a><br>
	E. Kim, Hanynag University
</p>
<p>
	<a href="/pdf/2007/RE-P06-Sekiguchi_LTJ.pdf" target="_self">Study on De-protection reaction analysis system for EUV Lithography</a><br>
	A. Sekiguchi, LTJ
</p>
<p>
	<a href="/pdf/2007/RE-P07-Fan.pdf" target="_self">Modeling of EUV photoresist parameters for accurate prophetic contrast curves and roughening</a><br>
	Y. Fan, CNSE
</p>
<p>
	<a href="/pdf/2007/RE-P08_Santillan.pdf" target="_self">EUV Resist Outgassing Studies in Selete</a><br>
	J. Santillan, MIRAI-Selete
</p>
<p>
	<a href="/pdf/2007/RE-P09-Lee.pdf" target="_self">Outgassing study of resist for extreme ultraviolet lithography at PAL</a><br>
	S. Lee, Hanyang university
</p>
<p>
	<a href="/pdf/2007/RE-P10-Goethals.pdf" target="_self">EUV resist process development for full field imaging</a><br>
	A. Goethals, IMEC
</p>
<p>
	<a href="/pdf/2007/RE-P12-RGarg.pdf" target="_self">Proximity printing using extreme ultraviolet radiation</a><br>
	R. Garg, CNSE
</p>
<p>
	<a href="/pdf/2007/RE-P13-Mimura.pdf" target="_self">Acceleration of EUV Resist Development with EB Tool</a><br>
	T. Mimura, Tokyo Ohka Kogyo Co.,Ltd
</p>
<p>
	<a href="/pdf/2007/RE-P14-WYueh.pdf" target="_self">Novel Anionic Photoacid Generators (PAGs) and Corresponding PAG Bound Polymeric Resists</a><br>
	W. Yueh, Intel Corp.
</p>
<p>
	<a href="/pdf/2007/RE-P15-Yamashita.pdf" target="_self">The resist materials study for the outgassing reduction and LWR improvement in EUV lithography</a><br>
	K. Yamashita, FUJIFILM
</p>
<p>
	<a href="/pdf/2007/RE-P16-Kikuchi.pdf" target="_self">Comparison of resolution, LWR, exposure latitude in EUV advanced resists</a><br>
	Y. Kikuchi, ASET
</p>
<p>
	<a href="/pdf/2007/RE-P17-Sasaki.pdf" target="_self">Development of partially fluorinated EUV Resist Polymers for LER and Sensitivity Improvement</a><br>
	T. Sasaki, Asahi Glass
</p>
<p>
	<a href="/pdf/2007/RE-P18-Oizumi.pdf" target="_self">Performance of high-speed-negative-tone molecular resist for EUV lithography</a><br>
	H. Oizumi, ASET
</p>
<p>
	<a href="/pdf/2007/RE-P19-Kubo.pdf" target="_self">Core-shell type hyperbranched polymer-based chemically amplified resists for EUV lithography</a><br>
	Y. Kubo, LION Corp.
</p>
<p>
	<a href="/pdf/2007/RE-P20%20Shirai.pdf" target="_self">Low Molecular Weight Resist for EUV Lithography</a><br>
	M. Shirai, Osaka Prefecture University
</p>
<p>
	<a href="/pdf/2007/RE-P21-Owada.pdf" target="_self">Development of Novel positive-tone photoresists for EUVL</a><br>
	T. Owada, Idemitsu Kosan
</p>
<p>
	<a href="/pdf/2007/RE-P22-Jack.pdf" target="_self">Rational Design and Synthesis of High Sensitivity Polymeric EUV Resists</a><br>
	K. Jack, University of Queensland
</p>
