<h2>
    October 18-21, 2009<br>
    Prague, Czech Republic<br>
</h2>
<h3>
    Keynote I
</h3>


<p>
    <a target="_self" href="pdf/2009/pres/Keynote1_Benschop_ASML.pdf">ASML EUV Program: Status and Prospects</a><br>
    J. Benschop, ASML
</p>
<h3>
    Session: Device Integration
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI-01_Sivakumar_Intel.pdf">EUV Lithography - Status and Key Challenges for HVM Implementation</a><br>
    S. Sivakumar, Intel
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI-02_Yeo_Samsung.pdf">EUVL Projection on Samsung's Device Roadmap</a><br>
    J. Yeo, Samsung
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI-03_Wood_GF.pdf">EUV Lithography at the 22-nm Technology Node</a><br>
    O. Wood, GlobalFoundries
</p>
<h3>
    Session: Source Collector Integration
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_SCI-01_Suzuki_Nikon.pdf">Joint Requirements Update for EUV Source</a><br>
    K. Suzuki, Nikon
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_SCI-02_Corthout_Philips.pdf">Sn DPP Beta SoCoMo Integration</a><br>
    M. Corthout, Philips EUV
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_SCI-03_Brandt_Cymer.pdf">LPP EUV Source Development and Productization</a><br>
    D. Brandt, Cymer, Inc.
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_SCI-04_Mizoguchi_Gigaphoton.pdf">Laser-Produced Plasma Source for EUV Lithography</a><br>
    H. Mizoguchi, Gigaphoton
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_SCI-05_Bianucci_MediaLario.pdf">Development and Performance of Grazing and Normal Incidence Collectors for the HVM DPP and LPP Sources</a><br>
    G. Bianucci, Media Lario Tech
</p>
<h3>
    Session: Masks I
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_M1-01_Hayashi_DNP.pdf">EUVL Masks: Progress and Issues</a><br>
    N. Hayashi, Dai-Nippon Printing
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M1-02_Naulleau_LBNL.pdf">How Good Will EUV Masks Have to be to Meet LER Requirements?</a><br>
    P. Naulleau, LBNL
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M1-03_Sohn_SEMATECH.pdf">Implementing E-beam Correction Strategies for Compensation of EUVL Mask Non-Flatness</a><br>
    J. Sohn, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M1-04_Jonckheere_IMEC.pdf">Investigation of Mask Defect Density in Full Field EUV Lithography</a><br>
    R. Jonckheere, IMEC
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M1-05_Liang_Intel.pdf">Strategy and Feasibility of Defect-Free Mask Fabrication to Enable EUVL</a><br>
    T. Liang, Intel
</p>
<h3>
    Session: Resists I
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_R1-01_Tarutani_Fujifilm.pdf">Resolution, LWR, and Sensitivity Improvement on Polymer-Based Resist Materials</a><br>
    S. Tarutani, Fujifilm
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R1-02_Thackeray_RH.pdf">EUV Resists Based on Low Acid Diffusion</a><br>
    J. Thackery, Rohm & Haas
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R1-03_Younkin_Intel.pdf">Assessment of Resist Readiness for 22 HP EUV Lithography</a><br>
    T. Younkin, Intel
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R1-04_Brainard_CNSE.pdf">Acid Amplifiers Designed for EUV Resists Help Beat the RLS Trade-Off</a><br>
    R. Brainard, CNSE
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R1-05_Naulleau_LBNL.pdf">Using the 0.3-NA SEMATECH Berkeley MET for Sub-22 nm Half Pitch Development</a><br>
    P. Naulleau, LBNL
</p>
<h3>
    Keynote II
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/Keynote2_Yen_TSMC.pdf">Towards High-Volume Manufacturing of Logic Devices Using EUV Lithography</a><br>
    A. Yen, TSMC
</p>
<h3>
    Session: Exposure Tools
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_ET-01_Stoeldraijer_ASML.pdf">EUVL Into Production -- Update on ASML's NXE Platform</a><br>
    J. Stoeldraijer, ASML
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_ET-02_Miura_Nikon.pdf">Nikon EUVL Development Progress Update</a><br>
    T. Miura, Nikon
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_ET-03_Miyake_Canon.pdf">Development Status of Canon's EUVL Exposure Tools</a><br>
    A. Mikyake, Canon
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_ET-04_Lok_ASML.pdf">EUV Lithography with the Alpha Demo Tools</a><br>
    S. Lok, ASML
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_ET-05_Tawarayama_SELETE.pdf">Next Step for Beyond 22 nm Node Application Using Full Field Exposure Tool</a><br>
    K. Tawarayama, Selete
</p>
<h3>
    Session: Reticle Inspection I
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-01_Rice_SEMATECH.pdf">EUV Reticle Inspection Gap</a><br>
    B. Rice, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-02_Terasawa_SELETE.pdf">Dynamic Scan Operation of Actinic EUVL Mask Blank Inspection System with TDI Mode</a><br>
    T. Terasawa, Selete
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-03_Wack_KLA-T.pdf">Critical Review of EUV Reticle Inspection Options</a><br>
    D. Wack, KLA-Tencor
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-04_Jonckheere_IMEC.pdf">Lessons Learned from Correlation Between EUV Mask Inspection, Blank Inspection and Wafer Print Analysis</a><br>
    R. Jonckheere, IMEC
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-05_Seo_Samsung.pdf">Effects of Multilayer Depositions on the EUV Printability and DUV Inspectability of Substrate Pit Defects</a><br>
    H. Seo, Samsung
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RI1-06_Mochi_LBNL.pdf">Progress in Actinic Mask Imaging: The Closest Look at Lines, Defects and Phase Roughness</a><br>
    I. Mochi, LBNL
</p>
<h3>
    Keynote III
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/Keynote3_Kim_Hynix.pdf">Future of Memory Devices and EUV Lithography</a><br>
    H.S. Kim, Hynix
</p>
<h3>
    Session: Masks II &amp; Reticle Inspection II
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-01_LaFontaine_GF.pdf">Assessing EUV Mask Defectivity</a><br>
    B. LaFontaine, GlobalFoundries
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-02_Lee_HanyangUniv.pdf">Development of Mask Contamination/Inspection System by Coherent EUV Light</a><br>
    S. Lee, Hanyan University
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-03_Mochi_LBNL.pdf">Actinic Imaging of Known Native Defects on a Full-Field Mask</a><br>
    I. Mochi, LBNL
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-04_Cummings_ASML.pdf">EUV Defects</a><br>
    K. Cummings, ASML
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-05_Huh_SEMATECH.pdf">The Study on the Native Real Defect on EUV Mask Blank Using DUV Blank Inspection Tool and SEMATECH AIT</a><br>
    S. Huh, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_M2RI2-06_Stokowski_KLA-T.pdf">Mask Blank Inspection Using DUV Light</a><br>
    S. Stokowski, KLA-Tencor
</p>
<h3>
    Session: Resists II
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_R2-01_Younkin_Intel.pdf">Non-Traditional Molecular Resist Designs</a><br>
    T. Younkin, Intel
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R2-02_Matsunaga_SELETE.pdf">EUV Resist Materials and Processing at SELETE</a><br>
    K. Matsunaga, SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R2-03_Anderson_LBNL.pdf">A Detailed Study of Three Champion EUV Photoresists</a><br>
    C. Anderson, LBNL
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_R2-04_Pollentier_IMEC.pdf">Characterisation of EUV Resist Related Outgassing and Contamination</a><br>
    I. Pollentier, IMEC
</p>
<h3>
    Session: Retical Contamination
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_RC-01_Okoroanyanwu_GF.pdf">Monitoring EUV Reticle Molecular Contamination on ASML's Alpha Demo Tool</a><br>
    U. Okoroanyanwu, GlobalFoundries
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RC-02_Nishiyama_SELETE.pdf">Observation of Carbon Contamination Growth of SFET-Exposed Mask, and Its Modeling</a><br>
    I. Nishiyama, SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_RC-03_Koster_TNO.pdf">New Developments in Cleaning of EUV Mirrors and Reticles</a><br>
    N. Koster, TNO Science and Industry
</p>
<h3>
    Session: Optics &amp; Multilayer Coating
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_OMC-01_Kuerz_CarlZeiss.pdf">Optics for EUV Lithography</a><br>
    P. Kuerz, Carl Zeiss SMT AG
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_OMC-02_Murakami_Nikon.pdf">Flare Calculation on EUV Optics</a><br>
    K. Murakami, Nikon
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_OMC-03_Hendrickx_IMEC.pdf">Experimental Determination and Accurate Modeling of the EUV ADT Flare</a><br>
    E. Hendrickx, IMEC
</p>
<h3>
    Session: Device Integration II
</h3>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-01_Gargini_Intel.pdf">IEUVI Update</a><br>
    P. Gargini, Intel
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-02_Koo_Hynix.pdf">Characterization of EUV ADT for 3X nm Node DRAM Patterning</a><br>
    S. Koo, Hynix
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-03_Goethals_IMEC.pdf">EUV Lithography Implementation on the Contact & Metal Interconnect Level of a 22 nm Node 0.099 µm2 6T-SRAM Cell</a><br>
    A. Goethals, IMEC
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-04_Kyoh_Toshiba.pdf">Feasibility Study of EUVL for High Volume Production Applying and Electrical Test Chip</a><br>
    S. Kyoh, Toshiba
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-05_Aoyama_SELETE.pdf">Applicability of Device Fabrication for 35 nm HP Wiring with Extreme Ultra Violet Lithography</a><br>
    H. Aoyama, SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/pres/O_DI2-06_Lorusso_IMEC.pdf">Accurate Models for EUV Simulation and Their Use for Design Correction</a><br>
    G. Lorusso, IMEC
</p>
<h3>
    Posters
</h3>&nbsp;
<p>
    <a target="_self" href="pdf/2009/poster/P01_Sumitani_Gigaphoton.pdf">Present Status of Laser-Produced Plasma EUV Light Source</a><br>
    A. Sumitani, Gigaphoton
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P02_Govindjee_UCBerkeley.pdf">Backside Feature Transfer During Electrostatic Chucking of Masks</a><br>
    S. Govindjee, UC Berkeley
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P04_Langer_IMEC.pdf">EUV Resist Contract Loss Determination Using Interference Lithography</a><br>
    A. Langner, IMEC
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P05_Clifford_UCBerkeley.pdf">Quantitative Comparisons of Buried Defect Printability Predicted by Fast Simulation and Measured by Actinic Inspection</a><br>
    C. Clifford, UC Berkeley
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P06_Cliffon_UCBerkeley.pdf">Investigation of Buried EUV Mask Defect Printability Using Fast Simulation at the 22 and 16 nm Nodes</a><br>
    C. Clifford, UC Berkeley
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P08_McGeoch_PLEXLLC.pdf">Laser Heated Discharge Plasma (LED) Lithium EUV Source</a><br>
    M. McGeoch, PLEX LLC
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P09_vandenBoogaard_FOMInstitute.pdf">Optical Element for Full Spectral Purity from IRE-Generated EUV Light Sources</a><br>
    A. van den Boogaard, FOM Institute
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P010_Shirai_OsakaU.pdf">Highly Sensitive Non-Chemically Amplified Negative Resist for EUVL</a><br>
    M. Shirai, Osaka Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P011_Borisov_SRCRFTRINI.pdf">The Features of EUV Light Generation from Sn Discharge Produced Plasma Source with Rotating Disk Electrodes</a><br>
    V. Borisov, SRC RF TRINITI
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P012_Bruijn_FOMInstitute.pdf">Thermal Stability Lifetime Scaling of Multilayer EUVL Optics</a><br>
    S. Bruijn, FOM Institute
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P013_Shimizu_SML.pdf">Development of Chemically Amplified EUV Resist Suitable for Ultra-thin Film Thickness</a><br>
    M. Shimizu, Semiconductor Materials Laboratory
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P014_Lawrie_UofQueensland.pdf">Polyolefin sulfide's as Non-chemically Amplified Photoresists for Extreme Ultraviolet (EUV) Lithography</a><br>
    K. Lawrie, Univ of Queensland
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P017_Echigo_Mitsubishi.pdf">Development of New Negative-Tone Molecular Resists Based on C-r-cyclohexylphenyl[4]calixarene for EUVL</a><br>
    M. Echigo, Mitsubishi Gas Chemical Co
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P019_Akiyama_Shin-Etsu.pdf">Realization of EUV Pellicle with Single Crystal Silicon Membrane</a><br>
    S. Akiyama, Shin-Etsu Chemical
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P020_Inoue_EUVA.pdf">Evaluation Tool Development for Mirrors-Mask Degradation of EUV Exposure Tool Optics by Contaminations from SoCoMo</a><br>
    T. Inoue, EUVA
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P021_Scholze_PTB.pdf">Reflectometry for Full-Size EUV Collector Mirrors for High Power LPP Sources</a><br>
    F. Scholze, PTB
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P023_Gustafson_Energetiq.pdf">EUV Source Development for AIMS and Blank Inspection</a><br>
    D. Gustafson, Energetiq
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P025_Perera_EUVTechnology.pdf">Recent Results from Our Automated Reflectometer for Measurement of Reflectivity of EUV Lithography Masks Blanks and OUR Plans for Developing a Reflectometer to Meet the HVM Requirements</a><br>
    R. Perera, EUV Technology
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P026_Perera_EUVTechnology.pdf">Performance of our Commercially Available EUV Resist Outgassing and Reticle Contamination Tool Model No. EUV-RER1314</a><br>
    R. Perera, EUV Technology
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P028_Yamatani_EUVA.pdf">Stabilization of IF Characteristics by Automatic Alignment System for Collector Module</a><br>
    D. Yamatani, EUVA
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P029_Koh_SEMATECH.pdf">24 nm Half-Pitch (HP) Contact Hole Resist Imaging Results</a><br>
    C. Koh, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P030_Owada_Idemitsu.pdf">Development of Novel Positive-Tone Resists for EUVL</a><br>
    T. Owada, Idemitsu Kosan Co Ltd
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P031_Niibe_Canon.pdf">Inhibition of Deposition and Removal of Carbon Films on the Multilayer Surface by EUV Irradiation in the Presence of Water Vapor, Oxygen and Ozone Gases</a><br>
    M. Jiibe, Canon
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P032_deRooij-Lohmann_FOMInstitute.pdf">Temperature-Induced Processes in Mo/B4C/Si Thin Films</a><br>
    V. de Rooij-Lohmann, FOM Institute
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P033_Storm_TNO.pdf">EUV-Induced Outgassing Measurements at the TNO/Carl Zeiss EUV Beamline Facility</a><br>
    A. Storm, TNO Science
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P034_Rathsack_TEL.pdf">Characterization of a Polymer Bound PAG Resist Process for EUV Lithography</a><br>
    B. Rathsack, Tokyo Electron
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P035_Ruzic_UI-Urbana-Champaign.pdf">Study of EUV Pinch Dynamics and Overcoming Collector and Mask Issues</a><br>
    D. Ruzic, U of Illinois U-C
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P036_Sporre_UI-Urbana-Champaign.pdf">Development of a Detector for Applications in Measuring Ejected Debris at the Intermediate Focus of Extreme Ultraviolet Sources</a><br>
    S. Sporre, U of Illinois U-C
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P037_Hill_NIST.pdf">EUV-Induced Carbon Contamination of TiO2-Capped Multilayer Optics: Highly Non-Linear Scaling and the Effects of Water Vapor</a><br>
    S. Hill, NIST
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P038_Shirai_SELETE.pdf">Improvements for the Small Field Exposure Tool (SFET) in SELETE</a><br>
    S. Shirai, SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P039_Nishihara_OsakaU.pdf">Optimum Plasma Conditions for LPP - and LA-DPP- EUV Sources</a><br>
    K. Nishihara, Osaka Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P040_vanKampen_CarlZeiss.pdf">Mitigation of EUV Optics Contamination</a><br>
    M. vanKampen, Carl Zeiss
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P041_Kawashita_FineTechnology.pdf">The Dry Etching Performances of EUV Mask Absorbers</a><br>
    M. Kawashita, Toppan
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P042_Amano_MIRAI-SELETE.pdf">EUV Mask Pattern Defect Inspection Using 199-nm Inspection Optics</a><br>
    T. Amano, MIRAI-SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P043_Abe_DNP.pdf">EUV Mask Pattern Defect Inspection for 32/22nm node</a><br>
    T. Abe, Dai Nippon Printing
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P044_Iwashita_TOK.pdf">Main Chain Decomposable Star Shaped Polymer for EUV Lithography</a><br>
    J. Iwashita, TOK
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P045_Kim_HanyangU%20.pdf">Line Edge Roughness Dependency on the Resist Components</a><br>
    H. Kim, Hanyang University
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P050_Kamo_MIRAI-SELETE.pdf">Defect Printability of Thin Absorber Mask in EUV Lithography with Refined LER Resist</a><br>
    T. Kamo, MIRAI-SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P051_Anazawa_MIRAI-SELETE.pdf">Novel Ozone-based Cleaning Technique for EUV Optics Carbon Contamination</a><br>
    T. Anazawa, MIRAI-SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P052_Blakey_UofQueensland.pdf">Polycarbonate Based Non-chemically Amplified Photoresists for Extreme Ultraviolet Lithography</a><br>
    I. Blakey, Univ of Queensland
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P053_Rollinger_SwissFederalInstitue.pdf">ETH Zurich's Tin Droplet LPP Source</a><br>
    B. Rollinger, Swiss Federal Institute of Technology Zurich
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P054_Giovannini_ETHZurich.pdf">Measurement of Distribution of Debris and Radiation Over 5 sr for ETH Zurich EUV Source</a><br>
    A. Giovannini, ETH Zurich
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P057_ChenLouis_FOMInstitute.pdf">In Situ Carbon Contamination Monitoring of EUV Optics by Spectroscopic Ellipsometry</a><br>
    J. Chen/E. Louis, FOM Institute
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P059_Park_Hynix.pdf">Pattern Shape Dependency of Mask Shadowing Effect and its Correction</a><br>
    J. Park, Hynix
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P060_XuGuerrero_Brewer.pdf">EUV Underlayer Designs to Enhance Photospeed and Prevent Pattern Collapse</a><br>
    H. Xu/D.Guerrero, Brewer
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P061_Bartynski_RutgersU.pdf">Interaction of Selected MET tool Residual Gas hydrocarbons with the Ru(10-10) Surface</a><br>
    R. Bartynski, Rutgers Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P062_Sunahara_InstforLaserTech.pdf">Radiation Hydrodynamic Simulation of Laser-produced Tin Plasmas</a><br>
    A. Sunahara, Institute for Laser Technology
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P063_Yakshinskiy_RutgersU.pdf">Electron-Induced Processes in EUV Resist Activation</a><br>
    B. Yakshinskiy, Rutgers Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P064_Schurmann_Fraunhofer-Institut.pdf">Complex Investigation of Mo/Si Multilayer Optics After Exposure to Pulsed EUV Radiation</a><br>
    M. Sch&uuml;rmann, Fraunhofer
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P065_Kozawa_OsakaU.pdf">Bottom Extreme-Ultraviolet-Sensitive Coating for Evaluation of the Absorption Coefficient of Ultrathin Film</a><br>
    T. Kozawa, Osaka Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P066_Kozawa_OsakaU.pdf">Latent Image Created using Selete Small-Field Exposure Tool for Extreme Ultraviolet Lithography</a><br>
    T. Kozawa, Osaka Univ
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P067_Park_AppliedPhysics.pdf">Patterning Dependency on Extreme Ultraviolet Wavelength and Bandwidth</a><br>
    J. Park, Applied Physics
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P068_Kim_AppliedPhysics.pdf">Influence of Surface Roughness on 22 nm Node Extreme Ultraviolet Lithography</a><br>
    E. Kim, Applied Physics
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P070_Jeong_HanyangU.pdf">Improvement of Imaging Properties by Optimizing the Mask Structure Using Phase Shift Effect</a><br>
    C. Jeong, Hanyang University
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P071_Yulin_Fraunhofer-Institut.pdf">Optics Lifetime Under Pulsed and Synchrotron Radiation</a><br>
    S. Yulin, Fraunhofer-Institut fur Angewandte Optik und Feinmechanik
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P072_Ren_SEMATECH.pdf">EUVL Image Placement Error Analysis with Rotatable Mask</a><br>
    L. Ren, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P073_Rastegar_SEMATECH.pdf">Determining Critical Defect Size for EUV Mask Substrates and Blanks</a><br>
    A. Rastegar, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P074_Waiblinger_CarlZeiss.pdf">e-beam Technology and EUV Photomask Repair - A Perfect Match</a><br>
    M. Waiblinger, Carl Zeiss
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P075_Lytle_UL-Urbana-Champaign.pdf">Plasma Cleaning of Carbon and Nanoparticles from EUV Materials</a><br>
    W. Lytle, U of Illinois U-C
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P076_Hendrickx_IMEC.pdf">Experimental Performance and Accurate Modeling of the EUV ADT</a><br>
    E. Hendrickx, IMEC
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P077_Zakharov_Nano-UV.pdf">High Brightness NGL Multiplexed EUV Light Source for EUV Interferometer, Metrology & Inspection</a><br>
    S. Zakharov, Nano-UV
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P079_Farahzadi_AIXUV.pdf">Developments on EUV-Reflectivity for High Volume Manufacturing of EUV Masks</a><br>
    A. Farahzadi/R. Lebert, AIXUV
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P080_Ythier_Sagem.pdf">Technology Readiness for HVM Source Collector</a><br>
    R. Ythier, Sagem
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P084_Hinze_LaserZentrumHannover.pdf">Characterization of Performance and Lifetime of EUV Source Collectors using a Full Size EUV Collector Reflectometer</a><br>
    U. Hinze, Laser Zentrum Hannover
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P086_Liang_Intel.pdf">Laser Inspection Induced Damage in Si and Ru Capped EUVL ML Blanks</a><br>
    T. Liang, Intel
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P090_Georger_SEMATECH.pdf">Optimizing EUV Resist Imaging of Spin on Hard Mask Underlayers</a><br>
    J. Georger, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P091_Huang_SEMATECH.pdf">Protection Efficiency of SEMI Standard-Compliant EUV Pods</a><br>
    G. Huang, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P092_Ota_MIRAI-SELETE.pdf">Evaluation Results of a New EUV Reticle Pod based on SEMI E152-0709</a><br>
    K. Ota, MIRAI-SELETE
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P093_Kinoshita_AsahiGlass.pdf">Development Status of EUVL Mask Blank and Substrate</a><br>
    T. Kinoshita, Asahi Glass
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P094_Yoon_Dongjin.pdf">Density Profiles of Photoresist Thin Films by High Precision X-Ray Reflectivity Analysis</a><br>
    J. Yoon, Dongjin
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P095_Harumoto_SOKUDO.pdf">Study of Post-Develop Defect on Typical EUV Resist</a><br>
    M. Harumoto, SOKUDO
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P096_Xia_Entegris.pdf">Production of High Purity Functional Water at Point-of-Use for Advanced Mask Cleaning Processes</a><br>
    A. Xia, Entegris
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P098_Herbert_ChairforTechofOpticalSystems.pdf">Experiments on Defect Inspection of Mask Blanks with an EUV Microscope</a><br>
    S. Herbert, Chair for Technology and Optical Systems
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P099_Maryasov_ChairforTechofOpticalSystemsl.pdf">Simulation of Defect Scattering Efficiency on Multilayer Mirrors for EUV Mask Inspection Tool</a><br>
    A. Maryasov, Chair for Technology and Optical Systems
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P100_Lebert_AIXUV.pdf">Actinic Mask Metrology: How to get Tools onto Track?</a><br>
    R. Lebert, AIXUV
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P108_Michallon_CEA-Leti.pdf">Results Obtained with High Efficiency Gratings for EUV Applications</a><br>
    P. Michallon, CEA/Leti
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P110_Cho_Samsung.pdf">A Comprehensive Assessment of EUV Mask Defect Printability</a><br>
    K. Cho, Samsung
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P111_Gawlitza_IWS%20Fraunhofer.pdf">Ion Beam Sputtering of DLC/Si Multilayer Mirrors</a><br>
    P. Gawlitza, IWS Fraunhofer
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P112_Wuest_SEMATECH.pdf">Classification of Operating Regimes to Determine Scaling Laws in Extreme Ultraviolet (EUV) Optics Contamination</a><br>
    A. Wuest, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P115_Montgomery_SEMATECH.pdf">Correlating Resist Photospeed using Various Exposure Platforms</a><br>
    W. Montgomery, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P116_Wuest_SEMATECH.pdf">Investigation of Pulsed EUV Source Characteristics on Modeling Predictions of EUV Optics Contamination</a><br>
    A. Wuest, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P0_Yamamoto_Osaka.pdf">Study on Depth Profile of Acid Generator Distribution in Poly(4-hydroxystyrene) films by Using X-ray Photoemission Spectroscopy (XPS)</a><br>
    H. Yamamoto, Osaka University
</p>
<p>
    <a target="_self" href="pdf/2009/poster/P0_Myers_Intel.pdf">Static test evaluation of EUV1 full-field exposure tools</a><br>
    A. Myers, Intel
</p>