<h2>
    October 17-20, 2010<br>
    Kobe, Japan
</h2>

<p>
    <a href="pdf/2010/pres/KeynoteTalkI.pdf">Keynote I: The Contribution of
    Flashto the Information Explosion</a><br>
    Kiyoshi Kobayashi, Toshiba Corporation
</p>
<h3>
    Session 1: Exposure Tool-1
</h3>
<p>
    <a href="pdf/2010/pres/ET-01.pdf">EUV into production with the NXE –
    platform</a><br>
    Rard de Leeuw, ASML
</p>
<p>
    <a href="pdf/2010/pres/ET-02.pdf">Nikon EUVL Development Progress
    Update</a><br>
    Hidemi Kawai, Nikon Corporation
</p>
<p>
    <a href="pdf/2010/pres/ET-03.pdf">Development Status of Canon’s EUVL
    Exposure Tool</a><br>
    Akira Miyake, Canon Inc.
</p>
<h3>
    Session 2: Mask-1
</h3>
<p>
    <a href="pdf/2010/pres/MA-01.pdf">The EUV Mask Infrastructure (EMI)
    Development Imperative</a><br>
    Kurt Kimmel, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-02.pdf">EUV Mask Readiness for High Volume
    Manufacturing</a><br>
    Guojing Zhang, Intel Corporation
</p>
<p>
    <a href="pdf/2010/pres/MA-03.pdf">EUV Mask Defectivity Status And
    Mitigation Towards HVM</a><br>
    Rik Jonckheere, IMEC
</p>
<p>
    <a href="pdf/2010/pres/MA-04.pdf">EUV Mask Defect Reduction: Status and
    Challenges</a><br>
    Brian BC Cha, Samsung
</p>
<p>
    <a href="pdf/2010/pres/MA-05.pdf">Dependence of lithographic performance on
    light-shield border structure of EUV mask</a><br>
    Takashi Kamo, MIRAI-Selete
</p>
<h3>
    Session 3: Reticle Defect Inspection
</h3>
<p>
    <a href="pdf/2010/pres/RI-01.pdf">Actinic dark-field mask blank inspection
    and defect printability analysis for detecting critical phase
    defects</a><br>
    Tsuneo Terasawa, MIRAI-Selete
</p>
<p>
    <a href="pdf/2010/pres/RI-02.pdf">Comparision between Existing Inspection
    Techniques for EUV Mask Defects</a><br>
    Dieter Van den Heuvel, IMEC
</p>
<p>
    <a href="pdf/2010/pres/RI-03.pdf">Process Window of EUV Mask Defects on
    Wafer</a><br>
    Hyuk Joo Kwon, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/RI-04.pdf">Electron Beam Inspection of NGL
    Reticles</a><br>
    Sterling Watson, KLA-Tencor
</p>
<p>
    <a href="pdf/2010/pres/RI-05.pdf">Artificial and natural defects on
    multilayer mirrors:Comparison of dark filed EUV microscope and AFM</a><br>
    Larissa Juschkin, RWTH Aachen University
</p>
<h3>
    Session 4: Resist-1
</h3>
<p>
    <a href="pdf/2010/pres/RE-01.pdf">EUV Resist Patterning Results for 22 nm
    HP and Smaller</a><br>
    Kyoungyong Cho, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/RE-02.pdf">EUV resist material performance, progress
    and process improvements at imec</a><br>
    A.M. Goethals, IMEC
</p>
<p>
    <a href="pdf/2010/pres/RE-03.pdf">EUV resist materials and processing at
    Selete</a><br>
    Kentaro Matsunaga, Selete
</p>
<p>
    <a href="pdf/2010/pres/RE-04.pdf">Assessment and extendibility of
    chemically amplified resists for extreme ultraviolet lithography</a><br>
    Takahiro Kozawa, Osaka University
</p>
<p>
    Flourinated Acid Amplifiers for EUV Lithography: A Comparison of
    Decomposition Kinetics, Acid Diffusion and Exposure Latitude<br>
    Seth Kruger, CNSE
</p>
<h3>
    Session 5: Source-Collector-Module
</h3>
<p>
    <a href="pdf/2010/pres/SO-01.pdf">LPP EUV Source Production for HVM</a><br>
    David C. Brandt, Cymer
</p>
<p>
    <a href="pdf/2010/pres/SO-02.pdf">First Tin Beta SoCoMo ready for Wafer
    Exposure</a><br>
    Marc Corthout, XTREME Technologies
</p>
<p>
    <a href=
    "pdf/2010/pres/SO-03-KOBE-EUV-Symposium-presentation-Mizoguchi_100W_R2.pdf">
    1st Generation Laser-Produced Plasma 100W Source System for HVM EUV
    Lithography</a><br>
    Hakaru Mizoguchi, EUVA/Komatsu, Gigaphoton
</p>
<p>
    <a href="pdf/2010/pres/SO-04.pdf">Investigation on High Conversion
    Efficiency and Tin debris Mitigation For Laser Produced Plasma EUV Light
    Source</a><br>
    Tsukasa Hori, EUVA/Komatsu, Gigaphoton
</p>
<p>
    <a href="pdf/2010/pres/SO-05.pdf">Development of a Spectral Purity Filter
    for CO2Laser Produced Plasma based on magnetized plasma confinement of
    absorbing gases</a><br>
    ChimaobiMbanaso, CNSE
</p>
<p>
    <a href="pdf/2010/pres/SO-06.pdf">Enabling the 27 nm node via a grazing
    incidence collector integrated into the DPP source for EUVL HVM</a><br>
    Giovanni Bianucci, Media Lario Technologies
</p>
<h3>
    Session 6: Multilayer, Optics/Reticle Contamination
</h3>
<p>
    <a href="pdf/2010/pres/ML-01.pdf">Optics for EUV Production</a><br>
    Peter Kuerz, Carl Zeiss SMT
</p>
<p>
    <a href="pdf/2010/pres/ML-02.pdf">High-Precision Wavefront Metrology Using
    Low Brightness EUV Source</a><br>
    Yoshinori Ichikawa, Nikon Corporation
</p>
<p>
    <a href="pdf/2010/pres/OC-01.pdf">Dependence of contamination rates on key
    parameters in EUV optics</a><br>
    Petros Thomas, CNSE
</p>
<p>
    <a href="pdf/2010/pres/RC-01.pdf">Effective Solutions for In-Fab EUVL Mask
    Cleaning</a><br>
    Uwe Dietze, HamaTech
</p>
<p>
    <a href="pdf/2010/pres/RC-02.pdf">Impact of frequent particle removal on
    EUV mask lifetime</a><br>
    Obert Wood, GLOBALFOUNDRIES
</p>
<p>
    <a href="pdf/2010/pres/Keynote%20Talk%20II.pdf">Keynote II: Riding the New
    Wave of Growth Supported by EUVL</a><br>
    Paolo Gargini, Intel Corporation
</p>
<h3>
    Session 7: Exposure Tool-2
</h3>
<p>
    <a href="pdf/2010/pres/ET-04.pdf">FullField 27nm CD Control And
    Modeling</a><br>
    Eric Hendrickx, IMEC
</p>
<p>
    <a href="pdf/2010/pres/ET-05.pdf">Progress & actual performance of the
    Selete EUV1</a><br>
    Kazuo Tawarayama, Selete
</p>
<p>
    <a href="pdf/2010/pres/ET-06.pdf">The SEMATECH Berkeley MET: Bridging the
    Gap to 16-nm Half-Pitch Development</a><br>
    Patrick Naulleau, LBNL
</p>
<p>
    <a href="pdf/2010/pres/ET-07.pdf">Sub-22nm EUV imaging on SEMATECH Albany
    Micro Exposure Tool</a><br>
    Dominic Ashworth, SEMATECH
</p>
<h3>
    Session 8: Device Integration
</h3>
<p>
    <a href="pdf/2010/pres/DI-01.pdf">Overlay Strategy in EUVL Lithography
    Era</a><br>
    Seung Yoon Lee, Samsung
</p>
<p>
    <a href="pdf/2010/pres/DI-02.pdf">22nm HP Integrated Patterning
    Improvements for EUVL</a><br>
    Manish Chandhok, Intel Corporation
</p>
<p>
    <a href="pdf/2010/pres/DI-03.pdf">Feasibility study of EUV lithography for
    2x-nm node using electrical test chip</a><br>
    Yumi Nakajima, Toshiba Corporation
</p>
<p>
    <a href="pdf/2010/pres/DI-04.pdf">CD corrections for 2x-nm test chip
    fabrication</a><br>
    Hajime Aoyama, Selete
</p>
<p>
    <a href="pdf/2010/pres/DI-05.pdf">22nm node imaging and beyond: When will
    EUV take over?</a><br>
    Eelco van Setten, ASML
</p>
<h3>
    Session 9: Mask-2
</h3>
<p>
    <a href="pdf/2010/pres/MA-06.pdf">SEMATECH's EUVL Mask Blank Defect
    Reduction Program: ML Deposition Defect Sources and Mitigation
    Strategies</a><br>
    Frank Goodwin, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-07.pdf">Printability and Inspectability of
    Programmed and Real Defects on the Reticle in EUV Lithography</a><br>
    Sungmin Huh, Samsung
</p>
<p>
    <a href="pdf/2010/pres/MA-08.pdf">AIMS™ EUV Status of Concept and
    Feasibility Study</a><br>
    Ulrich Stroessner, Carl Zeiss SMT
</p>
<p>
    <a href="pdf/2010/pres/MA-09.pdf">Arial images phase measurement with the
    AIT: a new dimension in mask metrology</a><br>
    Iacopo Mochi, LBNL
</p>
<p>
    <a href="pdf/2010/pres/MA-10.pdf">Substrate, Blank and Mask Cleaning
    Contribution to EUV Mask Defectivity and Lifetime</a><br>
    Abbas Rastegar, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-11.pdf">Development Status of EUVL Mask Blank and
    Substrate</a><br>
    Hiroshi Nakanishi, Asahi Glass Co.
</p>
<h3>
    Session 10: Resist-2
</h3>
<p>
    <a href="pdf/2010/pres/RE-06.pdf">Understanding RLS limitations for EUV
    pre-production stages:“Impact of resist dissolution”</a><br>
    Carlos Fonseca, Tokyo Electron
</p>
<p>
    <a href="pdf/2010/pres/RE-07.pdf">Understanding Underlayer Physical
    Properties and their Effect on EUV Resists</a><br>
    Craig Higgins, CNSE
</p>
<p>
    <a href="pdf/2010/pres/RE-08.pdf">Imageable Oxides: New Solutions for
    Resist</a><br>
    Jason Stowers, Inpria
</p>
<p>
    <a href="pdf/2010/pres/RE-09.pdf">Out of Band Radiation Effects on EUV
    Resist Patterning</a><br>
    Simi A. George, LBNL
</p>

<h2>
    <a href="/Posters"></a> Posters
</h2>
<h3>
    Cost of Ownership
</h3>
<p>
    <a href="pdf/2010/pres/CO-P01.pdf">Opportunities for optimizing vacuum and
    abatement systems for Extreme Ultra Violet Lithography</a><br>
    Christopher Bailey, Edwards Ltd.
</p>
<h3>
    Device Integration
</h3>
<p>
    <a href="pdf/2010/pres/DI-P01.pdf">Integration Related Issues of EUV
    Patterning for D3X with ADT</a><br>
    Jun-Take Park, Hynix
</p>
<h3>
    Exposure Tool
</h3>
<p>
    <a href="pdf/2010/pres/ET-P01.pdf">EUV Enabling Research and Development at
    the College of Nanoscale Science and Engineering</a><br>
    Warren Montgomery, CNSE
</p>
<p>
    <a href="pdf/2010/pres/ET-P02.pdf">Focus monitor application to EUV
    exposure tool using asymmetric diffraction rays by off-axis monopole
    illumination</a><br>
    Kazuo Tawarayama, Selete
</p>
<p>
    <a href="pdf/2010/pres/ET-P03.pdf">Demonstration of CDU and LWR Performance
    Improvement Techniques on a Full-Field EUV Exposure Tool</a><br>
    George Huang, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/ET-P04.pdf">Matched Machine Overlay Improvement on
    EUV Full-Field Exposure Tool – Albany Alpha Demo Tool (ADT)</a><br>
    Liping Ren, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/ET-P05.pdf">Resolution capability of SFET with slit
    and dipole illumination</a><br>
    Yuusuke Tanaka, MIRAI-Selete
</p>
<p>
    <a href="pdf/2010/pres/ET-P06.pdf">Improvement for Operating SFET Light
    Source and Collector module</a><br>
    Seiichiro Shirai, MIRAI-Selete
</p>
<h3>
    Mask
</h3>
<p>
    <a href="pdf/2010/pres/MA-P01.pdf">Low defect EUVL mask blank deposition
    tool process characterization and modeling</a><br>
    Patrick Kearney, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-P02.pdf">Deposition Process for EUV Mask
    Blanks</a><br>
    Junichi Kageyama, AGC Electronics America
</p>
<p>
    <a href="pdf/2010/pres/MA-P03.pdf">Modeling growth of defects during
    multilayer deposition of EUV blanks by level set method</a><br>
    Vibhu Jindal, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-P04.pdf">SEMATECH's infrastructure for defect
    metrology and failure analysis to support its EUV mask defect reduction
    program</a><br>
    C.C. Lin, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-P05.pdf">Implementing Dual Pod Handling
    Capability on a Film Deposition Tool for Defect-free EUVL Mask Blank
    Development</a><br>
    Jaewoong Sohn, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/MA-P06.pdf">Influence of Pellicle on 22 nm Pattern
    in Extreme Ultra-Violet Lithography</a><br>
    Bobae Kim, Hanyang University
</p>
<p>
    <a href="pdf/2010/pres/MA-P07.pdf">Overlay accuracy of EUV1 using
    compensation method for nonflatness of mask</a><br>
    Yuusuke Tanaka, MIRAI-Selete
</p>
<p>
    Readiness of Mask Substrate Supply for EUVL Pilot Production<br>
    Carlos Duran, Corning Inc.
</p>
<p>
    <a href="pdf/2010/pres/MA-P09.pdf">The suggestion of novel attenuated phase
    shift mask structure in Extreme Ultraviolet Lithography</a><br>
    Chang Young Jeong, Hanyang University
</p>
<p>
    <a href="pdf/2010/pres/MA-P10.pdf">EUVL Embedded Phase Shift Mask
    Performance Evaluation</a><br>
    Pei-yang Yan, Intel Corporation
</p>
<p>
    <a href="pdf/2010/pres/MA-P11.pdf">Reflective multi-layer etching for
    repairing clear defect on EUV masks using FIB</a><br>
    Tsuyoshi Amano, MIRAI-Selete
</p>
<p>
    <a href="pdf/2010/pres/MA-P12.pdf">Organic Removal on EUVL Ru-Capped Mo/Si
    Multilayer by Ozonated DI Water (DIO3) to Reduce Surface Damage</a><br>
    Seung-ho Lee, Hanyang University
</p>
<p>
    <a href="pdf/2010/pres/MA-P13.pdf">Simplified Models for Mask Roughness
    Induced LER</a><br>
    Brittany McClinton, LBNL
</p>
<p>
    <a href="pdf/2010/pres/MA-P14.pdf">LER Control and Mitigation: Mask
    Roughness Induced LER</a><br>
    Brittany McClinton, LBNL
</p>
<p>
    <a href="pdf/2010/pres/MA-P15.pdf">18X surface cleaning impact on process
    performance of an EUV mask</a><br>
    Simi A. George, LBNL
</p>
<p>
    <a href="pdf/2010/pres/MA-P16.pdf">Extreme ultraviolet mask substrate phase
    surface roughness effects on lithographic patterning</a><br>
    Simi A. George, LBNL
</p>
<p>
    <a href="pdf/2010/pres/MA-P17.pdf">Shot noise effect analysis in E-beam and
    EUV lithography</a><br>
    Sang Hee Lee, Samsung
</p>
<p>
    <a href="pdf/2010/pres/MA-P18.pdf">3D measurement SEM for EUV mask pattern
    quality assurance based on lithography simulation</a><br>
    Eiji Yamanaka, Toshiba Corporation
</p>
<p>
    <a href="pdf/2010/pres/MA-P19.pdf">Lithographic Performance of Binary EUV
    masks</a><br>
    Greg McIntyre, IBM
</p>
<p>
    <a href="pdf/2010/pres/MA-P20.pdf">The study on influence of carbon
    contamination on imaging performance of EUV mask using CSM/ICS</a><br>
    Sangsul Lee, Hanyang University
</p>
<p>
    Critical Dimension Evaluation of an EUV Mask Utilizing the Coherent EUV
    Scattrometry Microscope<br>
    Tetsuo Harada, University of Hyogo
</p>
<p>
    <a href="pdf/2010/pres/MA-P23.pdf">The influence of LER and LWR on angular
    resolved EUV scatterometry</a><br>
    Akiko Kato, Physikalisch-Technische Bundesanstalt
</p>
<p>
    Small Spot EUV Reflectometer for Patterned Masks, EUV Technology Model No.
    EUV-LPR-1016PM<br>
    James Underwood, EUV Technology
</p>
<p>
    <a href="pdf/2010/pres/MA-P25.pdf">Recent Results From our Automated
    Reflectometer for Measurement of Reflectivity of EUV Lithography Mask
    Blanks and Absorber Plates and Our Plans for Developing a Reflectometer to
    Meet The HVM Requirements</a><br>
    Rupert C.C. Perera, EUV Technology
</p>
<h3>
    Optics and Multilayer Coatings
</h3>
<p>
    <a href="pdf/2010/pres/ML-P01.pdf">Influence of Incident Angle Change
    Caused by Different Off-Axis Illumination Node thography Lab on 16 nm
    Extreme Ultraviolet Lithography</a><br>
    Eun-Jin Kim, Hanyang University
</p>
<p>
    <a href="pdf/2010/pres/ML-P02.pdf">Wavefront Evaluation for 6 6-mirror
    Projection Optic with EUV Wavefront Metrology System</a><br>
    Katsumi Sugisaki, Canon Inc.
</p>
<p>
    <a href="pdf/2010/pres/ML-P03.pdf">EUV scattering from Mo/Si multilayer
    coated Mirrors</a><br>
    Kazutami Misaki, Nikon Corporation
</p>
<p>
    <a href="pdf/2010/pres/ML-P04.pdf">At Wavelength Diffuse Scatter of EUV
    Optics</a><br>
    Christian Laubis, Physikalisch-Technische Bundesanstalt
</p>
<p>
    <a href="pdf/2010/pres/ML-P05.pdf">Accurate calibration of reflectometers
    using a standard multilayer mirror</a><br>
    Mitsuaki Amemiya, Selete
</p>
<p>
    <a href="pdf/2010/pres/ML-P06.pdf">Lifetime and performance of EUVL optical
    coatings</a><br>
    RW.E. van de Kruijs, FOM Rijnhuizen
</p>
<p>
    <a href="pdf/2010/pres/ML-P07.pdf">Grazing-Incidence EUV Collector Coated
    by DLC</a><br>
    Sho Amano, University of Hyogo
</p>
<h3>
    Optics Contamination
</h3>
<p>
    <a href="pdf/2010/pres/OC-P01.pdf">Studies of the rate and density of
    EUV-induced carbon contamination under varying conditions of bandwidth,
    time structure, intensity and dose</a><br>
    Shannon Hill, NIST
</p>
<p>
    <a href="pdf/2010/pres/OC-P02.pdf">New NIST high intensity beamline for
    direct testing of optics carbonization from irradiated resists</a><br>
    Shannon Hill, NIST
</p>
<p>
    <a href="pdf/2010/pres/OC-P03.pdf">Interaction of benzene and toluene
    vapors with Ru(0001) surface</a><br>
    Boris Yakshinskiy, Rutgers
</p>
<p>
    <a href="pdf/2010/pres/OC-P04.pdf">A Simple Modeling of Carbon
    Contamination on EUV Exposure Tools</a><br>
    Masayuki Shiraishi, Nikon Corporation
</p>
<p>
    <a href="pdf/2010/pres/OC-P05.pdf">Development of low-pressure UV cleaning
    technique for carbon contaminated EUV optics</a><br>
    Ryo Shibata, Nikon Corporation
</p>
<p>
    <a href="pdf/2010/pres/OC-P06.pdf">Mitigation of Carbon
    Contamination</a><br>
    Takahiro Nakayama, Canon Inc.
</p>
<p>
    <a href="pdf/2010/pres/OC-P07.pdf">Optics lifetime under pulsed
    source</a><br>
    Sergiy Yulin, Fraunhofer-Institut
</p>
<p>
    <a href="pdf/2010/pres/OC-P08.pdf">EUV optics cleanliness qualification
    using spectroscopic ellipsometry</a><br>
    Juequan Chen, FOM-Institute
</p>
<p>
    <a href="pdf/2010/pres/OC-P09.pdf">Contamination experiment for EUVL optics
    mirrors with the use of single bunch SR</a><br>
    Masahito Niibe, University of Hyogo
</p>
<p>
    <a href="pdf/2010/pres/OC-P10.pdf">Non-linearity of carbon deposition by
    EUV irradiation in the coexistence of hydrocarbon gas and water
    vapor</a><br>
    Masahito Niibe, University of Hyogo
</p>
<p>
    <a href="pdf/2010/pres/OC-P11.pdf">In-situ Contamination Thickness
    Measurement at NewSUBARU</a><br>
    Takeo Watanabe, University of Hyogo
</p>
<h3>
    Reticle Contanimation
</h3>
<p>
    <a href="pdf/2010/pres/RC-P01.pdf">Analysis of compound on EUV mask surface
    and chamber circumstance using EUV Coherent Scattering Microscopy / In-situ
    Contamination System (CSM/ICS) and Residual Gas Analyzer (RGA)</a><br>
    Jonggul Doh, Hanyang University
</p>
<p>
    <a href="pdf/2010/pres/RC-P02.pdf">Cross-sectional Film Characterization of
    Exposure-induced Carbon Contamination of Patterned EUV Masks</a><br>
    Yu-Jen Fan, CNSE
</p>
<p>
    <a href="pdf/2010/pres/RC-P03.pdf">Experimental and theoretical study on
    asymmetric carbon contamination growth on SFET SFET-exposed mask</a><br>
    Iwao Nishiyama, Selete
</p>
<p>
    <a href="pdf/2010/pres/RC-P04.pdf">Cleaning of Silicon-Containing Carbon
    Contamination</a><br>
    Toshihisa Anazawa, MIRAI-Selete
</p>
<p>
    <a href="pdf/2010/pres/RC-P05.pdf">Carbon and particle removal from EUV
    reticles by shielded microwave induced remote plasma</a><br>
    Norbert Koster, TNO Science & Industry
</p>
<p>
    <a href="pdf/2010/pres/RC-P06.pdf">Nanotweezers for removing nanoparticles
    on EUVL masks</a><br>
    Fumio Aramaki, SII NanoTechnology Inc.
</p>
<p>
    <a href="pdf/2010/pres/RC-P07.pdf">Development Of EUV Pellicle With Single
    Crystal Silicon Membrane</a><br>
    Shoji Akiyama, Shin-Etsu Chemical Co.,Ltd.
</p>
<p>
    <a href="pdf/2010/pres/RC-P08.pdf">EUVL dual pod purging characteristics
    for HVM EUV Fab</a><br>
    Jinho Kim, Samsung
</p>
<p>
    <a href="pdf/2010/pres/RC-P09.pdf">Evaluation Results of a new EUV Reticle
    Pod having Reticle Grounding Paths</a><br>
    Kazuya Ota, MIRAI-Selete
</p>
<h3>
    Resist
</h3>
<p>
    <a href="pdf/2010/pres/RE-P01.pdf">The Formation of a Collaborative
    Organization to Address EUV Materials Insertion at 22nm CD and
    Smaller</a><br>
    Warren Montgomery, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/RE-P02.pdf">Process Modifications to Reduce Image
    Collapse</a><br>
    Karen Petrillo, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/RE-P03.pdf">EUV process sensitivities and
    optimizations for wafer track processing</a><br>
    Hideo Shite, Tokyo Electron Kyushu
</p>
<p>
    <a href="pdf/2010/pres/RE-P04.pdf">Correlations of EUV Optics Contamination
    and the Photoresist Chemistry</a><br>
    Ivan Pollentier, IMEC
</p>
<p>
    <a href="pdf/2010/pres/RE-P05.pdf">Mechanism of Pattern Collapse
    Improvement Using TBAH Development</a><br>
    Roel Groenheid, IMEC
</p>
<p>
    <a href="pdf/2010/pres/RE-P06.pdf">Poly(olefin sulfone)s - A Materials
    Platform for Studying Resist Derived Contamination</a><br>
    Kirsten Lawrie, University of Queensland
</p>
<p>
    <a href="pdf/2010/pres/RE-P07.pdf">Development of EUV resists based on
    low-molecular-weight materials</a><br>
    Hiroaki Oizumi, Selete
</p>
<p>
    <a href="pdf/2010/pres/RE-P08.pdf">Resist outgassing evaluation by gas
    chromatography mass spectrometry (GC-MS), quadrupole mass spectrometry
    (QMS) and pressure-rise</a><br>
    Hiroaki Oizumi, Selete
</p>
<p>
    <a href="pdf/2010/pres/RE-P09.pdf">Characterization of EUV Resist
    Dissolution using In situ Analysis</a><br>
    Julius Joseph Santillan, Selete
</p>
<p>
    Effect of Post-Exposure Bake (PEB) Process on EUV Resist Performance<br>
    Koji Kaneyama, Selete
</p>
<p>
    <a href="pdf/2010/pres/RE-P11.pdf">Alternative rinse solutions and
    after-development-rinse processes for EUVL</a><br>
    Gousuke Shiraishi, Selete
</p>
<p>
    <a href="pdf/2010/pres/RE-P12.pdf">EUV Lithography for 22nm Half Pitch and
    Beyond: Exploring Resolution, LWR, and Sensitivity Tradeoffs</a><br>
    Steve Putna, Intel Corporation
</p>
<p>
    Readiness and Challenges of EUV Resist for the Mass Production of EUV
    Lithography<br>
    Hyun-Woo Kim, Samsung
</p>
<p>
    <a href="pdf/2010/pres/RE-P14.pdf">EUV Contact Hole Resist Progress for
    High Photosensitivity and Improved Local CD uniformity</a><br>
    Chawon Koh, Samsung
</p>
<p>
    <a href="pdf/2010/pres/RE-P15.pdf">Photoelectron spectra of backbone
    polymer of chemically amplified resist studied by ultraviolet photoelectron
    spectroscopy</a><br>
    Hiroki Yamamoto, Osaka University
</p>
<p>
    <a href="pdf/2010/pres/RE-P16.pdf">Investigation of reactivity of photoacid
    generators for EUV exposure</a><br>
    Masayuki Endo, Osaka University
</p>
<p>
    <a href="pdf/2010/pres/RE-P17.pdf">Acid Proliferation Reaction in EUV
    Resists</a><br>
    Kazuyuki Enomoto, Osaka University
</p>
<p>
    <a href="pdf/2010/pres/RE-P18.pdf">EUV Negative Resist Using Thiol-Yne
    Stepwise Radical Reaction</a><br>
    Masamitsu Shirai, Osaka University
</p>
<p>
    <a href="pdf/2010/pres/RE-P19.pdf">Evaluation of Resist Performance for
    22nm Half-Pitch and Beyond Using EUV Interference Lithography</a><br>
    Andreas Langner, Paul Scherrer Institut
</p>
<p>
    <a href="pdf/2010/pres/RE-P20.pdf">Resist Evaluation by EUV Interference
    Lithography for 22 nm Node and Below</a><br>
    Yasuyuki Fukushima, University of Hyogo
</p>
<p>
    <a href="pdf/2010/pres/RE-P21.pdf">Characteristic of Main Chain
    Decomposable STAR Shaped Polymer for EUV Resist</a><br>
    Jun Iwashita, TOK
</p>
<p>
    <a href="pdf/2010/pres/RE-P22.pdf">Characterizing polymer bound PAG type
    EUV resist</a><br>
    Shinji Tarutani, FUJIFILM Corporation
</p>
<p>
    <a href="pdf/2010/pres/RE-P23.pdf">Development of Chemically Amplified EUV
    resist for 22 nm half pich and beyond</a><br>
    Ken Maruyama, JSR
</p>
<p>
    Influences of Resist Components Properties Including Polymer Tg and
    Polarity on EUV Resist Performances<br>
    Jungsik Kim, Dongjin Semichem
</p>
<p>
    <a href="pdf/2010/pres/RE-P25.pdf">Studies of Acid Diffusion of Anionic or
    Cationic Polymer Bound PAG</a><br>
    Joonhee Han, Kumho Petrochemical Co.
</p>
<p>
    <a href="pdf/2010/pres/RE-P26.pdf">Development of positive-tone molecular
    resist based on Phenyl[4]calixarene for EUVL</a><br>
    Masatoshi Echigo, Mitsubishi Gas Chemical Company
</p>
<p>
    <a href="pdf/2010/pres/RE-P27.pdf">Development of new negative
    negative-tone molecular resists based on d derived erived
    cyclohexylphenylcalix[4]resorcinarene for EUVL</a><br>
    Yu Okada, Mitsubishi Gas Chemical Company
</p>
<p>
    <a href="pdf/2010/pres/RE-P28.pdf">Development of Novel positive-tone
    Resists for EUVL</a><br>
    Hideaki Shiotani, Idemitsu Kosan Co.
</p>
<p>
    <a href="pdf/2010/pres/RE-P29.pdf">Development of Under Layer material for
    EUV Lithography</a><br>
    Rikimaru Sakamoto, Nissan Chemical Industries
</p>
<p>
    <a href="pdf/2010/pres/RE-P30.pdf">Study of High Adhesion Under Layer
    materialvfor EUV Lithography</a><br>
    Rikimaru Sakamoto, Nissan Chemical Industries
</p>
<p>
    <a href="pdf/2010/pres/RE-P31.pdf">High-sensitivity EUV resists based on
    flourinatedpolymers</a><br>
    Tsuneo Yamashita, Daikin Industries
</p>
<p>
    EUVL Pattern Collapse Reduction Using New Post Rinse Process Technology<br>
    Keiichi Tanaka, Tokyo Electron Kyushu
</p>
<p>
    <a href="pdf/2010/pres/RE-P33.pdf">Study of post-develop defect on typical
    EUV resist</a><br>
    Masahiko Harumoto, SOKUDO. Co.
</p>
<p>
    <a href="pdf/2010/pres/RE-P34.pdf">Next Generation EUV Resist Outgassing
    and Reticle Contamination Tool Model NO. RER-300-PEX</a><br>
    James H. Underwood, EUV Technology
</p>
<p>
    <a href="pdf/2010/pres/RE-P35.pdf">High Brightness EUV Light Source
    Applications using Diffractive Optics</a><br>
    Philippe Bove, Nano-UV sas
</p>
<h3>
    Reticle Defect Inspection
</h3>
<p>
    <a href="pdf/2010/pres/RI-P01.pdf">Proof of concept for LPP based high
    brightness EUV source for actinic mask metrology</a><br>
    Rainer Lebert, Bruker ASC
</p>
<p>
    <a href="pdf/2010/pres/RI-P02.pdf">Contributions to EUV mask metrology
    infrastructure: Reflectometer, Blank Inspection and DPP+LPP EUV
    Sources</a><br>
    Rainer Lebert, Bruker ASC
</p>
<p>
    <a href="pdf/2010/pres/RI-P03.pdf">Improvement in actinic blank inspection
    and characterization of phase defects</a><br>
    Takeshi Yamane, Selete
</p>
<p>
    <a href="pdf/2010/pres/RI-P04.pdf">EUV Actinic Mask Imaging with the
    SEMATECH Berkeley Actinic Inspection Tool (AIT)</a><br>
    Kenneth Goldberg, LBNL
</p>
<p>
    <a href="pdf/2010/pres/RI-P05.pdf">Study of the phase defect with minimum
    width and depth affecting the exposure result</a><br>
    Hiroo Kinoshita, University of Hyogo
</p>
<p>
    <a href="pdf/2010/pres/RI-P06.pdf">EUVL Mask Blank Defect Inspection
    Capability at SEMATECH</a><br>
    Andy Ma, SEMATECH
</p>
<p>
    <a href="pdf/2010/pres/RI-P07.pdf">Extending a 193nm Mask Inspector for 22
    nm HP</a><br>
    Gregg Inderhees, KLA-Tencor
</p>
<p>
    <a href="pdf/2010/pres/RI-P08.pdf">Die--Database Defect Inspection of
    Sub--30nm HP Pattern by a DUV Mask Inspection SystemMask</a><br>
    Hideaki Hashimoto, Nuflare Technology
</p>
<p>
    <a href="pdf/2010/pres/RI-P09.pdf">The Use of Optical Wafer Inspection to
    Qualify EUV Mask Defects and Process Defects: Limitations and Advantages of
    This Technique</a><br>
    Dieter Van den Heuvel, IMEC
</p>
<p>
    <a href="pdf/2010/pres/RI-P10.pdf">Study of EUV Mask Defect Inspection and
    Repair Using Conventional Tools and Techniques</a><br>
    Yutaka Kodera, Toppan Printing
</p>
<p>
    <a href="pdf/2010/pres/RI-P11.pdf">Inspection solutions for EUV-mask
    defectivity applications</a><br>
    Shmoolik Mangan, Applied Materials
</p>
<p>
    <a href="pdf/2010/pres/RI-P12.pdf">EUV mask absorber pattern inspection
    using DUV inspection tool</a><br>
    Tsukasa Abe, DNP
</p>
<p>
    <a href="pdf/2010/pres/RI-P13.pdf">Development of EB Inspection System
    EBeyeM for EUV Mask</a><br>
    Takashi Hirano, Toshiba Corporation
</p>
<h3>
    Source-Collector-Module
</h3>
<p>
    <a href="pdf/2010/pres/SO-P01.pdf">Laser Produced Plasma EUV Source for
    HVM</a><br>
    Igor V. Fomenkov, Cymer
</p>
<p>
    <a href="pdf/2010/pres/SO-P02.pdf">DLC/Si Multilayer Mirrors with IR
    Antireflective Properties at 10.6um</a><br>
    Peter Gawlitza, IWS Dresden
</p>
<p>
    Improving efficiency of pulsed CO2 Laser system for LPP EUV light
    source<br>
    Takeshi Ohta, Komatsu
</p>
<p>
    <a href="pdf/2010/pres/SO-P04.pdf">EUV Brightness Measurements and IF
    Imaging</a><br>
    Andrea Giovannini, Swiss Federal Institute of Technology
</p>
<p>
    3 Dimensional Study of EUV Emission from a Droplet Based LPP Source<br>
    Oran Morris, Swiss Federal Institute of Technology
</p>
<p>
    <a href="pdf/2010/pres/SO-P06.pdf">Development of LPP Source
    Technology</a><br>
    Bob Rollinger, Swiss Federal Institute of Technology
</p>
<p>
    High Brightness LPP EUV Source Product<br>
    Fariba Abreau, Adlyte Corporation
</p>
<p>
    <a href="pdf/2010/pres/SO-P09.pdf">Properties of ions emitted from Sn
    plasma produced by Nd:YAG and CO2 lasers for extreme ultraviolet
    lithography</a><br>
    Russell Burdt, University of California San Diego
</p>
<p>
    <a href="pdf/2010/pres/SO-P10.pdf">Laser-produced Sn microplasma for EUV
    metrology light source</a><br>
    Sam Yuspeh, University of California San Diego
</p>
<p>
    <a href="pdf/2010/pres/SO-P12.pdf">Laser-produced plasma EUV source around
    6.7-6.8 nm for future semiconductor lithography</a><br>
    Takamitsu Otsuka, Utsunomiya University
</p>
<p>
    <a href="pdf/2010/pres/SO-P13.pdf">Atomic processes of shorter wavelength
    EUV sources</a><br>
    Akira Sasaki, Japan Atomic Energy Agency
</p>
<p>
    <a href="pdf/2010/pres/SO-P14.pdf">Optimization of LPP-and LA-DPP-EUV Light
    Sources</a><br>
    Katsunobu Nishihara, Osaka University
</p>
<p>
    <a href="pdf/2010/pres/SO-P15.pdf">Radiation Hydrodynamic Simulation of
    Laser-produced Tin Plasmas</a><br>
    Atsushi Sunahara, Institute for Laser Technology, Japan
</p>
<p>
    <a href="pdf/2010/pres/SO-P16.pdf">Sn film and ignition control for
    performance enhancement of laser-triggered DPP source</a><br>
    Yusuke Teramoto, EUVA
</p>
<p>
    <a href="pdf/2010/pres/SO-P17.pdf">Development of debris-mitigation tool
    for HVM DPP source</a><br>
    Hironobu Yabuta, EUVA
</p>
<p>
    <a href="pdf/2010/pres/SO-P18.pdf">Development of evaluation tool and
    method for mirrors-mask degradation of EUV exposure tool optics by
    contaminations from SoCoMo</a><br>
    Shinsuke Mouri, EUVA
</p>
<p>
    Performance of Laser Heated Discharge Lithium EUV Source<br>
    Malcolm McGeoch, PLEX LLC
</p>
<p>
    <a href="pdf/2010/pres/SO-P21.pdf">Improvements in pulse-to-pulse stability
    to the EQ-10 Electrodeless Z-Pinch EUV Source</a><br>
    Stephen F. Horne, Energetiq Technology, Inc.
</p>
<p>
    <a href="pdf/2010/pres/SO-P22.pdf">HYDRA™ - Multiplexed EUV Sources for
    High Sensitivity and High Throughput Actinic Mask Blank and Defect
    Inspection</a><br>
    Peter Choi, Nano-UV sas
</p>
<p>
    <a href="pdf/2010/pres/SO-P23.pdf">CYCLOPS™ : A Compact EUV Light
    SourceModule with High Irradiance and Low Etendue for EUV Lithography
    Applications</a><br>
    Peter Choi, Nano-UV sas
</p>
<p>
    <a href="pdf/2010/pres/SO-P24.pdf">Modelling of high intensity EUV light
    sources based on laser- & dischargeproduced plasmas</a><br>
    Sergey V. Zakharov, Nano-UV sas
</p>
<p>
    <a href="pdf/2010/pres/SO-P25.pdf">Effects of the Plasma Dynamics on the
    EUV Emission from a Laser Assisted Discharge Produced Sn Plasma EUV
    source</a><br>
    Qiushi Zhu, Tokyo Institute of Technology
</p>