<h2>
    September 30 - October 04, 2012<br>
    Brussels, Belgium
</h2>
<p>
    <a target="_self" href="pdf/2012/pres/EUVL2012%20Opening%20final.pdf">Opening
    Remarks</a><br>
    Kurt Ronse, Roel Groenheid, IMEC
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20Yeric.pdf">Keynote Presentation: Lithography,
    SoC Design, and Cost</a><br>
    Greg Yeric, ARM R&D
</p>
<p>
    <a target="_self" href="pdf/2012/pres/S.%20Kyoh.pdf">Evaluation of EUVL Readiness for Mass
    Productions</a><br>
    Suigen Kyoh, Toshiba
</p>
<h3>
    Session 1: EUV Patterning and Integration
</h3>
<p>
    <a target="_self" href="pdf/2012/pres/S.%20Koo.pdf">Characterization of NXE3100 in View of
    1Xnm Node DRAM Patterning</a><br>
    Sunyoung Koo, SK Hynix
</p>
<p>
    <a target="_self" href="pdf/2012/pres/J.%20Versluijs.pdf">15NM Half-Pitch Patterning: EUV
    + Self-Aligned Double Patterning</a><br>
    Janko Versluijs, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/E.%20Van%20Setten.pdf">Getting to Know The Secrets
    of EUV Lithography</a><br>
    Eelco van Setten, ASML
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20Lorusso.pdf">OPC Calibration For Pre-Production
    EUVL</a><br>
    GF Lorusso, imec
</p>
<p>
    Suppression of Black-Border Effect in EUV Masks<br>
    Jui-Ching Wu, TSMC
</p>
<p>
    <a target="_self" href="pdf/2012/pres/K.%20Ota.pdf">Silica Aerogel Can Capture Flying
    Particles in EUV Tools</a><br>
    Kazuya Ota, Nikon
</p>
<p>
    <a target="_self" href="pdf/2012/pres/C.%20Ober.pdf">Understanding the Patterning
    Mechanism of Inorganic Nanoparticle Photoresists from HfO2 and ZrO2</a><br>
    Chris Ober, Cornell University
</p>

<h3>
    Session 2: Resists
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/M.%20Goethals.pdf">Assessment of EUV Resist
    Performance for Sub-22nm HP Lines and 26nm HP Contacts on NXE3100</a><br>
    AM Goethals, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/J.%20Hatakeyama.pdf">Reduction of LWR by Advanced
    Polymer Bound PAG Based EUV Resist</a><br>
    Jun Hatakeyama, Shin-Etsu
</p>
<p>
    <a target="_self" href="pdf/2012/pres/H.%20Tsubaki.pdf">EUV Resist Materials Design for 15
    nm Half Pitch and Below</a><br>
    Hideaki Tsubaki, FujiFilm
</p>
<p>
    <a target="_self" href="pdf/2012/pres/K.%20Maruyama.pdf">Novel EUV Resist Materials and
    Process for 16 nm Half Pitch and Beyond</a><br>
    Ken Maruyama, JSR Micro Inc
</p>
<p>
    Fluorine-Stabilized Acid Amplifiers for Use in EUV Lithography<br>
    Robert Brainard, College of Nanoscale Science and Engineering
</p>

<h3>
    Session 3: Mask-Particle Adders
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/R.%20Tian.pdf">Systematic Study of New Chemistries
    For EUV Mask Cleaning</a><br>
    Ruhai Tian, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/R.%20Jonckheere.pdf">Minimizing Particle
    Contamination of NXE3100 Reticles</a><br>
    Rik Jonckheere, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/A.%20Rastegar.pdf">Challenges of Cleaning of EUV
    Masks Below the Sub-16 nm HP</a><br>
    Abbas Rastegar, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/A.%20Garetto.pdf">Simulation Results from the AIMS™
    EUV Development Project</a><br>
    Anthony Garetto, Carl Zeiss
</p>
<p>
    <a target="_self" href="pdf/2012/pres/A.%20Vaglio%20Pret.pdf">Mask Roughness Effects on
    Pattern Variability</a><br>
    Alessandro Vaglio Pret, imec
</p>
<p>
    IEUVI Update<br>
    Paolo Gargini, Intel
</p>

<h3>
    Session 4: Mask Repair
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/F.%20Goodwin.pdf">EUV Mask Challenges, Status, and
    Closing the Remaining Technology Gaps</a><br>
    Frank Goodwin, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20McIntyre.pdf">EUVL Mask Repair: Expanding
    Options with Nanomachining</a><br>
    Gregory McIntyre, IBM
</p>
<p>
    <a target="_self" href="pdf/2012/pres/A.%20Erdmann.pdf">Rigorous Modeling and Optimization
    of Multilayer Defect Repair</a><br>
    Andreas Erdmann, Fraunhofer
</p>
<p>
    <a target="_self" href="pdf/2012/pres/D.%20Van%20den%20Heuvel.pdf">Study of Multilayer
    Defects on Sub-32nm HP EUV Reticles</a><br>
    Dieter Van den Heuvel, imec
</p>

<h3>
    Session 5: Sources and Collectors
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/D.%20Brandt.pdf">LPP EUV Source Performance and
    Prospects for NGL in Mass Production of sub-20nm Devices</a><br>
    David Brandt, Cymer
</p>
<p>
    <a target="_self" href="pdf/2012/pres/M.%20Yoshioka.pdf">Progress on Laser Assisted
    Discharge Produced Plasma (LDP) EUV Light SourceTechnology</a><br>
    Masaki Yoshioka, Ushio/Xtreme
</p>
<p>
    <a target="_self" href="pdf/2012/pres/H.%20Mizoguchi.pdf">High CE Technology for HVM EUV
    Source</a><br>
    Hakaru Mizoguchi, Gigaphoton
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20Bianucci.pdf">Advanced LPP Architecture for an
    EUVL SoCoMo</a><br>
    Giovanni Bianucci, Media Lario Technologies
</p>
<p>
    <a target="_self" href="pdf/2012/pres/T.%20Feigl.pdf">Enhanced Lifetime and Optical
    Performance of the NXE:3100 LPP Collector Mirrors</a><br>
    Torsten Feigl, Fraunhofer IOF
</p>
<p>
    <a target="_self" href="pdf/2012/pres/S.%20Young.pdf">EUV Enables Single Exposure 14nm
    Node</a><br>
    Stuart Young, ASML
</p>

<h3>
    Session 6: Exposure Tools
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/M.%20Lowisch.pdf">Optics for the NXE:3300</a><br>
    Martin Lowisch, Carl Zeiss
</p>
<p>
    <a target="_self" href="pdf/2012/pres/E.%20Hendrickx.pdf">ASML NXE:3100 Pre-Production EUV
    Scanner Performance at imec</a><br>
    Eric Hendrickx, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20McIntyre%20(2).pdf">Enhancing Resolution of the
    Albany Alpha-Demo Tool (ADT) with Pupil Filtering</a><br>
    Gregory McIntyre, IBM
</p>
<p>
    <a target="_self" href="pdf/2012/pres/K.%20Hrdina.pdf">ULE® Glass with Improved Thermal
    Properties for EUVL Masks and Projection Optics Substrates</a><br>
    Ken Hrdina, Corning Incorporated
</p>

<h3>
    Session 7: EUV Extendability
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/C.%20Anderson.pdf">The SEMATECH Berkeley MET: 2D
    Patterning at 20 nm HP and Progress Towards 0.5-NA</a><br>
    Chris Anderson, LBNL
</p>
<p>
    <a target="_self" href="pdf/2012/pres/J.%20Timo%20Neumann.pdf">3D Reticle Effects for
    High-NA EUV Lithography</a><br>
    Jens Timo Neumann, Carl Zeiss
</p>
<p>
    <a target="_self" href="pdf/2012/pres/V.%20Philipsen.pdf">Impact of Mask Stack on High NA
    EUV Imaging</a><br>
    Vicky Philipsen, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/I.%20Makhotkin.pdf">Multilayer Coatings for the
    Lithography Generation Beyond EUVL</a><br>
    Igor Makhotkin, FOM Institute for Plasma Physics Rijnhuizen
</p>
<p>
    <a target="_self" href="pdf/2012/pres/V.%20Banine.pdf">Opportunity to Extend EUV
    Lithography to a Shorter Wavelength</a><br>
    Vadim Banine, ASML
</p>
<p>
    <a target="_self" href="pdf/2012/pres/C.%20Lim.pdf">Progress and Remaining Challenges of
    EUV Lithography for Memory IC Manufacturing</a><br>
    Changmoon Lim, SK Hynix
</p>

<h3>
    Session 8: Blank and Patterned Mask Inspection
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/D.%20Wack%20and%20G.%20Inderhees.pdf">Solutions for
    EUV Mask Inspection</a><br>
    Gregg Inderhees, Dan Wack, KLA-Tencor
</p>
<p>
    <a target="_self" href="pdf/2012/pres/M.%20Toyoda.pdf">At-Wavelength EUV Lithography Mask
    Observation Using a High-Magnification Objective with Three Multilayer
    Mirrors</a><br>
    Mitsunori Toyoda, Tohoku University
</p>
<p>
    <a target="_self" href="pdf/2012/pres/L.%20Shoval%20and%20I.%20Englard.pdf">EUV Mask
    Inspection State Of The Art</a><br>
    Ilan Englard, Lior Shoval, Applied Materials
</p>
<p>
    <a target="_self" href="pdf/2012/pres/T.%20Terasawa.pdf">Status of Phase Defect
    Printability Studies in EIDEC</a><br>
    Tsuneo Terasawa, EIDEC
</p>

<h3>
    Session 9: Putgassing and Resist Fundamentals
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/R.%20Onishi.pdf">New Approach for Reducing the Out
    of Band Effect and Outgassing by Applying Top Coat Materials</a><br>
    Ryuji Onishi, Nissan Chemical Industries, LTD
</p>
<p>
    <a target="_self" href="pdf/2012/pres/C.%20Tarrio.pdf">New Developments in Resist-Outgas
    Testing at NIST</a><br>
    Charles Tarrio, NIST
</p>
<p>
    <a target="_self" href="pdf/2012/pres/I.%20Pollentier.pdf">Progress in Understanding EUV
    Resist Related Outgassing and Contamination</a><br>
    Ivan Pollentier, imec
</p>
<p>
    <a target="_self" href="pdf/2012/pres/C.%20Sarma.pdf">EUV Resist Outgas Testing at
    SEMATECH-CNSE</a><br>
    Chandra Sarma, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/E.%20Shiobara.pdf">EUV Resist Process Development at
    EIDEC</a><br>
    Eishi Shiobara, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/pres/T.%20Kozawa.pdf">Analysis of Stochastic Effect in
    Line-and-Space Patterns Fabricated by Extreme Ultraviolet
    Lithography</a><br>
    Takahiro Kozawa, Osaka University
</p>
<p>
    <a target="_self" href="pdf/2012/pres/J.%20Cheng.pdf">Extending the Patterning Capability
    Using Directed Self-Assembly</a><br>
    Joy Cheng, IBM
</p>

<h3>
    Session 10: Processes Enhancing EUVL
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/I.%20Blakey.pdf">Development of DSA Approaches for
    Healing of LER and Shrinking of CD that are Compatible with Standard EUV
    Resists</a><br>
    Idriss Blakey, The University of Queensland
</p>
<p>
    <a target="_self" href="pdf/2012/pres/T.%20Younkin.pdf">A Comparison of Positive- and
    Negative-tone Contact Hole Process Flows Using the IMEC NXE:3100</a><br>
    Todd Younkin, Intel
</p>
<p>
    <a target="_self" href="pdf/2012/pres/S.%20Tarutani.pdf">NegativeTone Imaging in EUVTone
    EUV</a><br>
    Shinji Tarutani, FujiFilm
</p>
<p>
    <a target="_self" href="pdf/2012/pres/K.%20Petrillo.pdf">Level-Specific Material
    Evaluations for NXE3300 Applications</a><br>
    Karen Petrillo, SEMATECH
</p>

<h3>
    Session 11: Optics and Contamination
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/I.%20Takagi.pdf">Study of Contamination Due to EUV
    Resist Outgassing</a><br>
    Isamu Takagi, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/pres/J.%20Sporre.pdf">Sn Etching With Hydrogen
    Plasma</a><br>
    John Sporre, University of Illinois
</p>
<p>
    <a target="_self" href="pdf/2012/pres/V.%20Medvedev.pdf">Multilayer-Based Solutions for
    Suppression of IR Radiation in EUV Systems</a><br>
    V.V. Medvedev, FOM Institute DIFFER
</p>
<p>
    <a target="_self" href="pdf/2012/pres/G.%20Fenger.pdf">EUVL Image-Based Aberration
    Metrology</a> Germain Fenger, Rochester Institute of Technology
</p>
<p>
    <a target="_self" href="pdf/2012/pres/R%20Miyakawa%20EUVL%2012.pdf">In-situ Testing of
    Exposure Tool Optics via Localized Wavefront Curvature Sensing</a><br>
    Ryan Miyakawa, LBNL
</p>
<p>
    <a target="_self" href="pdf/2012/pres/H.%20Seo.pdf">EUVL Mask Blank Requirements Toward
    High Volume Manufacturing</a><br>
    Hwan-Seok Seo, Samsung
</p>

<h3>
    Session 12: Mask Blanks
</h3>

<p>
    <a target="_self" href="pdf/2012/pres/R.%20Teki.pdf">Material- and Polishing-Induced
    Defectivity on EUV Mask Substrates</a><br>
    Ranganeth Teki, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/K.Takehisa.pdf">EUV Actinic Blank Inspection Tool
    Development</a><br>
    Kiwamu Takehisa, Lasertec Corporation
</p>
<p>
    <a target="_self" href="pdf/2012/pres/A.%20Ma.pdf">EUVL Mask Blank Defect Inspection
    Capability Improvement and its Application at SEMATECH</a><br>
    Andy Ma, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/pres/T.%20Murachi.pdf">Fiducial Mark Requirements From
    the Viewpoints of EUV Actinic Blank Inspection Tool for Phase defect
    mitigation</a><br>
    Tetsunori Murachi, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/pres/EUVL2012%20Closing%20final.pdf">Closing
    Remarks</a><br>
    Kurt Ronse, imec
</p>
<p>
    &nbsp;<br>
    &nbsp;
</p>

<h3>
    Poster Presentations
</h3>


<h3>
    Masks: Defects and Inspection
</h3>

<p>
    <a target="_self" href="pdf/2012/poster/P-MA-01.pdf">High Efficiency Transmission Masks
    for EUV Interference Lithography</a><br>
    Sascha Brose, RWTH Aachen University
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-02.pdf">Discharge Based EUV Source For Mask
    Inspection</a><br>
    Klaus Bergmann, Fraunhofer
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-03.pdf">Wafer Inspection for Monitoring
    Particles Added to Reticles During Exposure</a><br>
    Yoonsuk Hyun, SK Hynix
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-04.pdf">The Impact of EUV Mask Residual-Type
    Defect Thickness on Wafer Printability</a><br>
    Tsuyoshi Amano, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-05.PDF">An Automated Reflectometer For
    Measurement of Reflectivity of EUV Lithography Masks Blanks and Absorbers
    to Meet The HVM Requirements</a><br>
    Rupert Perera, EUV Tech
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-07.PDF">Development of Standalone Coherent
    EUV Scatterometry Microscope with High Harmonic Generation EUV
    Source</a><br>
    Tetsuo Harada, University of Hyogo
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-08.pdf">New Test Vehicle with a Variety of
    Programmed ML Defects for EUV Blanks Inspection</a><br>
    Yutaka Kodera, Toppan Printing
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-10.pdf">Basic Performance Evaluation of Novel
    Projection Electron Microscopy (PEM) System for EUV Mask Pattern
    Inspection</a><br>
    Ryoichi Hirano, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-11.pdf">Projection Electron Microscopic Image
    Simulation for EUV Mask Pattern Inspection</a><br>
    Susumu Iida, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-12.pdf">Nanoparticle Detection Limits of
    TNO’s Rapid Nano: Modeling and Experimental Results</a><br>
    Peter van der Walle, TNO
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-13.pdf">Pushing the Envelope: DUV Mask
    Inspection of 20nm EUV Masks</a><br>
    Ziv Parizat, Applied Materials
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-14.pdf">Impact of an Etched EUV Mask Black
    Border on Imaging and Overlay</a><br>
    Robert de Kruif, ASML
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-15.pdf">Simulation of Mask “Black Border”
    Effect in EUV Using Rigorous Models</a><br>
    Weimin Gao, Synopsys
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-16.pdf">A Novel Dry Etching Process for
    Reducing Defects of EUVL Photomask</a><br>
    Jeong Chan Kim, Samsung
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-17.pdf">Etched Multilayer Mask in EUV
    Lithography for 22nm Node and Below</a><br>
    GukJin Kim, Hanyang University
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-18.pdf">Study of a CDMAP Function for an EUV
    Mask Using NPI-7000</a><br>
    Hideaki Hashimoto, NuFlare Technology
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-19.pdf">Advances in Reticle Cleaning</a><br>
    N.B. Koster, TNO
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-21.pdf">Advances in Mask Blank Defect
    Characterization for EUV Lithography</a><br>
    Jenah Harris-Jones, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-22.pdf">Recent Improvements in the
    High-Brightness Electrodeless Z-PinchTM EUV Source for Mask Inspection
    Tools</a><br>
    Stephen Horne, Energetiq
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-23.pdf">Improvements of Multi-Layer Defect
    Mapping with Advanced Inspection Technology</a><br>
    Lior Shoval, Applied Materials
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-24.pdf">Productivity of Model EBEYE M for
    EUVL Mask Inspection</a><br>
    Shinji Yamaguchi, Toshiba
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-25.pdf">Experience and Progress with
    Polychromatic EUV Reflectometers and Spectrophotometers</a><br>
    Rainer Lebert, Bruker
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-26.pdf">EUV Sources for Metrology: Experience
    and R&D Portfolio</a><br>
    Rainer Lebert, Bruker
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-27.pdf">R&D Actinic Blank Inspection
    Microscope</a><br>
    Stefan Herbert, Bruker
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-28.pdf">Flexible EUV and XUV
    Spectrophotometer for Reflection, Transmission and Absorption
    Metrology</a><br>
    Azadeh Farahzadi, Bruker
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-29.pdf">Demonstration of Fast Wide Angle
    Scatterometry for CD Metrology Using Laboratory DPP-XUV Source</a><br>
    T. Mißalla, Bruker
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-30.pdf">Origin of Defects on Targets Used to
    Make EUV Mask Blanks</a><br>
    David Ruzic, University of Illinois
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-MA-31.pdf">EUV Properties of Laser-Plasma Using
    Frozen Xe Targets</a><br>
    Andrew Effenberger, University of California San Diego
</p>

<h3>
    Optics and Contamination
</h3>

<p>
    <a target="_self" href="pdf/2012/poster/P-OP-02.pdf">EUVL Multilayer Mirror Oxidation
    Modeling</a><br>
    Tsuneyuki Hagiwara, Nikon
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-03.pdf">Generation and Decomposition of
    Volatile Tin Hydrides Monitored by In Situ Quartz Crystal
    Microbalances</a><br>
    Deniz Ugur, TNO
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-04.pdf">Imaging Ellipsometry</a> &nbsp;<br>
    Maarten van Kampen, ASML
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-05.pdf">Oxidation Durability of the Mo/Si
    Multilayer With an Oxide Capping Layer</a><br>
    Takashi Yamaguchi, Nikon
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-06.pdf">Characterization of Layered Surface
    Structures Using EUV and Soft X-ray Radiation</a><br>
    Frank Scholze, PTB
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-07.pdf">Status of EUV Metrology at
    PTB</a><br>
    Christian Laubis, PTB
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-08.pdf">The Characterization of the Witness
    Sample Testing for the Outgassing Qualification of EUV Resists</a><br>
    Yukiko Kikuchi, EIDEC
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-09.pdf">High Line Density Free-Standing
    Transmission Gratings for EUV and VUV Emission Spectroscopy</a><br>
    H.M.J. Bastiaens, University of Twente
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-10.pdf">Influenceof the Out-of-Band Light
    Absorption on Temperature Increase of a Pellicle in EUVL</a><br>
    In-Seon Kim, Hanyang University
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-11.pdf">Fabrication of Adaptive Mirrors for
    Extreme Ultraviolet Lithography</a><br>
    Muharrem Bayraktar, University of Twente
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-OP-12.pdf">Nanoscale Multilayer Membranes as
    Optical Elements for EUVL</a><br>
    Victor Belik, Phystex
</p>

<h3>
    Patterning
</h3>

<p>
    <a target="_self" href="pdf/2012/poster/P-PA-01.pdf">Use of Scatterometery For NXE:3100
    Scanner Monitoring</a><br>
    Anne-Laure Charley, imec
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-PA-03.pdf">Scalability of EUV Interference
    Lithography to sub-10 nm Half Pitch</a><br>
    Serhiy Danylyuk, RWTH Aachen University
</p>

<h3>
    Resists and Processing
</h3>

<p>
    <a target="_self" href="pdf/2012/poster/P-RE-01.pdf">Analysis of Acid-Generating Action of
    PAG in an EUV Resist Using Acid-Sensitive Dyes</a><br>
    Atsushi Sekiguchi, Litho Tech Japan
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-02.pdf">Development of New Negative-tone
    Molecular Resists Based on Phenylcalix[4] resorcinarene for EUVL</a><br>
    Masatoshi Echigo, Mitsubishi Gas Chemical Company
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-03.pdf">Block Copolymer Mediated Healing of
    the LER of a Patterned EUVL Resist</a><br>
    Ya-Mi Chuang, The University of Queensland
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-04.pdf">Chemically Amplified EUV Resist and
    Materials Development for 22 nm Half Pitch and Beyond</a><br>
    Makoto Shimizu, JSR Corporation
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-05.pdf">Prediction of Resist Sensitivity for
    Extreme Ultraviolet Lithography at 6.x nm Wavelength</a><br>
    Tomoko Gowa Oyama, Japan Atomic Energy Agency
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-06.pdf">Recent Developments in Construction
    of Resist Testing Tools for the NXE Platform</a><br>
    Rupert Perera, EUV Tech
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-07.pdf">Theoretical Study of Deprotonation of
    Polymer Radical Cation for EUV Resist</a><br>
    Masayuki Endo, Osaka University
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-10.pdf">Optimization of EUV Resists Under the
    Limitation of Outgas Specification</a><br>
    Kenji Hoshiko, JSR Micro
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-12%20(2).pdf">Development of Novel Molecular
    Glass Resists for EUVL</a><br>
    Hideaki Shiotani, Idemitsu Kosan
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-16.pdf">Novel Si-contained Inorganic Hard
    Mask (Si-HM) for Around Hp 20nm</a><br>
    O Wataru Shibayama, Nissan Chemical Industries
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-18.pdf">EUV Resists Patterning Results at
    SEMATECH</a><br>
    Kyoungyong Cho, SEMATECH
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-20.pdf">Ultrathin EUV Underlayer Materials:
    Stability, Coating Uniformity, Defect, and Resist Performance</a><br>
    Munirathna Padmanaban, AZ Electronic Materials
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-21.pdf">Process Evaluation and Optimization
    for EUV Manufacturing</a><br>
    Philippe Foubert, imec
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-RE-22.pdf">EUV Resist Performance on 22nm CH and
    on 22nm L/S</a><br>
    H.F. Hoefnagels, ASML
</p>

<h3>
    Sources and Collectors
</h3>

<p>
    <a target="_self" href="pdf/2012/poster/P-SO-01.pdf">Laser Produced Plasma EUV Source
    Development for Mass Production of sub-20nm Devices</a><br>
    Igor Fomenkov, Cymer
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-03.pdf">New Capability at NIST for
    Reflectivity Measurements of Large EUVL Optics</a><br>
    Charles Tarrio, NIST
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-04.pdf">A Proposal for an EUV Light Source
    Using Transverse Flow CO2 Lasers</a><br>
    Yoichi Tanino, Mitsubishi Electric Corporation
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-05.pdf">Power Scaling of the Xtreme LDP EUV
    Source</a><br>
    Felix Küpper, Fraunhofer
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-06.pdf">Sensor Box for In-Situ Plasma
    Diagnostics in EUV Sources</a><br>
    F.T. Molkenboer, TNO
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-08.pdf">Cap Layer Selection for the Collector
    Mirror in Tin LPP Sources</a><br>
    Arnold Storm, TNO
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-09.pdf">Status of the Lithium EUV Source and
    HVM Prospects</a><br>
    Malcolm McGeoch, PLEX LLC
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-13.pdf">Characteristics of 6.X-nm Beyond EUV
    Sources</a><br>
    Takeshi Higashiguchi, Utsunomiya University
</p>
<p>
    <a target="_self" href="pdf/2012/poster/P-SO-14.pdf">Progress on Laser Assisted Discharge
    Produced Plasma (LDP) EUV Light Source Technology</a><br>
    Rolf Apetz, Xtreme
</p>