<h2>
    October 27 - 29, 2014<br>
    Washington DC, USA
</h2>

<p>
    <a href="pdf/2014/1db5ca28de7049988c7156ef0070c848.pdf">2014 EUVL Symposium Opening Address</a><br>
    Stefan Wurm, SEMATECH and Patrick Naulleau, Lawrence Berkeley National Lab
</p>
<h3>
    Session 1: Keynote/Invited Speakers
</h3>
<p>
    <a href="pdf/2014/354e7800a2684ff1b4240e6c3f32a54c.pdf">EUV Challenges for the 7nm node in Mobile Industry</a><br>
    Esin Terzioglu, Qualcomm (Keynote)
</p>
<p>
    <a href="pdf/2014/339a60d4290e4c44a73ee5f9d8a1b89b.pdf">EUV Introduction in HVM – A Progress Report</a><br>
    Tony Yen, TSMC (Invited)
</p>
<p>
    EUV Masks - Observations, Gaps, Opportunities on Road to Adoption<br>
    Chris Progler, Photronics (Invited)
</p>
<p>
    Readiness and Key Issues of EUV Mask Production for 7nm node<br>
    Byung Gook Kim, Samsung (Invited)
</p>
<h3>
    Session 2: EUV Lithography Readiness
</h3>
<p>
    <a href="pdf/2014/47bd83028a6d41029a0a70c1e634e587.pdf">EUV Lithography Industrialization Progress</a><br>
    Rudy Peeters, ASML (Invited)
</p>
<p>
    <a href="pdf/2014/66689fa4aa3048be8af4f43fd8623eb0.pdf">EUV Mask Blank Manufacturing Solution Within Reach: Immediate Challenges</a><br>
    Long He, SEMATECH/Intel (Invited)
</p>
<p>
    <a href="pdf/2014/76e7b78830234ad7a4894658fa5acf34.pdf">EUV Lithography: On the Move from Pre-Production to Production</a><br>
    Eric Hendrickx, imec
</p>
<p>
    <a href="pdf/2014/cbfc0f924fff4f178b0f808a8fac7b41.pdf">EUV Imaging Performance and Challenges of 10nm and 7nm node Logic</a><br>
    Eelco van Setten, ASML
</p>
<p>
    <a href="pdf/2014/cd707d2cb999417c9a74db25b0f6d049.pdf">Detection Capability for Native Defect by the Actinic Blank Inspection</a><br>
    Takeshi Yamane, EIDEC
</p>
<h3>
    Session 3: EUV Light Source
</h3>
<p>
    <a href="pdf/2014/8039c9d8da2c43688e59eba04dbd0368.pdf">Laser Produced Plasma Source for NXE: 3300B</a><br>
    David Brandt, ASML
</p>
<p>
    <a href="pdf/2014/1d582c52f9a64d42ba58422ee3006df3.pdf">Performance of One-Hundred Watt HVM LPP-EUV Source</a><br>
    Hakaru Mizoguchi, Gigaphoton Inc.
</p>
<p>
    <a href="pdf/2014/aa65df4a98bc4d839e1433f9016fa8c2.pdf">High-radiance LDP Source for Mask Inspection</a><br>
    Yusuke Teramoto, Ushio Incorporated
</p>
<p>
    <a href="pdf/2014/b33eb03802d844fc8187257477471849.pdf">Power Scaling of the Tin LPP Source via an Argon Cusp Plasma</a><br>
    Malcolm McGeoch, PLEX LLC
</p>
<p>
    <a href="pdf/2014/6056cf3937cc4e17aba94d7bebb27b1e.pdf">Dual-Wavelength Spectral Purity Filter for EUV Collector Mirrors</a><br>
    Torsten Feigl, optiX Fab GmbH
</p>
<h3>
    Session 4: EUV Resist
</h3>
<p>
    <a href="pdf/2014/c3a834fc7070475d83f9835aa6964e66.pdf">Progress on EUV Resist Materials and Processes at imec</a><br>
    Mieke Goethals, imec
</p>
<p>
    <a href="pdf/2014/911454264aa940b59b2db18adb694ff5.pdf">Metal Oxide Photoresists: the Path from Lab to Fab</a><br>
    Andrew Grenville, Inpria
</p>
<p>
    <a href="pdf/2014/6b1e6ae745cd40aba5940af61c0c908e.pdf">Impact of Resist Parameters on Stochastic EUV Printability Failures</a><br>
    Kenji Hoshiko, JSR Micro
</p>
<p>
    <a href="pdf/2014/bfa656191aeb4f84b10c804c8934c40c.pdf">Negative Tone Imaging with EUV Exposure for 1x nm node and Beyond</a><br>
    Hideaki Tsubaki, FujiFilm
</p>
<p>
    <a href="pdf/2014/319b8bb599f647aabf4b04947a30ab26.pdf">New Challenging of Breaking RLS-trade off for 1X nm Patterning by Ultra Thin Under Layer</a><br>
    Tokio Nishita, Nissan Chemical Industries
</p>
<p>
    <a href="pdf/2014/d670ea05985e45ceba9767d7cc1f0845.pdf">LCDU Improvement in Contact-hole Patterns by Post Treatments</a><br>
    SeoMin Kim, SK hynix Inc
</p>
<p>
    <a href="pdf/2014/6e9891a94f8d40479e70ab5b8ecd3743.pdf">Dry Development Rinse (DDR) Process and Material for New Collapse Free Technique toward</a><br>
    <a href="pdf/2014/6e9891a94f8d40479e70ab5b8ecd3743.pdf">1X nm hp and Beyond</a><br>
    Shuhei Shigaki, Nissan Chemical Industries
</p>
<h3>
    Session 5: EUV Mask Inspection Tools
</h3>
<p>
    <a href="pdf/2014/7cae238a2c5049b39f7e9edbe71455ff.pdf">Update on Progress Towards Actinic Patterned Mask Inspection</a><br>
    Dan Wack, KLA-Tencor Corporation
</p>
<p>
    <a href="pdf/2014/1f7ac1d511ac410e976f3939465dd4a3.pdf">AIMS<sup>TM</sup> EUV Prototype Status and Development Performance</a><br>
    Anthony Garetto, Carl Zeiss SMS GmbH
</p>
<p>
    <a href="pdf/2014/e9f9279dee8d41ce9fdb2e48fd1aa517.pdf">Defect Inspection and Characterization on Actinic Blank Inspection Tool</a><br>
    Hiroki Miyai, Lasertec Corporation
</p>
<p>
    <a href="pdf/2014/6feefcd1007d4810add2dd6582c523dc.pdf">New Source and Imaging Capabilities of the SHARP EUV Mask Microscope</a><br>
    Kenneth Goldberg, Lawrence Berkeley National Lab
</p>
<p>
    <a href="pdf/2014/647dec406df242c193f9ca3e0126085d.pdf">Feasibility of a Stand-alone, EUV Scatterometer for High Accuracy Characterization of Mask Roughness</a><br>
    Rupert Perera, EUV Technologies
</p>
<h3>
    Session 6: EUV Mask Inspection
</h3>
<p>
    <a href="pdf/2014/168ba1a7c2e249dd84a310efbaabf4fe.pdf">Impact of EUV Mask Structure on Defect Sensitivity of Patterned Mask Inspection using Projection Electron Microscope</a><br>
    Susumu Iida, EIDEC
</p>
<p>
    <a href="pdf/2014/18945540ee324af5b2b7f744e94e6c86.pdf">Phase-enhanced Defect Sensitivity for EUV Mask Inspection</a><br>
    Yow-Gwo Wang, UC Berkeley
</p>
<p>
    Investigation of Aerial Imaging Performance of EUV Mask Using a Samsung EMDRS<br>
    Byung Gook Kim, Samsung
</p>
<p>
    <a href="pdf/2014/a9e0db41a28f4c1fbfa0a13b3757698e.pdf">Investigating Printability of Native Defects on EUV Mask Blanks through Simulations and Experiments</a><br>
    Mihir Upadhyaya, CNSE at SUNY Poly
</p>
<h3>
    Session 7: EUV Optics Contamination
</h3>
<p>
    <a href="pdf/2014/94eaad20f43f483fa76ad903964b7fca.pdf">High Power EUV Irradiation Tool (HPEUV) Equipped with LPP Source</a><br>
    Soichi Inoue, EIDEC
</p>
<p>
    <a href="pdf/2014/8fe4bbc3e220415fab869bfad4e2820e.pdf">Variability of EUV Resist Outgas Test Results: Comparison of Outgas vs. Contamination Behavior at Multiple Test Sites using Model EUV Resists</a><br>
    Ivan Pollentier, imec
</p>
<p>
    <a href="pdf/2014/0b55cf814ef74f079523635f01c27e2a.pdf">Relationship Between Resist Outgassing and Activation Energy for EUV and EB</a><br>
    Isamu Takagi, EIDEC
</p>
<p>
    <a href="pdf/2014/04e4f72f40174a91b0ede82830739a18.pdf">Exploring the Electron Density Evolution in an Extreme Ultra-violet Generated Plasma in Argon and Hydrogen</a><br>
    Ruud van der Horst, Eindhoven University of Technology
</p>
<p>
    Collector Cleaning and EUVR Restoration by In-situ Hydrogen Plasma<br>
    Daniel Elg, University of Illinois
</p>
<h3>
    Session 8: Keynote/Invited Speakers
</h3>
<p>
    <a href="pdf/2014/420751fefcef408db526e53582d3b875.pdf">EUVL Convergence with Multi-Patterning Technologies</a><br>
    Akihisa Sekiguchi, TEL (Keynote)
</p>
<p>
    <a href="pdf/2014/d6e5060fc79841f1ac27bc888bbd0e25.pdf">IEUVI Update</a><br>
    Paolo Gargini, ITRS (Invited)
</p>
<p>
    <a href="pdf/2014/6841abee92a74653866e55de19db360b.pdf">Challenges and Opportunities for Sub-10nm Generations Patterning Materials</a><br>
    Wang Yueh, Intel (Invited)
</p>
<p>
    <a href="pdf/2014/39af88b9d637418d86614e7d2f4862ea.pdf">The LCLS-II: A New High Power CW X-ray FEL Facility at SLAC</a><br>
    Tor Raubenheimer, SLAC Stanford University (Invited)
</p>
<h3>
    Session 9: EUV Lithography Extendability
</h3>
<p>
    <a href="pdf/2014/d1c8e5dcc31a44e5bd020305fc34b30f.pdf">EUV Lithography Optics for sub 9 nm Resolution</a><br>
    Sascha Migura, Carl Zeiss SMT GmbH (Invited)
</p>
<p>
    <a href="pdf/2014/f158fa8ccb1f4e3b8a59b22822e61157.pdf">EUV Lithography Scanner for sub 9 nm Resolution</a><br>
    Jan van Schoot, ASML (Invited)
</p>
<p>
    <a href="pdf/2014/3a4d585e69f04e1ea066197eed13617f.pdf">Progress on the Development of the New SEMATECH Berkeley MET5 Platform</a><br>
    Patrick Naulleau, Lawrence Berkeley National Lab
</p>
<p>
    <a href="pdf/2014/1e5ca43a006641f49ccaf25ae14f50cd.pdf">Free-electron Laser Extreme Ultraviolet Lithography: Considerations for High-Volume Manufacturing</a><br>
    Erik Hosler, GLOBALFOUNDRIES
</p>
<p>
    <a href="pdf/2014/442258ecf7e3474faa3dc7e578cac117.pdf">Status and Outlook for Etched Multilayer EUV Mask</a><br>
    Takashi Kamo, Toshiba Corporation
</p>
<h3>
    Session 10: Next Generation EUV Resist
</h3>
<p>
    Oxide Nanoparticle EUV Photoresists: Patterning via a Ligand Exchange Mechanism<br>
    Chris Ober, Cornell University
</p>
<p>
    High Sensitivity Molecular Organometallic Resist for EUV (MORE)<br>
    Robert Brainard, CNSE at SUNY Poly
</p>
<p>
    Enhancement of Resist Sensitivity and Contrast for EUV Lithography by Photo-Sensitized<br>
    Chemically Amplified Resists (PS-CAR) Evaluated by Using EB Lithography<br>
    Seiichi Tagawa, Osaka University
</p>
<p>
    <a href="pdf/2014/db3e0cb21cc5434ab3a288015d146ea1.pdf">Novel Patterning Materials Research at SEMATECH: Current Status and Future Outlook</a><br>
    Chandra Sarma, SEMATECH/Intel
</p>
<p>
    Cross-linking Negative Tone Molecular Resists: A Status Update<br>
    Cliff Henderson, Georgia Institute of Technology
</p>
<p>
    <a href="pdf/2014/892435c7b14b4a5fb98743bb37ebd961.pdf">Feasibility Study of sub-10 nm half-pitch Fabrication Using Chemically Amplified Resist Processes of Extreme Ultraviolet Lithography</a><br>
    Takahiro Kozawa, Osaka University
</p>
<h3>
    Session 11: EUV Mask
</h3>
<p>
    <a href="pdf/2014/e24769346ac147f0a6e0c78297bfce17.pdf">Recent Advances in Mask Blank Deposition and Defect Reduction</a><br>
    Frank Goodwin, SEMATECH
</p>
<p>
    <a href="pdf/2014/5ae9c5f10fbb4336b545269dbc421d87.pdf">Alternative EUV Mask Technology for Mask 3D Effect Compensation</a><br>
    Lieve Van Look, imec
</p>
<p>
    <a href="pdf/2014/fa70131fe97e43fe868b332408f0bbc9.pdf">Improving EUV Imaging at Tighter Pitch using a Tuned-ML Mask Stack</a><br>
    Obert Wood, GLOBALFOUNDRIES
</p>
<p>
    <a href="pdf/2014/1a929b1b989845a2a8a5aa11f07014be.pdf">Improving EUV Mask Substrate and Blank Cleaning Efficiency by Optimizing Cleaning Chemicals</a><br>
    Uwe Dietze, SUSS MicroTec
</p>
<p>
    <a href="pdf/2014/53bf432971974c2ea93b3c5f2ad0cad1.pdf">Effect of Chemical Composition of Ru Capping Layer on Wet Chemical Processing of EUV Mask</a><br>
    Yun-Yao Lin, TSMC
</p>
<p>
    <a href="pdf/2014/2493902795db4f378b1667f845e450ec.pdf">2014 EUVL Symposium Closing Address</a><br>
    Stefan Wurm, SEMATECH and Patrick Naulleau, Lawrence Berkeley National Lab<br>
</p>
<h2>
    Poster Presentations
</h2>
<h3>
    Resists &amp; Materials&nbsp;
</h3>
<p>
    <a href="pdf/2014/ff7ba219afef4cf9835a3af3c360e549.pdf">Study of Dill’s B Parameter Measurement of EUV Resist</a><br>
    Atsushi Sekiguchi, Litho Tech Japan Corporation
</p>
<p>
    <a href="pdf/2014/17060fd467b14e4d81d633dde6ad6000.pdf">High Resolution Approach from EUV Sensitive Si Hard Mask for hp 1Xnm Generation</a><br>
    Wataru Shibayama, Nissan Chemical Industries
</p>
<p>
    <a href="pdf/2014/66b2a1a89ea445d898e1740a65f92495.pdf">Development of the Xanthendiol Derivatives Applied to the Negative-tone Molecular Resists for EUVL</a><br>
    Takashi Sato, Mitsubishi Gas Chemical Company, Inc.
</p>
<p>
    <a href="pdf/2014/9c922779c87b457a82d08894874d20bc.pdf">Negative Tone Molecular EUV Resist(Part 1)</a><br>
    <a href="pdf/2014/2832f57c696d4fa0a024c9275ce57354.pdf">Negative Tone Molecular EUV Resist (Part 2)</a><br>
    Alex Robinson, University of Birmingham
</p>
<p>
    <a href="pdf/2014/46862888a7344c2aba5d0317c25fe97d.pdf">Metal Oxide Nanoparticle Resists with Substituted Benzoic Acid Ligands</a><br>
    Mufei Yu, Cornell University
</p>
<p>
    <a href="pdf/2014/1e2b60b3e110455cbfbc6841c3563efd.pdf">Harnessing Entropic and Enthalpic Contributions to Create a Negative Tone Chemically Amplified Molecular Resist for High Resolution Lithography</a><br>
    Paul Ashby, Lawrence Berkeley National Lab
</p>
<p>
    <a href="pdf/2014/2b75fc03618c418889318c812adc29e8.pdf">Driving EUV Lithography Towards HVM: Joint Project SEMATECH and Tokyo Electron Limited</a><br>
    Cecilia Montgomery, SEMATECH
</p>
<p>
    <a href="pdf/2014/13223a6db50144149546707ef10309f6.pdf">The Effect of EUV Resist Material Composition on Development Behavior</a><br>
    Masahiko Harumoto, Dainippon Screen Mfg. Co., Ltd
</p>
<p>
    <a href="pdf/2014/c7a974d238434021b3af7269f537ff21.pdf">EUV Process Improvements on Track System</a><br>
    Shinya Minegishi, EIDEC
</p>
<h3>
    Process Enhancing
</h3>
<p>
    <a href="pdf/2014/634ffcef27ca45b7999366a0351d5a3d.pdf">Impact of Novel Defect Reduction Hardware on EUV Patterning Defectivity</a><br>
    Yuhei Kuwahara, TEL
</p>
<p>
    <a href="pdf/2014/a6eb9ce6470a4a448160d68ca3e2ca0d.pdf">Dry Development Rinse (DDR) Process and Material for Novel Pattern Shrink Technique in ArF-imm. Lithography</a><br>
    Shuhei Shigaki, Nissan Chemical Industries
</p>
<p>
    <a href="pdf/2014/f3cf9b2d740643f6b966214d12281957.pdf">High-reflective Coatings for Next Generation Lithography</a><br>
    Sergiy Yulin, Franuhofer Institute
</p>
<p>
    <a href="pdf/2014/beddb966a4d947de985d216d65382519.pdf">Source Optimization at the SHARP microscope</a><br>
    Markus Benk, Lawrence Berkeley National Lab
</p>
<p>
    <a href="pdf/2014/2d627fc94481407db26771386371c59c.pdf">Design of Atomic Hydrogen Sources for Oxide Reduction and Carbon Elimination from EUV Mirrors</a><br>
    Tyler Mowll, CNSE at SUNY Poly
</p>
<h3>
    Source Collector Module
</h3>
<p>
    <a href="pdf/2014/724cb2ac534947a79a446d2cf29f8d41.pdf">Development of Microwave Discharged Produced Plasma for EUV Source</a><br>
    Saya Tashima, Kansai University
</p>
<p>
    <a href="pdf/2014/c7ad90a8b1bc4d2e87338790784d13f4.pdf">Microwave Discharge Produced Plasma for EUV Light Source</a><br>
    Keita Sugimoto, Kansai University
</p>
<p>
    <a href="pdf/2014/42b6c3196d7c4193968bc49730d6a764.pdf">Progress on the Lithium Scalable EUV Source</a><br>
    Malcolm McGeoch, PLEX LLC
</p>
<p>
    <a href="pdf/2014/c9478adce0114d8eab13ac467123302e.pdf">New Deposition Facility at RIT for Coating Large EUVL Optics</a><br>
    Michael Kriese, Rigaku Innovative Technologies, Inc.
</p>
<p>
    <a href="pdf/2014/c01e4d3fd11d4b62be6fea0e7888c199.pdf">MOPA Prepulse LPP Light Source Development for HVM</a><br>
    David Brandt, ASML
</p>
<p>
    <a href="pdf/2014/c1353741a1304c3a92709ec0f0f24473.pdf">Key Components Technology Update of 100W HVM EUV Source</a><br>
    Taku Yamazaki, Gigaphoton Inc.
</p>
<p>
    <a href="pdf/2014/9f6fa8e85e74418d855d4597fcc385a0.pdf">EUV Conversion Efficiency of Tin-based Laser Plasma Sources</a><br>
    Martin Richardson, University of Central Florida
</p>
<h3>
    Masks
</h3>
<p>
    <a href="pdf/2014/85e282affdc747f8918d264f9a897245.pdf">Extension of the Mask Lifetime and Reduction of the Line Width Variation by Using the Extreme Ultraviolet Pellicle</a><br>
    In-Seon Kim, Hanyang University
</p>
<p>
    <a href="pdf/2014/4734d87cf5fc43699a050813581380fb.pdf">Robotic Cleanliness in the TNO Reticle Handling Test Platform</a><br>
    Jacques van der Donck, TNO
</p>
<p>
    <a href="pdf/2014/279c625057874d45b81c230f209c3027.pdf">Measurement Accuracy of Phase Defect Size on EUV Mask</a><br>
    Tsuyoshi Amano, EIDEC
</p>
<p>
    <a href="pdf/2014/64a7005d946246ddaa5935901e09d05f.pdf">4th Generation Stand-alone EUV Reflectometer to Meet the Current Requirements of EUV Mask Suppliers</a><br>
    Rupert Perera, EUV Technologies
</p>
<p>
    <a href="pdf/2014/7018f81d4f244dddb3f30d4b21209004.pdf">Mask Economics: Ideas to Improve node Migration Affordability</a><br>
    Bryan Kasprowicz, Photronics
</p>
<p>
    <a href="pdf/2014/db2ad40c492b401cb80ff603f4e53e5d.pdf">Fourier Ptychography Microscopy with the SHARP EUV Microscope for Increased Imaging Resolution Based on Illumination Diversity</a><br>
    Antoine Wojdyla, Lawrence Berkeley National Lab
</p>
<h3>
    Exposure Tools
</h3>
<p>
    <a href="pdf/2014/ecf4e8dc45fe48848ddcf830465af928.pdf">The Initial Performance Data of a LPP-source Equipped High Power EUV Irradiation Tool</a><br>
    Hiroyuki Tanaka, EIDEC
</p>
<h3>
    Metrology and Inspection
</h3>
<p>
    <a href="pdf/2014/4b95d4fd81d34522b4c286f8e234ded9.pdf">Compact Discharge based EUV Source for Metrology and Inspection</a><br>
    Klaus Bergmann, Fraunhofer Institute for Laser Technology
</p>
<p>
    <a href="pdf/2014/78421ccb47b1456c9d5f5d2b13f0f98a.pdf">Unpolarized and Polarization Selective Reflectivity Data from Polarized Synchrotron Radiation</a><br>
    Christian Laubis, PTB
</p>
<p>
    <a href="pdf/2014/4a9897e45aa744f2850b65346aa59055.pdf">EUV Mask Observation Result Using Coherent EUV Scatterometry Microscope with High-Harmonic-Generation EUV Source</a><br>
    Tetsuo Harada, University of Hyogo
</p>
<p>
    <a href="pdf/2014/a7665302d9984e86847fd3b3dea46678.pdf">Development of a Large Reflectometer for Large EUV Optical Elements</a><br>
    Tetsuo Harada, University of Hyogo
</p>
<p>
    <a href="pdf/2014/d9e417f8f3da416b8971378a78ef4372.pdf">Feasibility test of 193 nm Wavelength Inspection for Extreme Ultraviolet Mask</a><br>
    Guk-Jin Kim, Hanyang University
</p>
<p>
    <a href="pdf/2014/c2069a83ebff46998a87576c7f26e4fc.pdf">The Influence of Phase Defect Characteristics on Scattered Light Images in Actinic Dark-field Inspection</a><br>
    Noriaki Takagi, EIDEC
</p>
<p>
    <a href="pdf/2014/f6c013ba434d445db08b3f4526972580.pdf">Recent Progress in Actinic Mask Imaging from Scanning CDI Technique at the Swiss Light Source</a><br>
    Sangsul Lee, Paul Scherrer Institute (PSI)
</p>
<p>
    <a href="pdf/2014/5a9ee739e2c24f9681141ea0504244a2.pdf">Analysis of Light Source Induced Contamination Films on Mirrors by Extreme Ultraviolet Reflectometry</a><br>
    Stefan Herbert, RWTH Aachen University
</p>
<p>
    <a href="pdf/2014/26d6d1b9359b47e5a773fe2179250a35.pdf">OCT for Reticle Back-side Inspection</a><br>
    Peter van der Walle, TNO
</p>
<p>
    <a href="pdf/2014/d46fab2ce205485e8c6caa32b9a05d96.pdf">Defect Detection with an Actinic Dark-field Microscope</a><br>
    Lukas Bahrenberg, RWTH Aachen University
</p>
<p>
    <a href="pdf/2014/2046f2de6e0f4e78aa14b1e71c371425.pdf">Performance Evaluation on New Inspection System with Novel PEM for EUV Pattern Masks</a><br>
    Masahiro Hatakeyama, EBARA Corporation
</p>
<p>
    <a href="pdf/2014/883bcb86ace541e185e38422c142ecf2.pdf">Analysis of Buried Interfaces in EUV Multilayer Structures Through at Resonance EUV Reflectivity</a><br>
    Mewael Giday Sertsu, Padova University and Aachen University
</p>
<p>
    <a href="pdf/2014/973254740f2940b8973589e941a9a58c.pdf">EUV Advanced Profiling using Scatterometry: Sidewall Roughness and Bottom Residue</a><br>
    Aron Cepler, Nova Measuring Instruments Ltd
</p>
<p>
    <a href="pdf/2014/be6cd471752f428db1b33948393f855c.pdf">An Image Based Method for EUVL Aberration Metrology</a><br>
    Bruce Smith, Rochester institute of Technology
</p>
<p>
    <a href="pdf/2014/0548967d348045edaff2392ccf4aa07f.pdf">Characterization of EUV Mirror Capping Layers with Angle-resolved XPS</a><br>
    Tyler Mowll, CNSE at SUNY Poly
</p>
<p>
    <a href="pdf/2014/50a846666229432ca9c50169325d5fec.pdf">Oblique Illumination Differential Phase Contrast Microscope for Phase Defects Inspection of EUV Masks</a><br>
    Xibin Zhou, SEMATECH
</p>
<p>
    <a href="pdf/2014/3e0eb5b76bac46e3b178815186573f54.pdf">Development of EUV patterned mask inspection technologies for the 16 nm - 11 nm half pitch Generation</a><br>
    Ryoichi Hirano, EIDEC
</p>
<p>
    <a href="pdf/2014/c5ecd53b69a74ee694a099adc72f0f8c.pdf">Adding a Cusp Magnetic Field to the EQ-10 Z-pinch Metrology Source</a><br>
    Stephen Horne, Energetiq Technology Inc.
</p>
<h3>
    Resist Outgassing and Contamination
</h3>
<p>
    <a href="pdf/2014/faecf349269b4184b001092a1a0877c3.pdf">Surface Characterization of Extreme UV Lithography tool Components and Parts by Using High Performance Residual Gas Analyzer for Sub-20nm Technology Nodes</a><br>
    Ardy Sidhwa, QuantumClean
</p>
<p>
    <a href="pdf/2014/ce82a8d0646747f7ae6cc037f656ce1d.pdf">SEMATECH Resist Outgas Testing Update</a><br>
    Yu-Jen Fan, SEMATECH
</p>
<p>
    <a href="pdf/2014/1c9060531ddd45ef816d2b944a0206ca.pdf">EUVlab2: High Power EUV Exposure and Analysis System</a><br>
    Wilbert Staring, TNO
</p>
<p>
    <a href="pdf/2014/0acef23b62dd41bb9ddce442e4638b72.pdf">Improving the Reliability of the Resist Outgas Contamination Test</a><br>
    Robert Berg, NIST
</p>
<p>
    <a href="pdf/2014/0593cd6c443548f88b7d078d79d70ecd.pdf">Environmental Stability of Oxide-capped Mo/Si Mirrors</a><br>
    Sergiy Yulin, Franuhofer Institute
</p>
<p>
    <a href="pdf/2014/4868fd3b4d7d4ef487ffdfd0a8ec73ad.pdf">Study of the Carbon Growth Mechanism in Varying Dose and Surface Conditions of Witness Sample under EUV and EB Exposures</a><br>
    Yukiko Kikuchi, EIDEC
</p>
