<div class="alert alert-warning" role="alert">
    <div class="row row-no-container">
        <div class="col-md-8">
            Access to this year's proceedings can be purchased for $199. After payment, you will receive an email with login credentials that will allow you to view the proceedings.<br>
        </div>
        <div class="col-md-4">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input name="cmd" type="hidden" value="_s-xclick"> <input name="hosted_button_id" type="hidden" value="R4E8CFC9WZAFQ"> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image"> <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1">
            </form>
        </div>
    </div>
</div>
<h2>
    October 04-07, 2015<br>
    Maastricht, Netherlands&nbsp;
</h2>

<!--
<p>
    <a href="pdf/2015/EUVL2015_Final_Prog.pdf" target="_self">EUVL2015_Final_Prog.pdf</a><br>
</p>
-->
<h3>
    Oral Monday&nbsp;
</h3>
<h3>
    Session1 Insertion in Manufacturing 1&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Monday/Session1_EUV%20Insertion%20in%20Manufacturing%201/S1.1_Ronse-Hendrickx.pdf" target="_self">Welcome</a><br>
    Kurt Ronse & Eric Hendrickx, IMEC
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session1_EUV%20Insertion%20in%20Manufacturing%201/S1.2_van%20den%20Brink.pdf" target="_self">Cost-effective shrink with Holistic lithography, extended by EUV</a><br>
    Martin van den Brink, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session1_EUV%20Insertion%20in%20Manufacturing%201/S1.3_Chen.pdf" target="_self">Progress on enabling EUV lithography for high volume</a><br>
    Martin van den Brink, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session1_EUV%20Insertion%20in%20Manufacturing%201/S1.4_Phillips.pdf" target="_self">EUVL readiness for 7nm</a><br>
    Mark Phillips, Intel Corporation
</p>
<h3>
    Session2 Insertion in Manufacturing 2
</h3>
<p>
    <a href="pdf/2015/Oral_Monday/Session2_EUV%20Insertion%20in%20Manufacturing%202/S2.1_Colburn.pdf" target="_self">Inserting EUV lithography at 7nm</a><br>
    Matthew Colburn, IBM
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session2_EUV%20Insertion%20in%20Manufacturing%202/S2.2_Philipsen.pdf" target="_self">NXE:3300 insertion for N7: Status and challenges</a><br>
    Vicky Philipsen, imec
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session2_EUV%20Insertion%20in%20Manufacturing%202/S2.3_vanSetten.pdf" target="_self">Edge placement error analysis for N7 logic patterning options</a><br>
    Eelco van Setten, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session2_EUV%20Insertion%20in%20Manufacturing%202/S2.4_Wittebrood.pdf" target="_self">Experimental verification of phase induced mask 3D effects in EUV imaging</a><br>
    Friso Wittebrood, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session2_EUV%20Insertion%20in%20Manufacturing%202/S2.5_Jiang.pdf" target="_self">Implementation of model-based assist features in EUV</a><br>
    Fan Jiang, Mentor Graphics Corp.
</p>
<h3>
    Session3 Ligth Source&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Monday/Session3_EUV%20Ligth%20Source/S3.1_Pirati.pdf" target="_self">EUV sources: Progress towards industrialization</a><br>
    Alberto Pirati, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session3_EUV%20Ligth%20Source/S3.2_Elg.pdf" target="_self">In-situ EUV collector cleaning by hydrogen plasma</a><br>
    Daniel Elg, University of Illinois
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session3_EUV%20Ligth%20Source/S3.4_Yasui.pdf" target="_self">Low-loss and high-gain CO2 amplifiers to generate extreme ultraviolet, EUV powers of 250W and &gt; 500W</a><br>
    Koji Yasui, Mitsubishi Electric Corp.
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session3_EUV%20Ligth%20Source/S3.5_Hosler.pdf" target="_self">SASE, RAFEL, oscillator, or a self-seeded free-electron laser source for EUV lithography</a><br>
    Erik Hosler, Globalfoundries
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session3_EUV%20Ligth%20Source/S3.6_Murokh.pdf" target="_self">Challenges and opportunities for an industrial EUV free electron laser</a><br>
    Alex Murokh, RadiaBeam Technologies, LLC.
</p>
<h3>
    Session4 Mask Inspection and Review 1&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.1_Hayashi.pdf" target="_self">EUV mask infrastructure readiness for HVM; Do we overlook something important?</a><br>
    Naoya Hayashi, Dai Nippon Printing Co., Ldt.
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.2_Perlitz.pdf" target="_self">Status and recent achievements of the AIMS EUV system for actinic review of EUV masks</a><br>
    Sascha Perlitz, Carl Zeiss SMT
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.3_Hirano.pdf" target="_self">EUVL patterned mask inspection for 11 nm half-pitch, (hp) generation with defect detection capability enhancement by a learning system</a><br>
	Ryoichi Hirano, EIDEC
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.4_Miyai.pdf" target="_self">Defect review capability on actinic blank inspection tool</a><br>
	Hiroki Miyai, Lasertec
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.5_Verduijn.pdf" target="_self">Assessment of AIMS™ EUV and SHARP actinic wavelength mask defect review tools for the evaluation of blank defect printability</a><br>
	Erik Hosler, Globalfoundries
</p>
<p>
    <a href="pdf/2015/Oral_Monday/Session4_Mask%20Inspection%20and%20Review%201/S4.6_Teramoto.pdf" target="_self">High-radiance LDP source for mask inspection</a><br>
    Yusuke Teramoto, Ushio Inc.
</p>
<h3>
    Oral Tuesday&nbsp;
</h3>
<h3>
    Session5 Resist 1&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session5_EUV%20Resist%201/S5.2_Buitrago.pdf" target="_self">The road towards single digit nanometer resolution patterning in mass production: State-of-the-art EUV resists platforms compared</a><br>
	Elizabeth Buitrago, Paul Scherrer Institute
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session5_EUV%20Resist%201/S5.3_Dei.pdf" target="_self">Novel EUV resist development for 13 nm half pitch</a><br>
    Satoshi Dei, JSR Micro N.V.
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session5_EUV%20Resist%201/S5.4_Lee.pdf" target="_self">Study on defect control of resist process for production ready EUV lithography</a><br>
    Junghyung Lee, SK Hynix
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session5_EUV%20Resist%201/S5.5_Maas.pdf" target="_self">Sub-50 nm metrology on EUV chemically amplified resist: A systematic assessment</a><br>
    Diederik Maas, TNO
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session5_EUV%20Resist%201/S5.6_Stokes.pdf" target="_self">A defectivity study on dry development rinse process, DDRP</a><br>
    Harold Stokes, imec
</p>
<h3>
    Session6 Mask Inspection and Review 2&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session6_Mask%20Inspection%20and%20Review%202/S6.1_Onoue.pdf" target="_self">Recent progress of EUV blanks development</a><br>
    Takahiro Onoue, Hoya Corporation
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session6_Mask%20Inspection%20and%20Review%202/S6.2_Jonckheere.pdf" target="_self">ABI tool performance confirmed by NXE3300 printing results</a><br>
    Rik Jonckheere, imec

</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session6_Mask%20Inspection%20and%20Review%202/S6.3_Benk.pdf" target="_self">Actinic mask imaging: Taking a SHARP look at next generation photomasks</a><br>
    Markus Benk, LBNL
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session6_Mask%20Inspection%20and%20Review%202/S6.4_Wang.pdf" target="_self">Enhanced defect sensitivity by Zernike phase contrast for Actinic blank inspection</a><br>
    Yow-Gwo Wang, UC Berkeley
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session6_Mask%20Inspection%20and%20Review%202/S6.5_Seki.pdf" target="_self">Defectivity study on extreme ultraviolet mask</a><br>
    Kazunori Seki, Toppan Photomasks, Inc.
</p>
<h3>
    Session7 Resist 2&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session7_EUV%20Resist%202/S7.1_Naulleau.pdf" target="_self">The Multivariate Poisson Propagation Model and resist stochastics</a><br>
    Kazunori Seki, Toppan Photomasks, Inc.
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session7_EUV%20Resist%202/S7.3_Ogletee.pdf" target="_self">Combined experimental and theoretical investigation of EUVL radiation chemistry fundamentals</a><br>
    Frank Ogletee, Lawrence Berkeley National Lab
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session7_EUV%20Resist%202/S7.4_Guerrero.pdf" target="_self">Improving EUV resist performance through material designs</a><br>
    Douglas Guerrero, Brewer Science, Inc.
</p>
<h3>
    Session8 Resist 3&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session8_EUV%20Resist%203/S8.1_Kocsis.pdf" target="_self">Metal oxide photoresists: Unlocking the full potential of EUV patterning</a><br>
    Michael Kocsis, Inpria
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session8_EUV%20Resist%203/S8.2_Shibayama.pdf" target="_self">Challenge for 10nm resolution by applying dry development rinse process, DDRP and materials, DDRM</a><br>
    Wataru Shibayama, Nissan Chemical
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session8_EUV%20Resist%203/S8.3_Tsubaki.pdf" target="_self">Novel materials based on negative-tone imaging for EUVL</a><br>
    Hideaki Tsubaki, Fujifilm Corporation
</p>
<p>
    <a href="pdf/2015/Oral_Tuesday/Session8_EUV%20Resist%203/S8.4_Kulmala.pdf" target="_self">Identifying EUV resist materials for sub-10 nm nodes</a><br>
    Tero S. Kulmala, Paul Scherrer Institute
</p>
<h3>
    Oral Wednesday&nbsp;
</h3>
<h3>
    Session9 Lithography Extendibility&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.1_Kaiser.pdf" target="_self">EUV optics – The enabler of high resolution imaging</a><br>
    Winfried Kaiser, Carl Zeiss SMT GmbH
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.2_Heil.pdf" target="_self">Anamorphic high NA optics enabling EUV lithography with sub 8 nm resolution</a><br>
    Tilmann Heil, Carl Zeiss SMT GmbH
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.3_Van%20Schoot.pdf" target="_self">EUV high-NA scanner and mask for sub 8 nm resolution</a><br>
    Jan Van Schoot, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.4_Kamo.pdf" target="_self">Current status and outlook of etched multilayer mask for EUV extension</a><br>
    Takashi Kamo, Toshiba Corp.
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.5_Iida.pdf" target="_self">Impact of conductive layer for etched multilayer EUV mask on the sensitivity of patterned mask inspection</a><br>
	Susumu Iida, EIDEC
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session9_EUV%20Lithography%20Extendibility/S9.6_VuLuong_v2.pdf" target="_self">Modeling EUV mask using alternative materials for mask 3D effect compensation</a><br>
	Kim Vu Luong, imec
</p>
<h3>
    Session 10 Pellicle, Mask Cleaning and Thermal Expansion&nbsp;
</h3>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session10_Pellicle,%20Mask%20Cleaning%20and%20Thermal%20Expansion/S10.1_Gargini.pdf" target="_self">IEUVI presentation</a><br>
    Paolo Gargini, Stanford University
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session10_Pellicle,%20Mask%20Cleaning%20and%20Thermal%20Expansion/S10.2_Janssen.pdf" target="_self">An EUV pellicle solution for defectivity control</a><br>
    Paul Janssen, ASML
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session10_Pellicle,%20Mask%20Cleaning%20and%20Thermal%20Expansion/S10.3_Gallagher.pdf" target="_self">Properties and performance of EUVL pellicle membranes</a><br>
    Emily Gallagher, imec
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session10_Pellicle,%20Mask%20Cleaning%20and%20Thermal%20Expansion/S10.4_Kwon.pdf" target="_self">Thermal limitation of silicon EUV pellicle and possible improvements for mass production of EUV lithography</a><br>
	Sungwon Kwon, Samsung Electronics
</p>
<p>
    <a href="pdf/2015/Oral_Wednesday/Session10_Pellicle,%20Mask%20Cleaning%20and%20Thermal%20Expansion/S10.7_Closing.pdf" target="_self">Closing Remarks</a><br>
</p>
<h3>
    Posters&nbsp;
</h3>
<h3>
    Insertion in Manufacturing&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-IM-01_Kuwahara.pdf" target="_self">EUV process establishment for NXE3300 and beyond</a><br>
    Yuhei Kuwahara, Tokyo Electron Limited
</p>
<p>
    <a href="pdf/2015/Posters/P-IM-02_Harumoto_SCREEN.pdf" target="_self">LWR improvement on EUV track system</a><br>
    Masahiko Harumoto, SCREEN
</p>
<p>
    <a href="pdf/2015/Posters/P-IM-03_Kawakami.pdf" target="_self">Metal contained material integration on coater/developer system</a><br>
    Hiroshi Mizunoura, Tokyo Electron Limited
</p>
<p>
    <a href="pdf/2015/Posters/P-IM-04_Montgomery.pdf" target="_self">Benchmarking study of contact hole imaging</a><br>
    Warren Montgomery, SUNY Polytechnic (CNSE)
</p>
<p>
    <a href="pdf/2015/Posters/P-IM-05_Montgomery_canceled.pdf" target="_self">Studies directed towards decrease contact hole printability</a><br>
    Warren Montgomery, SUNY Polytechnic (CNSE)
</p>
<p>
    <a href="pdf/2015/Posters/P-IM-06_Goethals.pdf" target="_self">Resist readiness for N7 patterning in EUV</a><br>
    Mieke Goethals, imec
</p>
<h3>
    Extendability&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-LI-01_Marchetti.pdf" target="_self">EUVL micro-field exposure tools with 0.5 NA</a><br>
    Louis Marchetti, Ametek / Zygo
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-02_Kim.pdf" target="_self">Non-conventional shadow effect caused by anamorphic numerical aperture system at extreme-ultraviolet lithography</a><br>
    In-Seon Kim, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-03_Watanabe.pdf" target="_self">Fabrication of transmission grating of EUV interference lithography for 1X nm hp EUV resist evaluation</a><br>
    Takeo Watanabe, University of Hyogo
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-04_Naujok.pdf" target="_self">B-based multilayer coatings for next generation lithography at λ = 6.X nm</a><br>
    Philipp Naujok, Fraunhofer IOF
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-05_Naulleau.pdf" target="_self">Development of a high numerical aperture EUV lithography tool: The Berkeley MET5 Platform</a><br>
    Patrick Naulleau, LBNL
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-06_Ko.pdf" target="_self">Anamorphic high NA source optimization for high quality patterning below 10 nm node</a><br>
    Kiho Ko, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-LI-07_Kuznetsov.pdf" target="_self">High reflectance La/B based multilayer mirrors for 6.x nm wavelength</a><br>
    Dmitry Kuznetsov, XUV optics group, University of Twente
</p>
<h3>
    Source for Metrology &amp; Inspection&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-MI-01_Odstrcil.pdf" target="_self">Laser driven table-top coherent EUV Source for high resolution diffractive microscopy</a><br>
   Michal Odstrcil, University Southampton
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-02_Rollinger.pdf" target="_self">Light sources for high volume metrology &amp; inspection applications</a><br>
    Bob Rollinger, ETH Zurich
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-03_Vieker.pdf" target="_self">Compact discharge based EUV Source for metrology and inspection</a><br>
    Jochen Vieker, Fraunhofer Institute for Laser Technology
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-04_Bergmann.pdf" target="_self">Metrology tools for the characterization of light sources in the spectral region around 6.x nm</a><br>
    Klaus Bergmann, Fraunhofer Institute for Laser Technology
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-05_Bussmann.pdf" target="_self">Coherent diffractive imaging for actinic inspection with EUV light produced by a laboratory-scale gas-discharge plasma source</a><br>
    Jan Bußmann, Experimental Physics of Extreme Ultraviolet EUV
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-06_Maryasov.pdf" target="_self">EUV scattering metrology with high-brightness discharge plasma source</a><br>
    Aleksey Maryasov, RWTH EUV
</p>
<p>
    <a href="pdf/2015/Posters/P-MI-07_Krivokorytov.pdf" target="_self">High stability droplet generator for EUV actinic inspection applications</a><br>
    Mikhail Krivokorytov, EUV Labs
</p>
<h3>
    Mask, Pellicle, Mask Cleaning and Thermal Expansion&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-MP-01_Lee.pdf" target="_self">Temperature distribution of multi-stack EUV pellicle with various structures and materials</a><br>
    Jong-Hoon Lee, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-02_Kim.pdf" target="_self">Feasibility study of through pellicle inspection for patterned extreme ultraviolet mask</a><br>
    Guk-Jin Kim, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-03_Lee.pdf" target="_self">Thermo-mechanical distortion of extreme-ultraviolet pellicle</a><br>
    Sung-Gyu Lee, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-04_Amano.pdf" target="_self">A conductive under layer for an etched multilayer type black border: Influence of the mask structure on mask pattern images captured by EB optics</a><br>
    Tsuyoshi Amano, EIDEC
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-05_Kim.pdf" target="_self">Feasibility study on inserting graphene layers into EUV pellicle structure</a><br>
    
Jung Hwan Kim, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-06_Pollentier.pdf" target="_self">Optical testing of EUV pellicle materials</a><br>
    van Pollentier, imec
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-07_Dattilo.pdf" target="_self">Extending final clean of EUVL reticles to 100X cleaning cycles</a><br>
    Jens Kruemberg, Suss MicroTec
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-08_Lee.pdf" target="_self">Understanding the effects of transmittance and stand-off distance of EUV pellicle</a><br>
    Seung Min Lee, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-09_Park.pdf" target="_self">Thermomechanical behavior of the EUVL pellicle during the exposure</a><br>
    Eun-Sang Park, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-10_Naulleau.pdf" target="_self">Multilayer mask roughness: Correlation between scatterometry and image-plane speckle</a><br>
    Patrick Naulleau, LBNL
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-11_Naulleau.pdf" target="_self">Ultrahigh efficiency contact-hole printing with phase shift mask</a><br>
    Patrick Naulleau, LBNL
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-12_Wojdyla.pdf" target="_self">Using the SHARP EUV microscope’s aerial images to study line edge roughness</a><br>
    Antoine Wojdyla, LBNL
</p>
<p>
    <a href="pdf/2015/Posters/P-MP-13_Benk.pdf" target="_self">SHARP imaging at high mask-side NA</a><br>
    Markus Benk, LBNL
</p>
<h3>
    Mask Inspection and Review&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-MR-01_vanderWalle.pdf" target="_self">3D reticle backside inspection</a><br>
    Peter van der Walle, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-02_Harada.pdf" target="_self">Quantitative phase contrast imaging of phase defect using a lensless microscope</a><br>
    Tetsuo Harada, University of Hyogo
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-03_Laubis.pdf" target="_self">Actinic characterization of EUV photomasks by EUV scatterometry</a><br>
    Christian Laubis, PTB
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-04_vanderDonck.pdf" target="_self">RapidNano: An affordable particle detection platform for EUV mask blanks</a><br>
    Jacques van der Donck, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-05_Helfenstein.pdf" target="_self">Actinic EUV mask inspection using scanning coherent diffraction imaging methods</a><br>
    Patrick Helfenstein, Paul Scherrer Institute
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-06_Sadeghian_dummy.pdf" target="_self">Parallel AFM Status: Demonstration of 3D metrology and inspection with 1000 times increase in speed</a><br>
    Hamed Sadeghian, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-07_Bahrenberg.pdf" target="_self">Scattering analyses of defects in EUV multilayers</a><br>
    Lukas Bahrenberg, RWTH Aachen
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-09_Perera_dummy.pdf" target="_self">Challenges in constructing EUV metrology tools to qualify the EUV masks for HVM implementation</a><br>
    Rupert Perera, EUV Tech
</p>
<p>
    <a href="pdf/2015/Posters/P-MR-10_Ashby.pdf" target="_self">Improving scan speed and resolution of AFM for elucidating resist dissolution dynamics</a><br>
    Frank Ogletree, Lawrence Berkeley National Lab
</p>
<h3>
    Outgas and Contamination Monitoring&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-OC-01_vanPutten.pdf" target="_self">A traffic light for clean vacuum: The Mass-Filtered Ion Gauge (MFIG)</a><br>
    Michel van Putten, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-02_teSligte.pdf" target="_self">EBL2: EUV exposure and surface analysis system</a><br>
    Edwin te Sligte, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-03_Ji.pdf" target="_self">Image distortion by very small defect with larger density</a><br>
    Ji Hye-Rim, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-04_Lee.pdf" target="_self">Patterning dependency on high NA Anamorphic directionality through contamination study</a><br>
    Hyun-Ju Lee, Hanyang University
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-05_Shiobara.pdf" target="_self">Recent progress in resist outgas testing for the new platform at EIDEC</a><br>
    Eishi Shiobara, EIDEC
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-06_Kikuchi.pdf" target="_self">Comparison of EUV resist outgassing between organic and inorganic materials</a><br>
    Yukiko Kikuchi, EIDEC
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-07_Fan.pdf" target="_self">Chemometrics study of EUV resist materials for witness sample based outgas testing</a><br>
    Yu-Jen Fan, SEMATECH
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-08_Juschkin.pdf" target="_self">Spectroscopic EUV reflectometry for characterization of thin films and layered structures</a><br>
    Larissa Juschkin, RWTH Aachen University
</p>
<p>
    <a href="pdf/2015/Posters/P-OC-09_Herbert_dummy.pdf" target="_self">Structural spectroscopy by extreme ultraviolet reflectometry</a><br>
    Stefan Herbert, RWTH Aachen University
</p>
<h3>
    Source For Patterning&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-PA-01_Krivokorytov.pdf" target="_self">The target formation for LPP EUV light source with laser pulses of femtosecond and picosecond duration</a><br>
    Mikhail Krivokorytov, EUV Labs

</p>
<!--
<p>
    <a href="pdf/2015/Posters/P-PA-02_McGeoch_dummy.pdf" target="_self">Picosecond, kW thin disc laser technology for LPP and FEL EUV sources</a><br>
    
</p>
-->
<p>
    <a href="pdf/2015/Posters/P-PA-03_Endo.pdf" target="_self">Picosecond, kW thin disc laser technology for LPP and FEL EUV sources</a><br>
    Akira Endo, Waseda University
</p>
<p>
    <a href="pdf/2015/Posters/P-PA-04_Fomenkov.pdf" target="_self">LPP light source development for HVM</a><br>
    Igor Fomenkov, Cymer LLC
</p>
<p>
    <a href="pdf/2015/Posters/P-PA-05_Kim_dummy.pdf" target="_self">Lensless interference patterns for several types of EUV sources</a><br>
    Hyun-su Kim, RWTH Aachen University
</p>
<p>
    <a href="pdf/2015/Posters/P-PA-06_Abe.pdf" target="_self">Key components technology update of 100W EUV light source for HVM</a><br>
    Tamotsu Abe, GIGAPHOTON INC.
</p>
<p>
    <a href="pdf/2015/Posters/P-PA-07_Bayraktar.pdf" target="_self">A wide band transmission mode spectrometer for diagnosis of EUV sources</a><br>
    Muharrem Bayraktar, University of Twente
</p>
<h3>
    Resist&nbsp;
</h3>
<p>
    <a href="pdf/2015/Posters/P-RE-01_Mulckhuyse.pdf" target="_self">Improving pattern fidelity in helium ion beam lithography</a><br>
    Wouter Mulckhuyse, TNO
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-02_Brose.pdf" target="_self">Characterization of high resolution electron beam resists under extreme ultraviolet irradiation</a><br>
    Sascha Brose, RWTH Aachen University
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-03_Toida.pdf" target="_self">Development of the xanthendiol derivatives applied to the negativetone molecular resists for EB/EUVL</a><br>
    Takumi Toida, Mitsubishi Gas Chemical Company, Inc.
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-04_Shigaki.pdf" target="_self">Novel DDR process and materials meet NTD process</a><br>
    Shuhei Shigaki, Nissan Chemical Industries, Ltd.
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-05_Yamamoto.pdf" target="_self">Study on resist performance of chemically amplified molecular resist based on Noria derivative and calixarene derivative for EUV lithography</a><br>
    Hiroki Yamamoto, ISIR, Osaka University
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-06_Fallica.pdf" target="_self">Absorption coefficient and Dill’s parameters of CAR and organometallic Sn-based resist</a><br>
    Roberto Fallica, Laboratory for Micro and Nano technology
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-07_Minegishi_dummy.pdf" target="_self">Development of metal resist and underlayer</a><br>
    Shinya Minegishi, EIDEC
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-08_Sekiguchi.pdf" target="_self">A study of EUV resist sensitivity by using metal materials</a><br>
    Atsushi Sekiguchi, Litho Tech Japan
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-09_Hofmann.pdf" target="_self">Investigation of luminescent materials for EUV metrology applications</a><br>
    Oskar Hofmann, RWTH Aachen
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-10_Kostko.pdf" target="_self">Fundamental understanding of EUV radiation induced chemistry on a molecular level</a><br>
    Frank Ogletree, Lawrence Berkeley National Laboratory
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-11_Bhattarai.pdf" target="_self">Calculation of inelastic mean free path of secondary electrons in EUV resists with EELS measurements</a><br>
    Suchit Bhattarai, University of California, Berkeley
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-12_Closser.pdf" target="_self">Modeling the interaction of EUV radiation with photoresist materials</a><br>
    Frank Ogletree, Lawrence Berkeley National Laboratory
</p>
<p>
    <a href="pdf/2015/Posters/P-RE-13_Denbeaux-dummy.pdf" target="_self">Understanding EUV resist exposures - Measurements of PAG reaction cross sections to low energy electrons</a><br>
    Greg Denbeaux, SUNY Polytechnic Institute
</p>
