<nav class="navbar navbar-light">

	<!--<div class="container">-->
	
		<!-- Mobile -->
		<div class="row hidden-md-up">
			<div class="col-xs-12 text-center ">
				<ul class="nav navbar-nav navbar-nav-center">
				
					<li class="nav-item">
						<a class="nav-link" ng-click="go('app.home')">The International Symposium on EUV Lithography</a>
					</li>
			  	</ul>
			</div>
		</div>
		
		<!-- Non-mobile -->
		<div class="row hidden-sm-down">
			
			<div class="col-sm-3">
				<a class="btn btn-default">Proceedings</a>
			</div>
		
			<div class="col-sm-6 text-center">
				<ul class="nav navbar-nav navbar-nav-center">
					<li class="nav-item">
						<a class="nav-link" ng-click="go('app.home')">The International Symposium on EUV Lithography</a>
					</li>
			  	</ul>
			</div>
		
			<div class="col-sm-3 text-right">
				<a class="btn btn-primary">2016 Meeting</a>
			</div>
		</div>
	<!--</div>-->
</nav>
