
<img src="/img/euvls-2016-web-banner.jpg">

<!--
<div class="bg bg-hiroshima">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="tight-top">International Symposium on Extreme Ultraviolet Lithography</h1>
				<h2>October 23 - 26, 2016<br>Hiroshima, Japan</h2>
			</div>
		</div>

		<div class="row row-top text-center">
			<div class="col-md-6 col-md-offset-3">
				<a 	href=""
					class="btn btn-primary btn-block">
					2016 Meeting Details (Coming Soon)
				</a>
				<br>
				<a 	ng-click="$state.go('app.proceedings.year', { year: '2015' })"
					class="btn btn-secondary-outline btn-block">
					All Proceedings
				</a>
			</div>
		</div>
	</div>
</div>
-->

<div class="container">
	<div class="row row-feature row-feature-first text-center"> <!--row-feature-first -->
		<div class="col-md-6 col-md-offset-3">
			<a 	href=""
				class="btn btn-primary btn-block">
				2016 Meeting Details (Coming Soon)
			</a>
			<br>
			<a 	ng-click="$state.go('app.proceedings.year', { year: '2015' })"
				class="btn btn-secondary btn-block">
				All Proceedings
			</a>

		</div>
	</div>
</div>

<div class="container">
	<div class="row row-feature text-center"> <!--row-feature-first -->
		<div class="col-md-6 col-md-offset-3">
			<div class="row row-no-container">
				<div class="col-xs-4">
					<img src="/img/logo-imec.jpg">
				</div>
				<div class="col-xs-4">
					<img src="/img/logo-eidec.jpg">
				</div>
				<div class="col-xs-4">
					<img src="/img/logo-berkeley-lab-bw-2.jpg">
				</div>
			</div>
		</div>
	</div>
</div>

<!--
<div class="container">
	<div class="row row-feature row-feature-last text-center">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="tight-top">About the symposium</h3>

			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

		</div>
	</div>
</div>

-->
