<ng-include src="'templates/nav-top.html'"></ng-include>

<nav class="navbar navbar-light">

	<!--<div class="container">-->
		
		<!-- Mobile (toggle)-->
		<div class="row hidden-sm-up">
			<div class="col-xs-12 col-nopad-l">
				<button class="navbar-toggler" 
						type="button" 
						ng-click="toggleNav()">
					&#9776;
				</button>
			</div>			
		</div>
		
		<!-- Mobile (un-collapsed nav) -->
		<div 	class="row hidden-sm-up"
				ng-if="!navCollapse"
				ng-click="toggleNav()">
			<div class="col-xs-12 text-center">
				<ul class="nav nav-pills nav-stacked nav-pills-underline">
					<li class="nav-item">
					<a class="nav-link" ng-click="go('app.home')">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#">2016 Meeting Details</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" ng-click="go('app.proceedings')">Proceedings</a>
				  </li>
				  
				  
				</ul>
			</div>		
		</div>
		
		<!-- Non-mobile -->
		<div class="row hidden-xs-down">
			<div class="col-xs-12 text-center">
			 
			 <ul class="nav navbar-nav navbar-nav-center">
				
				<li class="nav-item">
					<a class="nav-link" ng-click="go('app.home')">Home</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" ng-click="go('app.proceedings')">Proceedings</a>
				</li>
			  </ul>
			  
			</div>
			
		</div>
		
	<!--</div>-->
</nav>
